<section>
  <div class="text-center">
    <form class="form-group" ng-init="initSearch()" ng-submit="search(searchType, keyword)">
      <div class="input-group input-group-sm">
        <input type="text" class="col-md-12 form-control" ng-model="keyword">
        <span class="input-group-btn">
          <button type="btn" type="submit" class="btn btn-info btn-flat">Search</button>
        </span>
      </div>

      <div class="btn-group">
        <label class="btn btn-sm btn-default" ng-model="searchType"
          uib-btn-radio="'buyer'" ng-click="search('buyer')">
          Customer
        </label>
        <label class="btn btn-sm btn-default" ng-model="searchType"
          uib-btn-radio="'seller'" ng-click="search('seller')">
          Supplier
        </label>
        <label class="btn btn-sm btn-default" ng-model="searchType"
          uib-btn-radio="'vendor'" ng-click="search('vendor')">
          Vendors
        </label>
        <label class="btn btn-sm btn-default" ng-model="searchType"
          uib-btn-radio="'concession'" ng-click="search('concession')">
          Concessions
        </label>
      </div>
    </form>
  </div>
</section>