<div class="box box-info">
  <div class="box-header with-border" ng-click="isCollapsed = !isCollapsed" style="cursor: pointer">
    <h3 class="box-title">{{ lead.lead_type === 'b' ? 'Buy' : 'Sell' }} Lead</h3>
    <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="isCollapsed"></span> 
    <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="!isCollapsed"></span> 
  </div>
  <div class="box-body" uib-collapse="isCollapsed">
    <!-- Button show on large screen -->
    <div class="pull-right btn-group">
      <button type="button" class="btn btn-default" ng-click="status(lead, 'l')"
        ng-if="(lead.order_status==='v' || lead.order_status===3) && Authentication.user.id===lead.user_id">
        <i class="glyphicon glyphicon-arrow-right"></i> Mark as Leads
      </button>
      <button type="button" class="btn btn-default" ng-click="status(lead, 'v')"
        ng-if="lead.order_status==='l' && Authentication.user.id===lead.user_id">
        <i class="glyphicon glyphicon-arrow-right"></i> Mark Verified
      </button>
      <button type="button" class="btn btn-default" ui-sref="lead.update({ id:lead.id })"
        ng-if="lead.order_status!=='s' && lead.order_status!=='p' && Authentication.user.id===lead.user_id">
        <i class="glyphicon glyphicon-pencil"></i> Update
      </button>
      <button type="button" class="btn btn-danger" ng-click="status(lead, 'x')"
        ng-if="lead.order_status!=='s' && lead.order_status!=='p' && Authentication.user.id===lead.user_id">
        <i class="glyphicon glyphicon-trash"></i> Delete
      </button>
    </div>

    <div class="form-group row-fluid">
      <h1>{{ lead.buyer.company_name }}</h1>
      <label ng-show="lead.product_name">Product Name : </label>
      <p>{{ lead.product_name }}</p>
      <label>Typical Quality : </label>
      <p>{{ lead.typical_quality }}</p>
      <label ng-show="lead.address">Address : </label>
      <p>{{ lead.address }}</p>
      <div class="col-xs-6" style="padding-left:0">
        <label>City : </label>
        <p>{{ lead.city }}</p>
        <label>Volume of Coal : </label>
        <p>{{ lead.volume }} mt, available {{ lead.volume - lead.used[0].volume }} mt</p>
        <label>Input Date : </label>
        <p>{{ lead.order_date | date : 'd MMMM yyyy' }}</p>
      </div>
      <div class="col-xs-6" style="padding-left:0">
        <label>Country : </label>
        <p>{{ lead.country }}</p>
        <label>Asking Price : </label>
        <p>$ {{ lead.price }}</p>
        <label>Laycan Schedule : </label>
        <p>{{ lead.laycan_start | date : 'd MMMM yyyy' }} - {{ lead.laycan_end | date : 'd MMMM yyyy' }}</p>
      </div>
      <div class="col-xs-12" style="padding-left:0">
        <label>Valid Until : </label>
        <p>{{ lead.order_expired | date : 'd MMMM yyyy' }}</p>
      </div>
      <div class="col-xs-6" style="padding-left:0">
        <label>Shipping Term : </label>
        <p>{{ lead.trading_term }} {{ lead.trading_term_detail }}</p>
      </div>
      <div class="col-xs-6" style="padding-left:0">
        <label>Payment Terms : </label>
        <p>{{ lead.payment_terms }}</p>
      </div>
      <label>Penalty : </label>
      <p>{{ lead.penalty_desc }}</p>
    </div>
  </div>
</div>