<div class="box box-default">
  <div class="box-header with-border" ng-click="isCollapsed2 = !isCollapsed2" style="cursor: pointer">
    <h3 class="box-title">Product Quality</h3>
    <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="isCollapsed2"></span> 
    <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="!isCollapsed2"></span> 
  </div>
  <div class="box-body" uib-collapse="isCollapsed2">
    <div class="row-fluid" style="margin:10px">
      <div class="col-md-12 col-lg-12">
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr style="background-color: darkgray"}>
              <th style="width:30%">Quality </th>
              <th>Typical</th>
              <th>Bonus</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <tr lead-quality 
            min="lead.gcv_adb_min" max="lead.gcv_adb_max"
            bonus="lead.gcv_adb_bonus" reject="lead.gcv_adb_reject" quality="'GCV ADB'"
            >
            </tr>
            <tr lead-quality 
            min="lead.gcv_arb_min" max="lead.gcv_arb_max"
            bonus="lead.gcv_arb_bonus" reject="lead.gcv_arb_reject" quality="'GCV ARB'"
            >
            </tr>
            <tr lead-quality 
            min="lead.ncv_min" max="lead.ncv_max"
            bonus="lead.ncv_bonus" reject="lead.ncv_reject" quality="'NCV ARB'"
            >
            </tr>
            <tr lead-quality 
            min="lead.tm_min" max="lead.tm_max"
            bonus="lead.tm_bonus" reject="lead.tm_reject" quality="'Total Moisture (ARB)'"
            >
            </tr>
            <tr lead-quality 
            min="lead.im_min" max="lead.im_max"
            bonus="lead.im_bonus" reject="lead.im_reject" quality="'Inherent Moisture (ADB)'"
            >
            </tr>
            <tr lead-quality 
            min="lead.vm_min" max="lead.vm_max"
            bonus="lead.vm_bonus" reject="lead.vm_reject" quality="'Volatile Matter (ADB)'"
            >
            </tr>
            <tr lead-quality 
            min="lead.ash_min" max="lead.ash_max"
            bonus="lead.ash_bonus" reject="lead.ash_reject" quality="'Ash (ADB)'"
            >
            </tr>
            <tr lead-quality 
            min="lead.fc_min" max="lead.fc_max"
            bonus="lead.fc_bonus" reject="lead.fc_reject" quality="'Fixed Carbon (ADB)'"
            >
            </tr>
            <tr lead-quality 
            min="lead.ts_min" max="lead.ts_max"
            bonus="lead.ts_bonus" reject="lead.ts_reject" quality="'Total Sulphur (ADB)'"
            >
            </tr>
            <tr lead-quality 
            min="lead.hgi_min" max="lead.hgi_max"
            bonus="lead.hgi_bonus" reject="lead.hgi_reject" quality="'HGI'"
            >
            </tr>
            <tr lead-quality 
            min="lead.size_min" max="lead.size_max"
            bonus="lead.size_bonus" reject="lead.size_reject" quality="'SIZE (0-50mm)'"
            >
            </tr>
            <tr lead-quality 
            min="lead.fe2o3_min" max="lead.fe2o3_max"
            bonus="lead.fe2o3_bonus" reject="lead.fe2o3_reject" quality="'Fe2O3'"
            >
            </tr>
            <tr lead-quality 
            min="lead.aft_min" max="lead.aft_max"
            bonus="lead.aft_bonus" reject="lead.aft_reject" quality="'AFT'"
            >
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>