<section class="content" ng-controller="ListLeadController" ng-init="init()">
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title" style="font-size: 25px">{{ lead_type == 'buy' ? 'Buy' : 'Sell' }} Leads</h1>
      <div class="box-tools pull-right">
        <button ui-sref="lead.create()" class="col-md-12 btn btn-primary">+ Create New</button>
      </div>
    </div>
    <div class="box-body">
      <uib-tabset active="activeJustified" justified="true" ng-init="findStatus('draft', lead_type)">
        <uib-tab index="0" ng-click="findStatus('draft', lead_type)">
          <uib-tab-heading>
            <i class='glyphicon glyphicon-fire'></i>  Draft<i class='glyphicon glyphicon-chevron-right pull-right'></i>
          </uib-tab-heading>
          <section ng-include="'/angular/lead/views/_table.partial.html'"></section>
        </uib-tab>
        <uib-tab index="1" ng-click="findStatus('l', lead_type)">
          <uib-tab-heading>
            <i class='glyphicon glyphicon-share'></i>  Lead<i class='glyphicon glyphicon-chevron-right pull-right'></i>
          </uib-tab-heading>
          <section ng-include="'/angular/lead/views/_table.partial.html'"></section>
        </uib-tab>
        <uib-tab index="2" ng-click="findStatus('v', lead_type)">
          <uib-tab-heading>
            <i class='glyphicon glyphicon-earphone'></i>  Verified<i class='glyphicon glyphicon-chevron-right pull-right'></i>
          </uib-tab-heading>
          <section ng-include="'/angular/lead/views/_table.partial.html'"></section>
        </uib-tab>
        <uib-tab index="3" ng-click="findStatus('s', lead_type)">
          <uib-tab-heading>
            <i class='glyphicon glyphicon-magnet'></i>  Staged<i class='glyphicon glyphicon-chevron-right pull-right'></i>
          </uib-tab-heading>
          <section ng-include="'/angular/lead/views/_table.partial.html'"></section>
        </uib-tab>
        <uib-tab index="4" ng-click="findStatus('p', lead_type)">
          <uib-tab-heading>
            <i class='glyphicon glyphicon-magnet'></i>  Partial<i class='glyphicon glyphicon-chevron-right pull-right'></i>
          </uib-tab-heading>
          <section ng-include="'/angular/lead/views/_table.partial.html'"></section>
        </uib-tab>
        <uib-tab index="5" ng-click="findStatus('all', lead_type)">
          <uib-tab-heading>
            <i class='glyphicon glyphicon-magnet'></i>  All<i class='glyphicon glyphicon-chevron-right pull-right'></i>
          </uib-tab-heading>
          <section ng-include="'/angular/lead/views/_table.partial.html'"></section>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</section>