<div class="box">
  <div class="box-body">
    <section ng-controller="LeadController" ng-init="initSearch()">
      <div class="text-center">
        <form class="form-group" ng-submit="search()">
          <div class="input-group input-group-sm">
                    <input type="text" class="col-md-12 form-control" ng-model="keyword">
                    <span class="input-group-btn">
                      <button type="btn" type="submit" class="btn btn-info btn-flat">Search</button>
                    </span>
                  </div>
          </form>

        <div class="btn-group">
          <label class="btn btn-default" ng-model="searchType" uib-btn-radio="'buyer'">
          Buyer
          </label>
          <label class="btn btn-default" ng-model="searchType" uib-btn-radio="'seller'">
          Sellers
          </label>
          <!-- <label class="btn btn-default" ng-model="searchType" uib-btn-radio="'vendor'">
          Vendors
          </label>
          <label class="btn btn-default" ng-model="searchType" uib-btn-radio="'product'">
          Products
          </label>
          <label class="btn btn-default" ng-model="searchType" uib-btn-radio="'concession'">
          Concession
          </label>
          <label class="btn btn-default" ng-model="searchType" uib-btn-radio="'contact'">
          Contacts
          </label> -->
        </div>
      </div>
    </section>
  </div>
</div>