<section ng-controller="LeadController" ng-init="total()">
  <!-- small box -->
  <div class="small-box bg-red">
    <div class="inner">
      <h4>{{ totalBuyer.count }} Records</h4>

      <p>Costumer</p>
    </div>
    <div class="icon">
      <i class="fa fa-building"></i>
    </div>
    <a ui-sref="lead.buyer" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>

  <div class="small-box bg-aqua">
    <div class="inner">
      <h4>{{ totalSeller.count }} Records </h4>

      <p>Supplier</p>
    </div>
    <div class="icon">
      <i class="fa fa-industry"></i>
    </div>
     <a ui-sref="lead.seller" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
  </div>

  <!-- <div class="small-box bg-aqua">
            <div class="inner">
              <h4>{{ totalVendor.count }} Records</h4>

              <p>VENDORS</p>
            </div>
            <div class="icon">
              <i class="fa fa-ship"></i>
            </div>
             <a ui-sref="lead.vendor" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div> -->
    
    <div class="small-box bg-green">
      <div class="inner">
        <h4>Map</h4>

        <p>Dashboard</p>
      </div>
      <div class="icon">
        <i class="fa fa-map"></i>
      </div>
      <a ui-sref="map.index" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
    </div>

    <div class="small-box bg-yellow">
      <div class="inner">
        <h4>Index Price</h4>

        <p>Dashboard</p>
      </div>
      <div class="icon">
        <i class="fa fa-line-chart"></i>
      </div>
      <a ui-sref="dashboard.index" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  <!--div class="small-box bg-red">
        <div class="inner">
            <h4>{{ totalProduct.count }} Records</h4>
            <p>PRODUCTS</p>
        </div>
        <div class="icon">
            <i class="ion ion-bag"></i>
        </div>
        <a ui-sref="lead.product" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  <div class="small-box bg-maroon">
        <div class="inner">
            <h4>{{ totalConcession.count }} Records</h4>
      <p>CONCESSION</p>
        </div>
        <div class="icon">
            <i class="ion ion-pie-graph"></i>
        </div>
        <a ui-sref="lead.concession" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
    </div>

  <div class="small-box bg-teal">
        <div class="inner">
            <h4>{{ totalContact.count }} Records</h4>
            <p>CONTACTS</p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a ui-sref="lead.contact" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
    </div-->
</section>