<div class="box">
  <div class="box-header with-border">
    <h1 class="box-title"></h1>
    <div class="pull-left">
      <a class="btn btn-default" ui-sref="company.create">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
      </a>
    </div>
    <div class="pull-right">
      <a class="btn btn-success" ui-sref="company.wizard.operation({ id: company.id })">
        <i class="glyphicon glyphicon-arrow-right"></i> Next
      </a>
    </div>
  </div>
</div>

<div ng-include="'/angular/coalpedia/views/contact/_company-contact.partial.html'"></div>

<div ng-include="'/angular/coalpedia/views/port/_company-port.partial.html'"></div>

<div class="box">
  <div class="box-header with-border">
    <h1 class="box-title"></h1>
    <div class="pull-left">
      <a class="btn btn-default" ui-sref="company.create">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
      </a>
    </div>
    <div class="pull-right">
      <a class="btn btn-success" ui-sref="company.wizard.operation({ id: company.id })">
        <i class="glyphicon glyphicon-arrow-right"></i> Next
      </a>
    </div>
  </div>
</div>