<section  ng-controller="CompanyController">
  <div ng-include="'/angular/coalpedia/views/company/wizard/_progress.partial.html'" class="visible-lg"></div>

  <div class="box box-info">
    <div class="box-header with-border">
      <h1 class="box-title" style="font-size: 25px">CREATE A {{ companyType | uppercase }}</h1>
      <div class="box-tools pull-right">
        <a class="btn btn-success" ui-sref="company.wizard.connection({ id: selected.company.id })" ng-if="selected.company">
          <i class="glyphicon glyphicon-arrow-right"></i> Next
        </a>
      </div>
    </div>
    
    <div class="box-body">
      <section>
        <form role="form">
          <div class="form-group">
            <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
          </div>

          <div class="select-box" ng-init="find()">
            <label for="id">Name of  {{ companyType }} :</label>
            
            <ui-select ng-model="selected.company"
              reset-search-input="false"
              style="min-width: 30px;"
              title="Choose an address">
              <ui-select-match placeholder="Name of the  {{ companyType }}">
                {{$select.selected.company_name}}
              </ui-select-match>

              <ui-select-choices repeat="company in companies track by $index"
                refresh="find($select.search)"
                refresh-delay="0">
                <div ng-bind-html="company.company_name  | highlight: $select.search | html"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </form>

        <br>

        <section ng-if="!selected.company">
          <div class="text-center col-md-4 col-md-offset-4">
            OR
          </div>
          <br>
          <br>
          <button type="button" class="btn btn-primary btn-block" ng-click="modalCreate()">
            <b>+</b> Add new {{ companyType }}
          </button>
        </section>
        <br>

        <div ng-include="'/angular/coalpedia/views/company/wizard/_company.partial.html'" ng-show="selected.company"></div>
      </section>
    </div>
  </div>
</section>