<div class="box">
  <div class="box-header with-border">
    <h1 class="box-title"></h1>
    <div class="pull-left">
      <a class="btn btn-default" ui-sref="company.wizard.connection({ id: company.id })">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
      </a>
    </div>
    <div class="pull-right">
      <a class="btn btn-success" ui-sref="company.wizard.product({ id: company.id })">
        <i class="glyphicon glyphicon-arrow-right"></i> Next
      </a>
    </div>
  </div>
</div>

<div ng-include="'/angular/coalpedia/views/concession/_company-concession.partial.html'"
  ng-if="company.company_type !== 'c' && company.company_type !== 'v'"></div>
<div ng-include="'/angular/coalpedia/views/factory/_company-factory.partial.html'" ng-if="company.company_type !== 's'"></div>

<div class="box">
  <div class="box-header with-border">
    <h1 class="box-title"></h1>
    <div class="pull-left">
      <a class="btn btn-default" ui-sref="company.wizard.connection({ id: company.id })">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
      </a>
    </div>
    <div class="pull-right">
      <a class="btn btn-success" ui-sref="company.wizard.product({ id: company.id })">
        <i class="glyphicon glyphicon-arrow-right"></i> Next
      </a>
    </div>
  </div>
</div>