<section class="content" ng-controller="BuyerController">
  <div class="col-md-3 col-lg-2">
    <section ng-include="'./angular/lead/views/side-menu.view.html'"></section>
  </div>
  <div class="col-md-9 col-lg-10">
    <section ng-include="'./angular/lead/views/search-bar.view.html'"></section>
    <div class="box box-info">
      <div class="box-header with-border">
        <h1 class="box-title" style="font-size: 25px">Create Customer</h1>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-danger" ui-sref="lead.buyer">
          <i class="glyphicon glyphicon-arrow-left"></i> Back
          </button>
         
          <button type="button" class="btn btn-success" ng-click="nextToFactory()">
            <i class="glyphicon glyphicon-arrow-right"></i> Next
          </button>
        </div>
      </div>
      <div class="box-body">
        <section>
          <form role="form">
            <!-- <div class="form-group" ng-init="findAllBuyers()">
              <label for="id">Name of Company :</label>
              <select class="form-control" ng-model="buyer.id">
                <option value=""></option>
                <option ng-repeat="buyer in buyers" value="{{ buyer.id }}">{{ buyer.company_name }}</option>
              </select>
            </div> -->
            <div class="form-group">
              <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
            </div>
            <div class="select-box" ng-init="findAllBuyers()">
              <label for="id">Name of Company :</label>
              <ui-select ng-model="buyer.selected" style="min-width: 300px;" title="Choose a person" append-to-body="true">
                <ui-select-match placeholder="Name Of Company">{{ buyer.selected.company_name }}</ui-select-match>
                <ui-select-choices repeat="buyer in buyers | propsFilter: {company_name: $select.search} | orderBy:'company_name'">
                  <div ng-bind-html="company_name | highlight: $select.search"></div>
                  <small>
                    {{buyer.company_name}}
                  </small>
                </ui-select-choices>
              </ui-select>
            </div>


            <!-- <div ng-include="'/angular/lead/views/seller/form.view.html'"></div> -->
          </form>
          </br>
         
          <div class="text-center col-md-4 col-md-offset-4">
            OR
          </div>
          </br>
          </br>
          <button type="button" class="btn btn-primary btn-block" ng-click="openCreateBuyerModal()">
            <b>+</b> Add New Company
          </button>
          </br>
          <div class="box box-primary" ng-show="buyer.selected">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/images/default.jpg"" alt="User profile picture">

              <h3 class="profile-username text-center">{{buyer.selected.company_name}}</h3>

              <ul class="list-group list-group-unbordered" col-mg-4>
                <li class="list-group-item">
                  <b>Customer Category</b>
                  <span class="badge" ng-show="buyer.selected.is_trader===1"><i class='fa fa-share-alt'></i> TRADER</span>
                  <span class="badge" ng-show="buyer.selected.is_trader===0"><i class='fa fa-share-alt'></i> END USER</span>
                </li>
                <li class="list-group-item">
                  <b>Customer status </b>
                  <span class="badge" ng-show="buyer.selected.is_affiliated===1"><i class='fa fa-tags'></i> AFFILIATED</span>
                  <span class="badge" ng-show="buyer.selected.is_affiliated===0"><i class='fa fa-tags'></i> NON - AFFILIATED</span>
                </li>
                <li class="list-group-item">
                  <b>Phone</b> <a class="pull-right">{{buyer.selected.phone}}</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="pull-right">{{buyer.selected.email}}</a>
                </li>
                <li class="list-group-item">
                  <b>Web</b> <a class="pull-right">{{buyer.selected.web}}</a>
                </li>
                <li class="list-group-item">
                  <b>Address</b> <a class="pull-right">{{buyer.selected.address}}</a>
                </li>
                <li class="list-group-item">
                  <b>City</b> <a class="pull-right">{{buyer.selected.city}}</a>
                </li>
                <li class="list-group-item">
                  <b>Country</b> <a class="pull-right">{{buyer.selected.country}}</a>
                </li>
                <li class="list-group-item">
                  <b>Industry</b> <a class="pull-right">{{buyer.selected.industry}}</a>
                </li>
                <li class="list-group-item">
                  <b>Annual Demand</b> <a class="pull-right">{{buyer.selected.annual_demand}} <span class='badge'>Million Ton</span></a> 
                </li>
                <li class="list-group-item">
                  <b>Shipping Term</b> <a class="pull-right">{{buyer.selected.preferred_trading_term}} {{buyer.selected.preferred_trading_term_detail}}</a>
                </li>
                <li class="list-group-item">
                  <b>Payment Term</b> <a class="pull-right">{{buyer.selected.preferred_payment_term}}</a>
                </li>
                <li class="list-group-item">
                  <b>Description</b> <a class="pull-right">{{buyer.selected.description}}</a>
                </li>
              </ul>

             
            </div>
            <!-- /.box-body -->
          </div>
        </section>
      </div>      
    </div>
  </div>

          
  
</section>