<div class="form-group">
  <label for="buyer_name">Name of Company:</label>
  <input name="company_name" type="text" class="form-control" id="company_name" ng-model="buyer.company_name" required>
</div>

<div class="form-group">
  <label for="buyer_name">Customer Category:</label>
  <div class="form-group">
    <select class="form-control" ng-model="buyer.is_trader">
      <option value="1">Trader</option>
      <option value="0">End User</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="buyer_name">Customer Status:</label>
  <div class="form-group">
    <select class="form-control" ng-model="buyer.is_affiliated">
      <option value="1">Affiliated</option>
      <option value="0">Non - Affiliated</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="headquarter_location">Main business of Customer:</label>
  <div class="btn-group hidden-xs">
    <label class="btn btn-default" ng-model="buyer.industry" uib-btn-radio="'Cements Industry'">Cements Industry</label>
    <label class="btn btn-default" ng-model="buyer.industry" uib-btn-radio="'Pulp & Paper'">Pulp & Paper</label>
    <label class="btn btn-default" ng-model="buyer.industry" uib-btn-radio="'Power Plants'">Power Plants</label>
    <label class="btn btn-default" ng-model="buyer.industry" uib-btn-radio="'General Industry'">General Industry</label>
  </div>
  <div class="btn-group-vertical visible-xs">
    <select class="form-control" ng-model="buyer.industry">
      <option value="Cements Industry">Cements Industry</option>
      <option value="Pulp & Paper">Pulp & Paper</option>
      <option value="Power Plants">Power Plants</option>
      <option value="General Industry">General Industry</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="phone">Phone Number:</label>
  <input name="phone" type="text" class="form-control" id="phone" ng-model="buyer.phone" required>
</div>

<div class="form-group">
  <label for="contact">Email:</label>
  <input name="email" type="text" class="form-control" id="email" ng-model="buyer.email" required>
</div>

<div class="form-group">
  <label for="web">Web:</label>
  <input name="web" type="text" class="form-control" id="web" ng-model="buyer.web">
</div>

<div class="form-group">
  <label for="headquarter_location">Address:</label>
  <input name="address" type="text" class="form-control" id="address" ng-model="buyer.address" required>
</div>

<div class="form-group">
  <label for="city">City:</label>
  <input name="city" type="text" class="form-control" id="city" ng-model="buyer.city" required>
</div>

<div class="form-group">
  <label for="country">Company origin (Country):</label>
  <input name="country" type="text" class="form-control" id="country" ng-model="buyer.country" required>
</div>

<!--<div class="form-group">
<label for="latitude">Latitude:</label>
<input name="latitude" type="text" class="form-control" id="latitude" ng-model="buyer.latitude">
</div>

<div class="form-group">
<label for="longitude">Longitude:</label>
<input name="longitude" type="text" class="form-control" id="longitude" ng-model="buyer.longitude">
</div>-->


<div class="form-group">
  <label for="annual_demand">Annual demand (Million Ton):</label>
  <input name="annual_demand" type="number" class="form-control" id="annual_demand" ng-model="buyer.annual_demand" required>
</div>

<div class="form-group">
  <label for="preferred_trading_term">Preferred Trading Term:</label>
  <div class="btn-group hidden-xs">
    <label class="btn btn-default" ng-model="buyer.preferred_trading_term" uib-btn-radio="'CNF'">CNF</label>
    <label class="btn btn-default" ng-model="buyer.preferred_trading_term" uib-btn-radio="'CIF'">CIF</label>
    <label class="btn btn-default" ng-model="buyer.preferred_trading_term" uib-btn-radio="'FAS'">FAS</label>
    <label class="btn btn-default" ng-model="buyer.preferred_trading_term" uib-btn-radio="'FOB'">FOB</label>
    <label class="btn btn-default" ng-model="buyer.preferred_trading_term" uib-btn-radio="'Franco'">Franco</label>
    <div class="input-group" style="margin-bottom: 5px;">
      <input name="preferred_trading_term_detail" type="text" class="form-control" id="total_annual_sales" ng-model="buyer.preferred_trading_term_detail" placeholder="Detail">
    </div>
  </div>
  <div class="btn-group-vertical visible-xs">
    <select class="form-control" ng-model="buyer.preferred_trading_term">
      <option value="CNF">CNF</option>
      <option value="CIF">CIF</option>
      <option value="FAS">FAS</option>
      <option value="FOT">FOT</option>
      <option value="FOB">FOB</option>
      <option value="Franco">Franco</option>
      <option value="">Other</option>
    </select>
    <div class="input-group" style="margin-bottom:5px;display:inline">
      <input name="preferred_trading_term_detail" type="text" class="form-control" id="total_annual_sales" ng-model="buyer.preferred_trading_term_detail" placeholder="Detail">
    </div>
  </div>
</div>

<div class="form-group">

  <label for="headquarter_location">Preferred Buying Term:</label>
  <!--<input name="preferred_payment_term" type="text" class="form-control" id="preferred_payment_term" ng-model="buyer.preferred_payment_term" required>-->
  <select name="preferred_payment_term" id="preferred_payment_term" class="form-control"
  ng-model="buyer.preferred_payment_term" ng-change="freetext()">
  <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
</select>
<input type="text" class="form-control" ng-model="buyer.preferred_payment_term" placeholder="Payment Terms" ng-if="buyer.freetext"/>
</div>

<div class="form-group">
  <label for="description">Description:</label>
  <textarea name="description" class="form-control" id="description" ng-model="buyer.description" required></textarea>
</div>

<button type="submit" class="btn btn-default">Submit</button>
