<table st-table="displayedCollection" st-safe-src="buy_orders" class="table table-striped">
  <thead>
    <tr>
      <th colspan="11"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
    <tr>
      <th st-sort="id">#</th>
      <th st-sort="user.name">PIC</th>
      <th st-sort="order_date">Input Date</th>
      <th st-sort="buyer.company_name">Company</th>
      <th st-sort="product_name">Quality</th>
      <th st-sort="volume">Quantity</th>
      <th st-sort="order_deadline">Lead Expired Date</th>
      <th st-sort="max_price">Price / Tonnes</th>
      <th st-sort="city">Location</th>
      <th st-sort="order_status">Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="buy_order in displayedCollection">
      <td>{{ buy_order.id }}</td>
      <td>{{ buy_order.user.name }}</td>
      <td>{{ buy_order.order_date | date : 'd MMMM yyyy' }}</td>
      <td>{{ buy_order.buyer.company_name }}</td>
      <td><a style="cursor:pointer" ui-sref="lead.view-product({ id: sell_order.product_id })">{{ buy_order.typical_quality }}</a></td>
      <td>{{ buy_order.volume }} Metric Ton</td>
      <td>{{ buy_order.order_deadline | date : 'd MMMM yyyy' }}</td>
      <td>{{ buy_order.max_price | currency : $ : 2}}</td>
      <td>{{ buy_order.city }}</td>
      <td ng-if="buy_order.order_status==='l'">Lead</td>
      <td ng-if="buy_order.order_status==='v'">Verified</td>
      <td ng-if="buy_order.order_status==='s'">Staged</td>
      <td ng-if="buy_order.order_status==='p'">Partial</td>
      <td ng-if="buy_order.order_status==='0'"><a style="cursor:pointer" ng-click="toCustomer(buy_order.id)">STEP : Customer</a></td>
      <td ng-if="buy_order.order_status==='1'"><a style="cursor:pointer" ng-click="toFactory(buy_order.buyer_id,buy_order.id)">STEP : Factory</a></td>
      <td ng-if="buy_order.order_status==='2'"><a style="cursor:pointer" ng-click="toProduct(buy_order.buyer_id,buy_order.id,buy_order.factory_id)">STEP : Product</a></td>
      <td ng-if="buy_order.order_status==='3'"><a style="cursor:pointer" ng-click="toPort(buy_order.buyer_id,buy_order.id,buy_order.factory_id)">STEP : Port</a></td>
      <td ng-if="buy_order.order_status==='4'"><a style="cursor:pointer" ng-click="toSummary(buy_order.buyer_id,buy_order.id,buy_order.factory_id)">STEP : Summary</a></td>
      <td>
        <a ng-if="buy_order.order_status==='s'||buy_order.order_status==='l'||buy_order.order_status==='v'" ui-sref="buy-order.view({ id: buy_order.id })"><i class="glyphicon glyphicon-info-sign"></i></a>
        <a ng-if="buy_order.order_status!=='s'&&buy_order.order_status!=='p'&&Authentication.user.id===buy_order.user_id" ng-click="changeOrderStatus(buy_order, 'x')" style="cursor: pointer" uib-tooltip="Delete Order"    ><i class="glyphicon glyphicon-trash"></i></a>
      </td>
    </tr>
    <tr ng-if="displayedCollection.length == 0">
      <td colspan="11" class="text-center">No data available</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="11" class="text-center">
        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
      </td>
    </tr>
  </tfoot>
</table>