<div class="form-group">
  <label for="term">Product Name :</label>
  <input type="text" class="form-control" id="product_name" nama="product_name" ng-model="product.product_name" required>
</div>
<div class="form-group">
  <label for="typical_quality">Typical Quality Name :</label>
  <input type="text" class="form-control" id="typical_quality" nama="typical_quality" ng-model="product.typical_quality" required>
</div>
<div class="form-group">
  <h2>Coal Quality</h2>
  <table class="table table-striped">
    <tr align="center">
      <th>
        Characteristics
      </th>
      <th>
        Min
      </th>
      <th>
        Max
      </th>
      <th>
        Bonus
      </th>
      <th>
        Reject
      </th>
    </tr>
    <tr>
      <td>
        Gross Caloric ADB
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="product.gcv_adb_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="product.gcv_adb_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="bonusreject.gcv_adb_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="bonusreject.gcv_adb_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Gross Caloric ARB
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="product.gcv_arb_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="product.gcv_arb_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="bonusreject.gcv_arb_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="bonusreject.gcv_arb_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Nett Caloric Value ARB
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="product.ncv_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="product.ncv_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="bonusreject.ncv_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="kcal" ng-model="bonusreject.ncv_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Total Moisture (ARB)
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.tm_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.tm_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.tm_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.tm_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Inherent Moisture (ADB)
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.im_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.im_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.im_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.im_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Volatile Matter (ADB)
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.vm_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.vm_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.vm_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.vm_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Ash (ADB)
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.ash_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.ash_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.ash_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.ash_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Fixed Carbon (ADB)
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.fc_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.fc_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.fc_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.fc_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Total Sulphur (ADB)
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.ts_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.ts_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.ts_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.ts_bonus">
      </td>
    </tr>
    <tr>
      <td>
        HGI
      </td>
      <td>
        <input type="text" class="form-control" placeholder="" ng-model="product.hgi_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="" ng-model="product.hgi_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="" ng-model="bonusreject.hgi_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="" ng-model="bonusreject.hgi_bonus">
      </td>
    </tr>
    <tr>
      <td>
        SIZE (0-50mm)
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.size_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.size_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.size_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.size_bonus">
      </td>
    </tr>
    <tr>
      <td>
        Fe2o3
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.fe2o3_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="product.fe2o3_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.fe2o3_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="%" ng-model="bonusreject.fe2o3_bonus">
      </td>
    </tr>
    <tr>
      <td>
        AFT
      </td>
      <td>
        <input type="text" class="form-control" placeholder="&#176" ng-model="product.aft_min">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="&#176" ng-model="product.aft_max">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="&#176" ng-model="bonusreject.aft_reject">
      </td>
      <td>
        <input type="text" class="form-control" placeholder="&#176" ng-model="bonusreject.aft_bonus">
      </td>
    </tr>
  </table>
  
  <label>Volume of Coal :</label>
  <input type="text" class="form-control" placeholder="Tones" ng-model="bonusreject.volume" required>

</div>