<div class="content" ng-controller="BuyOrderSummaryController" ng-init="findSummary()">
  <!-- HEADER -->
  <div class="row-fluid" style="margin-bottom: 10px">
    <button type="button" class="btn btn-primary" ng-click="backToPort()">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="finish()">
        <i class="glyphicon glyphicon-arrow-right"></i> Finish
      </button>
    </div>
  </div>
  
  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Buy Order</h3>
    </div>
    <div class="box-body">
      <div class="form-group row-fluid">
        <div class="form-group">
          <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
        </div>
        <h1>{{ buy_order.buyer.company_name }}</h1>
        <label>Product Name : </label>
        <p>{{ buy_order.product_name }}</p>
        <label>Address : </label>
        <p>{{ buy_order.address }}</p>
        <div class="col-xs-6" style="padding-left:0">
          <label>City : </label>
          <p>{{ buy_order.city }}</p>
          <label>Volume of Coal : </label>
          <p>{{ buy_order.volume }} Tones</p>
          <label>Order Date : </label>
          <p class="form-inline">
            <input type="date" class="form-control" ng-model="buy_order.order_date"/>
          </p>
          <label>Deadline : </label>
          <p class="form-inline">
            <input type="date" class="form-control" ng-model="buy_order.order_deadline"/>
          </p>
          <label>Buying Term : </label>
          <p class="form-inline">
            <select class="form-control" ng-model="buy_order.trading_term">
              <option value="CNF">CNF</option>
              <option value="CIF">CIF</option>
              <option value="FAS">FAS</option>
              <option value="FOB">FOB</option>
              <option value="Franco">Franco</option>
            </select>
            <input type="text" class="form-control" ng-model="buy_order.trading_term" placeholder="Other" />
          </p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Country : </label>
          <p>{{ buy_order.country }}</p>
          <label>Max Price : </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" ng-model="buy_order.max_price">
          </div>
          <label>Ready Date : </label>
          <p class="input-group">
            <input type="date" class="form-control" ng-model="buy_order.ready_date"/>
          </p>
          <label>Expired Date : </label>
          <p class="input-group">
            <input type="date" class="form-control" ng-model="buy_order.expired_date"/>
          </p>
          <label>Payment Terms : </label>
          <select class="form-control" ng-model="buy_order.payment_terms">
            <option value="TT">TT</option>
            <option value="LC on Sight">LC on Sight</option>
            <option value="LC on 30 days">LC on 30 days</option>
          </select>
        </div>
        <div class="col-xs-12" style="padding-left:0">
          <label>Penalty : </label>
          <textarea class="form-control" ng-model="buy_order.penalty"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Port</h3>
    </div>
    <div class="box-body">
        <h3><b>Port Name : </b></h3>
        <h4>{{ buy_order.port_name }}</h4>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Daily Rate : </label>
        <p>{{ buy_order.port_daily_rate }}</p>
      </div>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Distance : </label>
        <p>{{ buy_order.port_distance }} km</p>
      </div>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Draft Height : </label>
        <p>{{ buy_order.port_draft_height }} m</p>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Quality</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <table class="table" style="margin-bottom:0">
            <tbody>
              <tr>
                <td><h4><b>Gross Caloric ARB <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{buy_order.gcv_arb_min}} - {{buy_order.gcv_arb_max}} kcal</h4></td>
                <td class="hidden-xs hidden-sm"><h4><b>Gross Caloric ADB <div class="pull-right">:</div></b></h4></td>
                <td class="hidden-xs hidden-sm"><h4>{{buy_order.gcv_adb_min}} - {{buy_order.gcv_adb_max}} kcal</h4></td>
                <td class="hidden-xs hidden-sm"><h4><b>Total Sulphur <div class="pull-right">:</div></b></h4></td>
                <td class="hidden-xs hidden-sm"><h4>{{buy_order.ncv_min}} - {{buy_order.ncv_max}} kcal</h4></td>
              </tr>
              <tr class="hidden-md hidden-lg">
                <td><h4><b>Gross Caloric ADB <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{buy_order.gcv_adb_min}} - {{buy_order.gcv_adb_max}} kcal</h4></td>
              </tr>
              <tr class="hidden-md hidden-lg">
                <td><h4><b>Total Sulphur <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{buy_order.ncv_min}} - {{buy_order.ncv_max}} kcal</h4></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <table class="table">
            <tbody>
              <tr>
                <td><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ash_min}} - {{buy_order.ash_max}} %</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ts_min}} - {{buy_order.ts_max}} %</td>
              </tr>
              <tr>
                <td><b>Total Moisture <div class="pull-right">:</div></b></td>
                <td>{{buy_order.tm_min}} - {{buy_order.tm_max}} %</td>
              </tr>
              <tr>
                <td><b>Inherent Moisture <div class="pull-right">:</div></b></td>
                <td>{{buy_order.im_min}} - {{buy_order.im_max}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <table class="table">
            <tbody>
              <tr>
                <td><b>Fixed Carbon <div class="pull-right">:</div></b></td>
                <td>{{buy_order.fc_min}} - {{buy_order.fc_max}} %</td>
              </tr>
              <tr>
                <td><b>Volatile Matter <div class="pull-right">:</div></b></td>
                <td>{{buy_order.vm_min}} - {{buy_order.vm_max}} %</td>
              </tr>
              <tr>
                <td><b>Hardness <div class="pull-right">:</div></b></td>
                <td>{{buy_order.hgi_min}} - {{buy_order.hgi_max}} %</td>
              </tr>
              <tr>
                <td><b>Size <div class="pull-right">:</div></b></td>
                <td>{{buy_order.size_min}} - {{buy_order.size_max}} mm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Reject & Bonus</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <h3 style="text-align:center;font-weight:bold;margin-top:0">Reject</h3>
          <table class="table">
            <tbody>
              <tr>
                <td><b>Gross Caloric ARB <div class="pull-right">:</div></b></td>
                <td>{{buy_order.gcv_arb_reject}} kcal</td>
              </tr>
              <tr>
                <td><b>Gross Caloric ADB <div class="pull-right">:</div></b></td>
                <td>{{buy_order.gcv_adb_reject}} kcal</td>
              </tr>
              <tr>
                <td><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ash_reject}} %</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ts_reject}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <h3 style="text-align:center;font-weight:bold;margin-top:0">Bonus</h3>
          <table class="table">
            <tbody>
              <tr>
                <td><b>Gross Caloric ARB <div class="pull-right">:</div></b></td>
                <td>{{buy_order.gcv_arb_bonus}} kcal</td>
              </tr>
              <tr>
                <td><b>Gross Caloric ADB <div class="pull-right">:</div></b></td>
                <td>{{buy_order.gcv_adb_bonus}} kcal</td>
              </tr>
              <tr>
                <td><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ash_bonus}} %</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ts_bonus}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
  