<div class="content" ng-controller="BuyOrderController" ng-init="findOne()">
  <!-- HEADER -->
  <div class="row-fluid" style="margin-bottom: 10px">
    <button type="button" class="btn btn-primary" ui-sref="buy-order.index">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ui-sref="buy-order.index">
        <i class="glyphicon glyphicon-arrow-right"></i> Start Deal
      </button>
    </div>
  </div>
  
  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Buy Order</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <h1>{{ buy_order.buyer.company_name }}</h1>
        <label>Product Name : </label>
        <p>{{ buy_order.product_name }}</p>
        <label>Address : </label>
        <p>{{ buy_order.address }}</p>
        <label>Order Date : </label>
        <p>{{ buy_order.order_date }}</p>
        <label>Deadline : </label>
        <p>{{ buy_order.order_deadline }}</p>
        <label>Penalty : </label>
        <p>{{ buy_order.penalty_desc }}</p>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Quality</h3>
    </div>
    <div class="box-body">
      <div class="row-fluid" style="margin:10px">
        <div class="col-md-12 col-lg-12">
          <table class="table">
            <tbody>
              <tr>
                <td><h4><b>Gross Caloric ARB <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{buy_order.gcv_arb_min}} - {{buy_order.gcv_arb_max}} kcal</h4></td>
                <td class="hidden-xs hidden-sm"><h4><b>Gross Caloric ADB <div class="pull-right">:</div></b></h4></td>
                <td class="hidden-xs hidden-sm"><h4>{{buy_order.gcv_adb_min}} - {{buy_order.gcv_adb_max}} kcal</h4></td>
                <td class="hidden-xs hidden-sm"><h4><b>Total Sulphur <div class="pull-right">:</div></b></h4></td>
                <td class="hidden-xs hidden-sm"><h4>{{buy_order.ncv_min}} - {{buy_order.ncv_max}} kcal</h4></td>
              </tr>
              <tr class="hidden-md hidden-lg">
                <td><h4><b>Gross Caloric ADB <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{buy_order.gcv_adb_min}} - {{buy_order.gcv_adb_max}} kcal</h4></td>
              </tr>
              <tr class="hidden-md hidden-lg">
                <td><h4><b>Total Sulphur <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{buy_order.ncv_min}} - {{buy_order.ncv_max}} kcal</h4></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ash_min}} - {{buy_order.ash_max}} %</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{buy_order.ts_min}} - {{buy_order.ts_max}} %</td>
              </tr>
              <tr>
                <td><b>Total Moisture <div class="pull-right">:</div></b></td>
                <td>{{buy_order.tm_min}} - {{buy_order.tm_max}} %</td>
              </tr>
              <tr>
                <td><b>Inherent Moisture <div class="pull-right">:</div></b></td>
                <td>{{buy_order.im_min}} - {{buy_order.im_max}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>Fixed Carbon <div class="pull-right">:</div></b></td>
                <td>{{buy_order.fc_min}} - {{buy_order.fc_max}} %</td>
              </tr>
              <tr>
                <td><b>Volatile Matter <div class="pull-right">:</div></b></td>
                <td>{{buy_order.vm_min}} - {{buy_order.vm_max}} %</td>
              </tr>
              <tr>
                <td><b>Hardness <div class="pull-right">:</div></b></td>
                <td>{{buy_order.hgi_min}} - {{buy_order.hgi_max}} %</td>
              </tr>
              <tr>
                <td><b>Size <div class="pull-right">:</div></b></td>
                <td>{{buy_order.size_min}} - {{buy_order.size_max}} mm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
  