<div class="modal-content">
  <div class="modal-header">
    Choose Supplies
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <table class="table table-striped" ng-init="matchedSupply(1)">
      <thead>
        <tr>
          <th>Mine Pit</th>
          <th>Volume(tonnes)</th>
          <th>GCV[ARB](kcal)</th>
          <th>GCV[ADB](kcal)</th>
          <th>NCV(kcal)</th>
          <th>Ash(%)</th>
          <th>Distance(km)</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="m in matchSupply">
          <td>{{ m.mine_name }}</td>
          <td >{{ m.volume | number }}</td>
          <td >{{ m.gcv_arb_min | number }} ~ {{ m.gcv_arb_max | number }}</td>
          <td >{{ m.gcv_adb_min | number }} ~ {{ m.gcv_adb_max | number }}</td>
          <td >{{ m.ncv_min | number }} ~ {{ m.ncv_max | number }}</td>
          <td >{{ m.ash_min }} ~ {{ m.ash_max }}</td>
          <td >{{ m.posdif * 111.32 | number }}</td>
          <td colspan="4" style="text-align: center;">
            <a class="btn btn-info" ng-click="createOrderFulfillment(order, m)">SELECT</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal">Submit</button>
    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
  </div>
</div>