<div class="row with-top-divider">
  <div class="col-lg-9">
    <h4 class="with-divider">
      Deal Participants
      <p class="btn-group pull-right">
        <button class="btn btn-default" data-toggle="modal" data-target="#matchModal">Add Buy Order</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#matchModal">Add Sell Order</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#matchModal">Add Service</button>
      </p>
    </h4>

    <div class="with-divider" style="height:45vh; border: 1px">
      <section ng-include="'./angular/deal/views/modal-component/match-maker.view.html'"></section>
    </div>
  </div>

  <div class="col-lg-3">
    <h4 class="with-divider">Negotiation Log</h4>

    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        <b>2015-08-03</b><br/>
        Buy -50M from PT Kuansing Inti Makmur
      </li>
      <li class="list-group-item list-group-item-success">
        <b>2015-08-03</b><br/>
        Buy -70M from PT Golden Energy Mines
      </li>
      <li class="list-group-item list-group-item-info">
        <b>2015-08-01</b><br/>
        Sell +200M to PT Wilmar Nabati Indonesia
      </li>
      <li class="list-group-item">
        <a href="#">See More ...</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="with-divider">
      <div><b>Sales</b> <span class="pull-right">USD 5.600.000.000,-</span></div>
      <div><b>CoGS</b> <span class="pull-right">USD 5.000.000.000,-</span></div>
      <div><b>Services</b> <span class="pull-right">USD 75.000.000,-</span></div>
    </div>

    <div>
      <b>Margin</b> <span class="pull-right">USD 525.000.000,-</span>
    </div>  
  </div>
  <div class="col-lg-3">
    <div class="row" style="margin-bottom:10px;">
      <a class="btn btn-success" style="width:200px;">Submit Deal</a>
    </div>
    <div class="row">
      <a class="btn btn-danger" style="width:200px;">Reset Deal</a>
    </div>
  </div>
</div>

<div class="modal fade" id="matchModal" role="dialog">
  <div class="modal-dialog" style="width:85vw;" ng-include="'./angular/deal/views/modal-component/match-modal.view.html'"></div>
</div>