<a class="col-lg-12 col-md-12 col-sm-12 btn btn-refresh"></a>

<table datatable="ng" dt-options="options" class="row-border hover">
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Buyer</th>
      <th>Mine</th>
      <th>Seller</th>
      <th>Volume (tonnes)</th>
      <th width="170px">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="orderFulfillment in orderFulfillments"  ng-click="openModal(orderFulfillment.id)">
      <td>{{ orderFulfillment.order_date }}</td>
      <td>{{ orderFulfillment.buyer }}</td>
      <td>{{ orderFulfillment.mine }}</td>
      <td>{{ orderFulfillment.seller }}</td>
      <td>{{ orderFulfillment.volume | number }}</td>
      <td>
        <order-fulfillment-status status="orderFulfillment.status"></order-fulfillment-status>
      </td>
    </tr>
  </tbody>
</table>