<div class="form-group">
  <label for="product_name">Product Name :</label>
  <input type="text" class="form-control" id="product_name" name="product_name" ng-model="product.product_name" required>
</div>

<div class="form-group">
  <label for="typical_quality">Typical Quality :</label>
  <input type="text" class="form-control" id="typical_quality" name="typical_quality" ng-model="product.typical_quality" required>
</div>

<div class="form-group" ng-if="company.company_type !== 'c'">
  <label for="concession_id">Concession : {{company.concessions}}</label>
  <select class="form-control" id="concession_id" name="concession_id" ng-show="company.concessions.length !== 0"
    ng-model="product.concession_id" ng-options="c.id as c.concession_name for c in company.concessions">
    <option value="">-NOT ASSOCIATED TO CONCESSION-</option>
  </select>
</div>

<div class="form-group">
  <h2>Coal Quality</h2>
  <div class="table-responsive">
  <table class="table table-striped">
    <tr align="center">
      <th>Characteristics</th>
      <th style="min-width:120px">Min</th>
      <th style="min-width:120px">Max</th>
    </tr>
    <tr>
      <td>Gross Caloric ARB</td>
      <td><input type="number" step="any"  class="form-control" placeholder="kcal" ng-model="product.gcv_arb_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="kcal" ng-model="product.gcv_arb_max"></td>
    </tr>
    <tr>
      <td>Gross Caloric ADB</td>
      <td><input type="number" step="any"  class="form-control" placeholder="kcal" ng-model="product.gcv_adb_min"></td>
      <td><input type="number" step="any" class="form-control" placeholder="kcal" ng-model="product.gcv_adb_max"></td>
    </tr>
    <tr>
      <td>Nett Caloric Value</td>
      <td><input type="number" step="any"  class="form-control" placeholder="kcal" ng-model="product.ncv_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="kcal" ng-model="product.ncv_max"></td>
    </tr>
    <tr>
      <td>Ash</td>
      <td><input type="number" step="any" class="form-control" placeholder="%" ng-model="product.ash_min"></td>
      <td><input type="number" step="any" class="form-control" placeholder="%" ng-model="product.ash_max"></td>
    </tr>
    <tr>
      <td>Sulphur</td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.ts_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.ts_max"></td>
    </tr>
    <tr>
      <td>Total Moisture</td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.tm_min"></td>
      <td><input type="number" step="any" class="form-control" placeholder="%" ng-model="product.tm_max"></td>
    </tr>
    <tr>
      <td>Inherent Moisture</td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.im_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.im_max"></td>
    </tr>
    <tr>
      <td>Fixed Carbon</td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.fc_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.fc_max"></td>
    </tr>
    <tr>
      <td>Volatile Matter</td>
      <td><input type="number" step="any" class="form-control" placeholder="%" ng-model="product.vm_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.vm_max"></td>
    </tr>
    <tr>
      <td>Hardness</td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.hgi_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.hgi_max"></td>
    </tr>
    <tr>
      <td>Size</td>
      <td><input type="number" step="any" class="form-control" placeholder="%" ng-model="product.size_min"></td>
      <td><input type="number" step="any"  class="form-control" placeholder="%" ng-model="product.size_max"></td>
    </tr>
    <tr>
      <td>Fe 2o3</td>
      <td><input type="number" step="any" class="form-control" placeholder="%" ng-model="product.fe2o3_min"></td>
      <td><input type="number" step="any" class="form-control" placeholder="%" ng-model="product.fe2o3_max"></td>
    </tr>
    <tr>
      <td>AFT</td>
      <td><input type="number" step="any" class="form-control" placeholder="&#176" ng-model="product.aft_min"></td>
      <td><input type="number" step="any" class="form-control" placeholder="&#176" ng-model="product.aft_max"></td>
    </tr>
  </table>
  </div>
</div>

<div class="form-group pull-right">
  <button class="btn btn-success" type="submit">Submit</button>
</div>
