<form role="form" ng-submit="create()" ng-init="init()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
      <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Sell Order</h4>
  </div>
  <div class="modal-body">
    <div ng-include="'/angular/order/views/sell-order/form.view.html'"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-show="state > 0" ng-click="back()">Back</button>
    <button type="button" class="btn btn-primary" ng-hide="state == 2" ng-click="next()">Next</button>
    <button type="submit" class="btn btn-primary" ng-show="state == 2">Save changes</button>
    <button type="button" class="btn btn-default" ng-click="init()">Reset</button>
  </div>
</form>