<div class="content" ng-controller="SellOrderSummaryController" ng-init="findSummary();initMap()">
  <!-- HEADER -->
  <div class="row-fluid" style="margin-bottom: 10px">
    <button type="button" class="btn btn-primary" ng-click="backToPort()">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="finish()">
        <i class="glyphicon glyphicon-arrow-right"></i> Finish
      </button>
    </div>
  </div>
  
  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Buy Lead</h3>
    </div>
    <div class="box-body">
      <div class="form-group row-fluid">
        <div class="form-group">
          <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
        </div>
        <h1>{{ sell_order.seller.company_name }}</h1>
        <label>Product Name : </label>
        <p>{{ sell_order.product_name }}</p>
        <label>Typical Quality : </label>
        <p>{{ sell_order.typical_quality }}</p>
        <label>Address : </label>
        <p>{{ sell_order.address }}</p>
        <div class="col-xs-6" style="padding-left:0">
          <label>City : </label>
          <p>{{ sell_order.city }}</p>
          <label>Volume of Coal : </label>
          <p>{{ sell_order.volume }} mt</p>
          <label>Input Date : </label>
          <p class="form-inline">
            <input type="date" class="form-control" ng-model="sell_order.order_date"/>
          </p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Country : </label>
          <p>{{ sell_order.country }}</p>
          <label>Asking Price : </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" ng-model="sell_order.min_price">
          </div>
          <label>Laycan Period : </label>
          <p class="form-inline">
            <input type="date" class="form-control" ng-model="sell_order.ready_date"/>
             - 
            <input type="date" class="form-control" ng-model="sell_order.order_deadline"/>
          </p>
        </div>
        <div class="col-xs-12" style="padding-left:0">
          <label>Valid Until : </label>
          <p class="form-inline">
            <input type="date" min="{{date | date:'yyyy-MM-dd'}}" class="form-control" ng-model="sell_order.expired_date"/>
          </p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Shipping Term : </label>
          <p class="form-inline">
            <select class="form-control" ng-model="sell_order.trading_term">
              <option value="CNF">CNF</option>
              <option value="CIF">CIF</option>
              <option value="FAS">FAS</option>
              <option value="FOT">FOT</option>
              <option value="FOB">FOB</option>
              <option value="Franco">Franco</option>
              <option value="">Other</option>
            </select>
            <input type="text" class="form-control" ng-model="sell_order.trading_term_detail" placeholder="Detail" />
          </p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Payment Terms : </label>
          <select class="form-control" ng-model="sell_order.payment_terms" ng-change="freetext()">
            <option value="TT">TT</option>
            <option value="LC on Sight">LC on Sight</option>
            <option value="LC on 30 days">LC on 30 days</option>
            <option value="other">Other</option>
          </select>
          <input type="text" class="form-control" ng-model="sell_order.payment_terms" placeholder="Payment Terms" ng-if="sell_order.freetext"/>
        </div>
        <div class="col-xs-12" style="padding-left:0">
          <label>Penalty : </label>
          <textarea class="form-control" ng-model="sell_order.penalty"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Port</h3>
    </div>
    <div class="box-body">
      <ng-map zoom="6" center="{{sell_order.port_latitude-5}}, {{sell_order.port_longitude}}" default-style="true" style="width:100%; height:500px;">
        <marker icon="{
            url: '/images/boat.png'
          }" position="{{sell_order.port_latitude}}, {{sell_order.port_longitude}}" id="port" on-click="map.showInfoWindow('port-info-window')">  
        </marker>
        <info-window id="port-info-window" default-style="false" visible-on-marker="port" maxWidth="800px">
          <div ng-non-bindable="" style="width:500px" class="no-gutter">
            <h3>Port Name: {{ sell_order.port_name || 'N / A' }}</h3>
            <hr/>
            <section class="col-lg-12">
              <table>
                <tr>
                  <td>Port Discharging Rate  </td>
                  <td>  : {{ sell_order.port_daily_rate || 'N / A' }} Tph </td>
                </tr>
                <tr>
                  <td>Port Distance from Concession </td>
                  <td>  : {{ sell_order.port_distance || 'N / A' }} Km</td>
                </tr>
                <tr>
                  <td>Port Draft Height  </td>
                  <td>  : {{ sell_order.port_draft_height || 'N / A' }} m </td>
                </tr>
              </table>
            </section>
          </div>
        </info-window>
      </ng-map>
        <!-- <h3><b>Port Name : </b></h3>
        <h4>{{ sell_order.port_name }}</h4>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Loading Rate : </label>
        <p>{{ sell_order.port_daily_rate }} Tph</p>
      </div>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Distance : </label>
        <p>{{ sell_order.port_distance }} Km</p>
      </div>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Draft Height : </label>
        <p>{{ sell_order.port_draft_height }} m</p>
      </div> -->
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Quality</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr style="background-color: darkgray"}>
                <th style="width:30%">Quality </th>
                <th>Typical</th>
                <th>Bonus</th>
                <th>Reject</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>GCV ADB </b></td>
                <td>{{sell_order.gcv_adb_min}} - {{sell_order.gcv_adb_max}} kcal</td>
                <td>{{sell_order.gcv_adb_bonus}}</td>
                <td>{{sell_order.gcv_adb_reject}}</td>
              </tr>
              <tr>
                <td><b>GCV ARB </b></td>
                <td>{{sell_order.gcv_arb_min}} - {{sell_order.gcv_arb_max}} kcal</td>
                <td>{{sell_order.gcv_arb_bonus}}</td>
                <td>{{sell_order.gcv_arb_reject}}</td>
              </tr>
              <tr>
                <td><b>NCV ARB </b></td>
                <td>{{sell_order.ncv_min}} - {{sell_order.ncv_max}} kcal</td>
                <td>{{sell_order.ncv_bonus}}</td>
                <td>{{sell_order.ncv_reject}}</td>
              </tr>
              <tr>
                <td><b>Total Moisture (ARB) </b></td>
                <td>{{sell_order.tm_min}} - {{sell_order.tm_max}} %</td>
                <td>{{sell_order.tm_bonus}}</td>
                <td>{{sell_order.tm_reject}}</td>
              </tr>
              <tr>
                <td><b>Inherent Moisture (ADB) </b></td>
                <td>{{sell_order.im_min}} - {{sell_order.im_max}} %</td>
                <td>{{sell_order.im_bonus}}</td>
                <td>{{sell_order.im_reject}}</td>
              </tr>
              <tr>
                <td><b>Volatile Matter (ADB) </b></td>
                <td>{{sell_order.vm_min}} - {{sell_order.vm_max}} %</td>
                <td>{{sell_order.vm_bonus}}</td>
                <td>{{sell_order.vm_reject}}</td>
              </tr>
              <tr>
                <td><b>Ash (ADB) </b></td>
                <td>{{sell_order.ash_min}} - {{sell_order.ash_max}} %</td>
                <td>{{sell_order.ash_bonus}}</td>
                <td>{{sell_order.ash_reject}}</td>
              </tr>
              <tr>
                <td><b>Fixed Carbon (ADB) </b></td>
                <td>{{sell_order.fc_min}} - {{sell_order.fc_max}} %</td>
                <td>{{sell_order.fc_bonus}}</td>
                <td>{{sell_order.fc_reject}}</td>
              </tr>
              <tr>
                <td><b>Total Sulphur (ADB) </b></td>
                <td>{{sell_order.ts_min}} - {{sell_order.ts_max}} %</td>
                <td>{{sell_order.ts_bonus}}</td>
                <td>{{sell_order.ts_reject}}</td>
              </tr>
              <tr>
                <td><b>HGI </b></td>
                <td>{{sell_order.hgi_min}} - {{sell_order.hgi_max}}</td>
                <td>{{sell_order.hgi_bonus}}</td>
                <td>{{sell_order.hgi_reject}}</td>
              </tr>
              <tr>
                <td><b>SIZE (0-50mm)</b></td>
                <td>{{sell_order.size_min}} - {{sell_order.size_max}} %</td>
                <td>{{sell_order.size_bonus}}</td>
                <td>{{sell_order.size_reject}}</td>
              </tr>
              <tr>
                <td><b>Fe2O3 </b></td>
                <td>{{sell_order.fe2o3_min}} - {{sell_order.fe2o3_max}} %</td>
                <td>{{sell_order.fe2o3_bonus}}</td>
                <td>{{sell_order.fe2o3_reject}}</td>
              </tr>
              <tr>
                <td><b>AFT</b></td>
                <td>{{sell_order.aft_min}} - {{sell_order.aft_max}} &#176</td>
                <td>{{sell_order.aft_bonus}}</td>
                <td>{{sell_order.aft_reject}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
  