<section class="content" ng-controller="SellOrderConcessionController">
<div class="box box-info" >
  <div class="box-header with-border">
    <h1 class="box-title" style="font-size: 25px">Buy Lead Concession</h1>
    <div class="box-tools pull-right" style="position:relative">
      <button type="button" class="btn btn-danger" ui-sref="sell-order.step-supplier({ order_id:order_id })">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
      </button>
     
      <button type="button" class="btn btn-success" ng-click="nextToProduct()">
        <i class="glyphicon glyphicon-arrow-right"></i> Next
      </button>
    </div>
  </div>
  <div class="box-body">
    <div class="form-group">
      <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
    </div>
    <div class="select-box" ng-init="findMyConcessions()">
      <label for="id">Name of Concession :</label>
      <ui-select ng-model="concession.selected" style="display:inline" title="Choose a Concession" append-to-body="true">
        <ui-select-match placeholder="Name Of Concession">{{ concession.selected.concession_name }}</ui-select-match>
        <ui-select-choices repeat="concession in concessions | propsFilter: {concession_name: $select.search}">
          <div ng-bind-html="concession_name | highlight: $select.search"></div>
          <small>
            {{concession.concession_name}}
          </small>
        </ui-select-choices>
      </ui-select>
    </div>

    </br>

    <div class="text-center col-md-4 col-md-offset-4">
        OR
    </div>
      </br>
      </br>
      <button type="button" class="btn btn-primary btn-block" ng-click="openModal()">
        <b>+</b> Add New Concession
      </button>
  </div>
  <div class="box box-primary" ng-show="concession.selected">
    <div class="box-body box-profile"><div class="form-group">
      <label for="concession_name">Name*:</label>
      <input type="text" class="form-control" id="concession_name" ng-model="concession.selected.concession_name" required>
    </div>

    <div class="form-group">
      <label for="reserves">Owner*:</label>
      <input type="text" class="form-control" id="owner" ng-model="concession.selected.owner" required>
    </div>

    <div class="form-group">
      <label for="reserves">Address*:</label>
      <input type="text" class="form-control" id="address" ng-model="concession.selected.address" required>
    </div>

    <div class="form-group hidden-xs">
      <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <span class="input-group-addon" style="width: 200px;">City*</span>
        <input type="text" class="form-control" placeholder="City" ng-model="concession.selected.city" required>
        <span class="input-group-addon">Country of coal purchase*</span>
        <input type="text" class="form-control" placeholder="Country" ng-model="concession.selected.country" required>
      </div>
    </div>
    <div class="form-group visible-xs">
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:35%">City*</span>
        <input type="text" class="form-control" placeholder="City" ng-model="concession.selected.city" required>
      </div>
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:35%">Country*</span>
        <input type="text" class="form-control" placeholder="Country" ng-model="concession.selected.country" required>
      </div>
    </div>

    <div class="row">
      <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <div class="col-md-6">
          <label for="reserves">Total Coal Resources (MMT):</label>
          <input type="number" min="0" class="form-control" id="resource" ng-model="concession.selected.resource">
        </div>
        <div class="col-md-6">
          <label for="reserves">Total Coal Reserves (MMT):</label>
          <input type="number" min="0" class="form-control" id="reserves" ng-model="concession.selected.reserves">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="stripping_ratio">Stripping Ratio:</label>
      <input type="number" min="0" max="99" step="any" class="form-control" id="stripping_ratio" ng-model="concession.selected.stripping_ratio">
    </div>

    <div class="form-group">
      <label for="size">Size of Concession (Ha):</label>
      <input type="number" min="0" class="form-control" id="size" ng-model="concession.selected.size">
    </div>

    <div class="form-group hidden-xs">
      <label>Volumes</label>
      <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <span class="input-group-addon" style="width: 250px;">Annual Production Capacity (MMT)*</span>
        <input type="number" min="0" class="form-control" placeholder="Annual Production" ng-model="concession.selected.annual_production" required>
        <span class="input-group-addon" style="width: 200px;">Stockpile Distance*</span>
        <input type="number" min="0" class="form-control" placeholder="Stockpile Distance" ng-model="concession.selected.stockpile_distance" required>
      </div>
      <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <span class="input-group-addon" style="width: 250px;">Stockpile Capacity</span>
        <input type="number" min="0" class="form-control" placeholder="Stockpile Capacity" ng-model="concession.selected.stockpile_capacity" required>
        <span class="input-group-addon" style="width: 200px;">Stockpile Coverage</span>
        <input type="number" min="0" class="form-control" placeholder="Stockpile Coverage" ng-model="concession.selected.stockpile_coverage" required>
      </div>
      <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <span class="input-group-addon" style="width: 250px;">Contracted Volume (MMT)</span>
        <input type="number" min="0" class="form-control" placeholder="Contracted Volume" ng-model="concession.selected.contracted_volume">
        <span class="input-group-addon" style="width: 200px;">Remaining</span>
        <input type="number" min="0" class="form-control" placeholder="Remaining Volume" ng-model="concession.selected.remaining_volume">
      </div>
    </div>
    <div class="form-group visible-xs">
      <label>Volumes</label>
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:55%">Annual Production*</span>
        <input type="number" min="0" class="form-control" placeholder="MMT" ng-model="concession.selected.annual_production" required>
      </div>
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:55%">Stockpile Distance*</span>
        <input type="number" min="0" class="form-control" placeholder="M" ng-model="concession.selected.stockpile_distance" required>
      </div>
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:55%">Stockpile Capacity</span>
        <input type="number" min="0" class="form-control" placeholder="MT" ng-model="concession.selected.stockpile_capacity" required>
      </div>
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:55%">Stockpile Coverage</span>
        <input type="number" min="0" class="form-control" placeholder="M" ng-model="concession.selected.stockpile_coverage" required>
      </div>
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:55%">Contracted Volume</span>
        <input type="number" min="0" class="form-control" placeholder="MMT" ng-model="concession.selected.contracted_volume">
      </div>
      <div class="input-group" style="width:100%">
        <span class="input-group-addon" style="width:55%">Remaining</span>
        <input type="number" min="0" class="form-control" placeholder="MT" ng-model="concession.selected.remaining_volume">
      </div>
    </div>

    <div class="form-group">
      <label>Hauling Road</label>
      <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <!--span class="input-group-addon" style="width: 200px;">Hauling Road Name</span-->
        <div class="btn-group">
          <label class="btn btn-default" ng-model="concession.selected.hauling_road_name" uib-btn-radio="'Province Road'" required>Province Road</label>
          <label class="btn btn-default" ng-model="concession.selected.hauling_road_name" uib-btn-radio="'Mine Road'" required>Mine Road</label>
        </div>
    </div>

    <div class="form-group">
      <label>License Type*</label>
      <div class="input-group col-md-12" style="margin-bottom: 5px;width: 100%;">
        <div class="btn-group hidden-xs">
          <label class="btn btn-default" ng-model="concession.selected.license_type" uib-btn-radio="'IUP Explorasi'" required>IUP Explorasi</label>
          <label class="btn btn-default" ng-model="concession.selected.license_type" uib-btn-radio="'IUP Produksi'" required>IUP Produksi</label>
          <label class="btn btn-default" ng-model="concession.selected.license_type" uib-btn-radio="'PKP2B'" required>PKP2B</label>
        </div>
        <div class="btn-group-vertical visible-xs">
          <select class="form-control" ng-model="concession.selected.license_type">
            <option value="IUP Explorasi">IUP Explorasi</option>
            <option value="IUP Produksi">IUP Produksi</option>
            <option value="PKP2B">PKP2B</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Expiry Date</label>
      <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <input type="date" class="form-control" placeholder="Expiry Date" ng-model="concession.selected.license_expiry_date" required>
      </div>
    </div>

    <div class="form-group">
      <label ng-show="error" class="alert alert-danger">{{error}}</label>
    </div>


    </div>
  </div>
</div>
</div>
</section>