<div class="content" ng-controller="UpdateSellOrderController" ng-init="findOne()">
  <!-- HEADER -->
  <div class="row-fluid" style="margin-bottom: 10px">
    <button type="button" class="btn btn-primary" ui-sref="sell-order.view({ id: sell_order.id })">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="update()">
        <i class="glyphicon glyphicon-arrow-right"></i> Update
      </button>
    </div>
  </div>
  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Buy Lead</h3>
    </div>
    <div class="box-body">
      <div class="form-group row-fluid">
        <div class="form-group">
          <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
        </div>
        <div class="form-group">
          <h1>{{ sell_order.seller.company_name }}</h1>
        </div>
        <div class="form-group">
          <label>Product Name : </label>
          <input type="text" class="form-control" ng-model="sell_order.product_name"/>
        </div>
        <div class="form-group">
          <label>Typical Quality : </label>
          <input type="text" class="form-control" ng-model="sell_order.typical_quality"/>
        </div>
        <div class="form-group">
          <label>Address : </label>
          <input type="text" class="form-control" ng-model="sell_order.address"/>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>City : </label>
          <input type="text" class="form-control" ng-model="sell_order.city"/>
          <label>Volume of Coal : </label>
          <input type="number" class="form-control" ng-model="sell_order.volume"/>
          <label>Input Date : </label>
          <p class="form-inline">
            <input type="date" class="form-control" ng-model="sell_order.order_date"/>
          </p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Country : </label>
          <input type="text" class="form-control" ng-model="sell_order.country"/>
          <label>Asking Price : </label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" ng-model="sell_order.min_price">
          </div>
          <label>Laycan Periode : </label>
          <p class="form-inline">
            <input type="date" class="form-control" ng-model="sell_order.ready_date"/>
             - 
            <input type="date" class="form-control" ng-model="sell_order.order_deadline"/>
          </p>
        </div>
        <div class="col-xs-12" style="padding-left:0">
          <label>Valid Until : </label>
          <p class="form-inline">
            <input type="date" class="form-control" ng-model="sell_order.expired_date"/>
          </p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Shipping Term : </label>
          <p class="form-inline">
            <select class="form-control" ng-model="sell_order.trading_term">
              <option value="CNF">CNF</option>
              <option value="CIF">CIF</option>
              <option value="FAS">FAS</option>
              <option value="FOB">FOB</option>
              <option value="Franco">Franco</option>
              <option value="">Other</option>
            </select>
            <input type="text" class="form-control" ng-model="sell_order.trading_term_detail" placeholder="Detail" />
          </p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Payment Terms : </label>
          <select class="form-control" ng-model="sell_order.payment_terms" ng-change="freetext(sell_order.payment_terms)">
            <option value="TT">TT</option>
            <option value="LC on Sight">LC on Sight</option>
            <option value="LC on 30 days">LC on 30 days</option>
            <option value="other">Other</option>
          </select>
          <input type="text" class="form-control" ng-model="sell_order.payment_terms" placeholder="Payment Terms" ng-if="sell_order.payment_terms===''"/>
        </div>
        <div class="col-xs-12" style="padding-left:0">
          <label>Penalty : </label>
          <textarea class="form-control" ng-model="sell_order.penalty_desc"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Port</h3>
    </div>
    <div class="box-body">
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Name : </label>
        <input type="text" class="form-control" ng-model="sell_order.port_name"/>
        <label>Port Discharging Rate (Tph): </label>
        <input type="number" class="form-control" ng-model="sell_order.port_daily_rate"/>
        <label>Port Distance (Km): </label>
        <input type="number" class="form-control" ng-model="sell_order.port_distance"/>
        <label>Port Draft Height (M): </label>
        <input type="number" class="form-control" ng-model="sell_order.port_draft_height"/>
      </div>
      <div class="col-xs-8" style="padding-left:0">
        <label>Latitude : </label>
        <input type="number" min="-90" max="90" step="any" class="form-control" ng-model="sell_order.port_latitude"/>
        <label>Longitude : </label>
        <input type="number" min="-180" max="180" step="any" class="form-control" ng-model="sell_order.port_longitude"/>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Quality</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <table class="table table-striped">
            <tr align="center">
              <th>
                Characteristics
              </th>
              <th>
                Min
              </th>
              <th>
                Max
              </th>
              <th>
                Bonus
              </th>
              <th>
                Reject
              </th>
            </tr>
            <tr>
              <td>
                Gross Caloric ADB
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_adb_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_adb_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_adb_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_adb_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Gross Caloric ARB
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_arb_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_arb_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_arb_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.gcv_arb_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Nett Caloric Value ARB
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.ncv_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.ncv_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.ncv_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="kcal" ng-model="sell_order.ncv_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Total Moisture (ARB)
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.tm_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.tm_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.tm_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.tm_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Inherent Moisture (ADB)
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.im_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.im_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.im_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.im_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Volatile Matter (ADB)
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.vm_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.vm_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.vm_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.vm_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Ash (ADB)
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ash_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ash_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ash_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ash_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Fixed Carbon (ADB)
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fc_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fc_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fc_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fc_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Total Sulphur (ADB)
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ts_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ts_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ts_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.ts_bonus">
              </td>
            </tr>
            <tr>
              <td>
                HGI
              </td>
              <td>
                <input type="text" class="form-control" placeholder="" ng-model="sell_order.hgi_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="" ng-model="sell_order.hgi_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="" ng-model="sell_order.hgi_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="" ng-model="sell_order.hgi_bonus">
              </td>
            </tr>
            <tr>
              <td>
                SIZE (0-50mm)
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.size_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.size_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.size_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.size_bonus">
              </td>
            </tr>
            <tr>
              <td>
                Fe2o3
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fe2o3_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fe2o3_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fe2o3_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="%" ng-model="sell_order.fe2o3_bonus">
              </td>
            </tr>
            <tr>
              <td>
                AFT
              </td>
              <td>
                <input type="text" class="form-control" placeholder="&#176" ng-model="sell_order.aft_min">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="&#176" ng-model="sell_order.aft_max">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="&#176" ng-model="sell_order.aft_reject">
              </td>
              <td>
                <input type="text" class="form-control" placeholder="&#176" ng-model="sell_order.aft_bonus">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
