<div class="content" ng-controller="SellOrderController" ng-init="findOne()">
  <!-- HEADER -->
  <div class="row-fluid" style="margin-bottom: 10px">
    <button type="button" class="btn btn-primary" ui-sref="sell-order.index">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ui-sref="sell-order.index">
        <i class="glyphicon glyphicon-arrow-right"></i> Start Deal
      </button>
    </div>
  </div>
  
  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Buy Lead</h3>
    </div>
    <div class="box-body">
      <div class="pull-right btn-group">
        <button type="button" class="btn btn-primary" ng-click="changeOrderStatusAtDetail(sell_order, 'x')"  ng-if="sell_order.order_status!=='o'&&sell_order.order_status!=='s'&&sell_order.order_status!=='p'">
          <i class="glyphicon glyphicon-trash"></i> Delete
        </button>
        <button type="button" class="btn btn-primary" ui-sref="sell-order.update({ id:sell_order.id })" ng-if="sell_order.order_status==='l'">
          <i class="glyphicon glyphicon-arrow-right"></i> Update
        </button>
      </div>
      <div class="form-group row-fluid">
        <h1>{{ sell_order.seller.company_name }}</h1>
        <label>Product Name : </label>
        <p>{{ sell_order.product_name }}</p>
        <label>Address : </label>
        <p>{{ sell_order.address }}</p>
        <div class="col-xs-6" style="padding-left:0">
          <label>City : </label>
          <p>{{ sell_order.city }}</p>
          <label>Volume of Coal : </label>
          <p>{{ sell_order.volume }} Tones</p>
          <label>Order Date : </label>
          <p>{{ sell_order.order_date | date : 'd-MMMM-yyyy' }}</p>
          <label>Deadline : </label>
          <p>{{ sell_order.order_deadline | date : 'd-MMMM-yyyy' }}</p>
          <label>Trading Term : </label>
          <p>{{ sell_order.trading_term | uppercase }}</p>
        </div>
        <div class="col-xs-6" style="padding-left:0">
          <label>Country : </label>
          <p>{{ sell_order.country }}</p>
          <label>Min Price : </label>
          <p>$ {{ sell_order.min_price }}</p>
          <label>Ready Date : </label>
          <p>{{ sell_order.ready_date | date : 'd-MMMM-yyyy' }}</p>
          <label>Expired Date : </label>
          <p>{{ sell_order.expired_date | date : 'd-MMMM-yyyy' }}</p>
          <label>Payment Terms : </label>
          <p>{{ sell_order.payment_terms | uppercase }}</p>
        </div>
        <label>Penalty : </label>
        <p>{{ sell_order.penalty_desc }}</p>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid" ng-if="sell_order.port_name">
    <div class="box-header ">
      <h3 class="box-title">Port</h3>
    </div>
    <div class="box-body">
        <h3><b>Port Name : </b></h3>
        <h4>{{ sell_order.port_name }}</h4>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Loading Rate : </label>
        <p>{{ sell_order.port_daily_rate }} tph</p>
      </div>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Distance : </label>
        <p>{{ sell_order.port_distance }} km</p>
      </div>
      <div class="col-xs-4" style="padding-left:0">
        <label>Port Draft Height : </label>
        <p>{{ sell_order.port_draft_height }} m</p>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Quality</h3>
    </div>
    <div class="box-body">
      <div class="row-fluid" style="margin:10px">
        <div class="col-md-12 col-lg-12">
          <table class="table">
            <tbody>
              <tr>
                <td><h4><b>Gross Caloric ARB <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{sell_order.gcv_arb_min}} - {{sell_order.gcv_arb_max}} kcal</h4></td>
                <td class="hidden-xs hidden-sm"><h4><b>Gross Caloric ADB <div class="pull-right">:</div></b></h4></td>
                <td class="hidden-xs hidden-sm"><h4>{{sell_order.gcv_adb_min}} - {{sell_order.gcv_adb_max}} kcal</h4></td>
                <td class="hidden-xs hidden-sm"><h4><b>Nett Calori Value <div class="pull-right">:</div></b></h4></td>
                <td class="hidden-xs hidden-sm"><h4>{{sell_order.ncv_min}} - {{sell_order.ncv_max}} kcal</h4></td>
              </tr>
              <tr class="hidden-md hidden-lg">
                <td><h4><b>Gross Caloric ADB <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{sell_order.gcv_adb_min}} - {{sell_order.gcv_adb_max}} kcal</h4></td>
              </tr>
              <tr class="hidden-md hidden-lg">
                <td><h4><b>Nett Calori Value <div class="pull-right">:</div></b></h4></td>
                <td><h4>{{sell_order.ncv_min}} - {{sell_order.ncv_max}} kcal</h4></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 50%"><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ash_min}} - {{sell_order.ash_max}} %</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ts_min}} - {{sell_order.ts_max}} %</td>
              </tr>
              <tr>
                <td><b>Total Moisture <div class="pull-right">:</div></b></td>
                <td>{{sell_order.tm_min}} - {{sell_order.tm_max}} %</td>
              </tr>
              <tr>
                <td><b>Inherent Moisture <div class="pull-right">:</div></b></td>
                <td>{{sell_order.im_min}} - {{sell_order.im_max}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 50%"><b>Fixed Carbon <div class="pull-right">:</div></b></td>
                <td>{{sell_order.fc_min}} - {{sell_order.fc_max}} %</td>
              </tr>
              <tr>
                <td><b>Volatile Matter <div class="pull-right">:</div></b></td>
                <td>{{sell_order.vm_min}} - {{sell_order.vm_max}} %</td>
              </tr>
              <tr>
                <td><b>Hardness <div class="pull-right">:</div></b></td>
                <td>{{sell_order.hgi_min}} - {{sell_order.hgi_max}} %</td>
              </tr>
              <tr>
                <td><b>Size <div class="pull-right">:</div></b></td>
                <td>{{sell_order.size_min}} - {{sell_order.size_max}} mm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Reject & Bonus</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <h3 style="text-align:center;font-weight:bold;margin-top:0">Reject</h3>
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 50%"><b>Gross Caloric ARB <div class="pull-right">:</div></b></td>
                <td>{{sell_order.gcv_arb_reject}} kcal</td>
              </tr>
              <tr>
                <td><b>Gross Caloric ADB <div class="pull-right">:</div></b></td>
                <td>{{sell_order.gcv_adb_reject}} kcal</td>
              </tr>
              <tr>
                <td><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ash_reject}} %</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ts_reject}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <h3 style="text-align:center;font-weight:bold;margin-top:0">Bonus</h3>
          <table class="table">
            <tbody>
              <tr>
                <td style="width: 50%"><b>Gross Caloric ARB <div class="pull-right">:</div></b></td>
                <td>{{sell_order.gcv_arb_bonus}} kcal</td>
              </tr>
              <tr>
                <td><b>Gross Caloric ADB <div class="pull-right">:</div></b></td>
                <td>{{sell_order.gcv_adb_bonus}} kcal</td>
              </tr>
              <tr>
                <td><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ash_bonus}} %</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ts_bonus}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
  