<div class="content" ng-controller="SellOrderController" ng-init="findOne()">
  <!-- HEADER -->
  <div class="row-fluid" style="margin-bottom: 10px">
    <button type="button" class="btn btn-primary" ui-sref="sell-order.index">
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ui-sref="sell-order.index">
        <i class="glyphicon glyphicon-arrow-right"></i> Start Deal
      </button>
    </div>
  </div>
  
  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Sell Order</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <h1>{{ sell_order.seller.company_name }}</h1>
        <label>Product Name : </label>
        <p>{{ sell_order.product_name }}</p>
        <label>Address : </label>
        <p>{{ sell_order.address }}</p>
        <label>Order Date : </label>
        <p>{{ sell_order.order_date }}</p>
        <label>Deadline : </label>
        <p>{{ sell_order.deadline }}</p>
      </div>
    </div>
  </div>

  <div class="box box-primary box-solid">
    <div class="box-header ">
      <h3 class="box-title">Product Quality</h3>
    </div>
    <div class="box-body">
      <div class="row-fluid" style="margin:10px">
        <div class="col-md-6 col-lg-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>Gross Caloric ARB <div class="pull-right">:</div></b></td>
                <td>{{sell_order.gcv_arb_min}} - {{sell_order.gcv_arb_max}} kcal</td>
              </tr>
              <tr>
                <td><b>Gross Caloric ADB <div class="pull-right">:</div></b></td>
                <td>{{sell_order.gcv_adb_min}} - {{sell_order.gcv_adb_max}} kcal</td>
              </tr>
              <tr>
                <td><b>Nett Caloric <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ncv_min}} - {{sell_order.ncv_max}} kcal</td>
              </tr>
              <tr>
                <td><b>Ash <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ash_min}} - {{sell_order.ash_max}} kcal</td>
              </tr>
              <tr>
                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
                <td>{{sell_order.ts_min}} - {{sell_order.ts_max}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-lg-6">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>Total Moisture <div class="pull-right">:</div></b></td>
                <td>{{sell_order.tm_min}} - {{sell_order.tm_max}} %</td>
              </tr>
              <tr>
                <td><b>Inherent Moisture <div class="pull-right">:</div></b></td>
                <td>{{sell_order.im_min}} - {{sell_order.im_max}} %</td>
              </tr>
              <tr>
                <td><b>Fixed Carbon <div class="pull-right">:</div></b></td>
                <td>{{sell_order.fc_min}} - {{sell_order.fc_max}} %</td>
              </tr>
              <tr>
                <td><b>Volatile Matter <div class="pull-right">:</div></b></td>
                <td>{{sell_order.vm_min}} - {{sell_order.vm_max}} %</td>
              </tr>
              <tr>
                <td><b>Hardness <div class="pull-right">:</div></b></td>
                <td>{{sell_order.hgi_min}} - {{sell_order.hgi_max}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
  