<div class="form-group">
  <label for="seller_name">Company Name:</label>
  <input name="company_name" type="text" class="form-control" id="company_name" ng-model="seller.company_name">
</div>

<div class="form-group">
  <label for="contact"></label>
  <button type="button" class="btn btn-primary" ng-model="seller.is_trader" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Trader
  </button>
  <button type="button" class="btn btn-danger" ng-model="seller.is_affiliated" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Affiliated
  </button>
</div>

<div class="form-group">
  <label for="phone">Phone Number:</label>
  <input name="phone" type="text" class="form-control" id="phone" ng-model="seller.phone">
</div>

<div class="form-group">
  <label for="contact">Email:</label>
  <input name="email" type="text" class="form-control" id="email" ng-model="seller.email">
</div>

<div class="form-group">
  <label for="web">Web:</label>
  <input name="web" type="text" class="form-control" id="web" ng-model="seller.web">
</div>

<div class="form-group">
  <label for="headquarter_location">Address:</label>
  <input name="address" type="text" class="form-control" id="address" ng-model="seller.address">
</div>

<div class="form-group">
  <label for="headquarter_location">City:</label>
  <input name="city" type="text" class="form-control" id="city" ng-model="seller.city">
</div>

<div class="form-group">
  <label for="headquarter_location">Country:</label>
  <input name="country" type="text" class="form-control" id="country" ng-model="seller.country">
</div>

<div class="form-group">
  <label for="latitude">Latitude:</label>
  <input name="latitude" type="text" class="form-control" id="latitude" ng-model="seller.latitude">
</div>

<div class="form-group">
  <label for="longitude">Longitude:</label>
  <input name="longitude" type="text" class="form-control" id="longitude" ng-model="seller.longitude">
</div>

<div class="form-group">
  <label for="headquarter_location">Industry:</label>
  <input name="industry" type="text" class="form-control" id="industry" ng-model="seller.industry">
</div>

<div class="form-group">
  <label for="headquarter_location">License Type:</label>
  <input name="license_type" type="text" class="form-control" id="license_type" ng-model="seller.license_type">
</div>


<div class="form-group">
  <label for="headquarter_location">License Expiry Date:</label>

  <p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup ng-model="seller.license_expiry_date" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
  </p>

</div>

 

<div class="form-group">
  <label for="headquarter_location">Total Annual Sales:</label>
  <input name="total_annual_sales" type="text" class="form-control" id="total_annual_sales" ng-model="seller.total_annual_sales">
</div>

<div class="form-group">
  <label for="headquarter_location">Preferred Trading Term:</label>
  <input name="preferred_trading_term" type="text" class="form-control" id="preferred_trading_term" ng-model="seller.preferred_trading_term">
</div>

<div class="form-group">
  <label for="headquarter_location">Preferred Payment Term:</label>
  <input name="preferred_payment_term" type="text" class="form-control" id="preferred_payment_term" ng-model="seller.preferred_payment_term">
</div>

<div class="form-group">
  <label for="headquarter_location">Purchasing Countries:</label>
  <input name="purchasing_countries" type="text" class="form-control" id="purchasing_countries" ng-model="seller.purchasing_countries">
</div>

<div class="form-group">
  <label for="description">Description:</label>
  <textarea name="description" class="form-control" id="description" ng-model="seller.description"></textarea>
</div>

<div class="form-group">
  <label ng-show="error" class="alert alert-danger">{{error}}</label>
</div>

<button type="submit" class="btn btn-default">Submit</button>