<table datatable="ng" dt-options="options" class="row-bdeal hover">
  <div class="pull-right">
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-save-file"></i> Export CSV</a>
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-print"></i> Print Report</a>
  </div>
  <thead>
      <tr>
        <th>Trader</th>
        <th>Buyer(s)</th>
        <th>Seller(s)</th>
        <!--th>Vendor(s)</th-->
        <th width="75px">Created</th>
        <th>Volume (tonnes)</th>
        <th width="120px">Total Sales (USD)</th>
        <th width="120px">Total CoGS (USD)</th>
        <th width="100px">Margin (USD)</th>
        <th>Status</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="deal in deals" ui-sref="deal.view({id: deal.id})">
      <td>{{deal.trader_name}}</td>
      <td>{{deal.buyer_name}}</td>
      <td>{{deal.seller_name}}</td>
      <!--td>
        <span ng-repeat="sell_deal in deal.sell_deal">
          {{sell_deal.sell_order.seller.company_name}}
        </span>
      </td>
      <td>
        <span ng-repeat="buy_deal in deal.buy_deal">
          {{buy_deal.buy_order.buyer.company_name}}
        </span>
      </td-->
      <td>{{deal.created_at  | convertToDate | date : 'd MMMM yy' }}</td>
      <td>{{deal.volume | number}}</td>
      <td>{{deal.total_sales | number }}</td>
      <td>{{deal.total_cogs | number }}</td>
      <td>{{ (deal.total_sales-deal.total_cogs) | number }}</td>
      <td>
          <deal-status status=deal.status></deal-status>
      </td>
    </tr>
  </tbody>
</table>

<div class="panel panel-primary">
  <div class="panel-heading">
    Total Sales: {{ getTotalPrice() | number }} USD
  </div>
  <div class="panel-body">
    Total Volume: {{ getTotalVolume() | number }}
  </div>
</div>