 <table ng-init="find()" st-table="displayedCollection" st-safe-src="deals" class="table table-striped">
  <div class="pull-right">
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-save-file"></i> Export CSV</a>
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-print"></i> Print Report</a>
  </div>
  <thead>
      <tr>
        <th colspan="9" st-ratio="100"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      </tr>
      <tr>
        <th st-sort="trader" st-ratio="20">Trader</th>
        <th st-sort="buyer" st-ratio="10">Buyer(s)</th>
        <th st-sort="seller" st-ratio="10">Seller(s)</th>
        <th st-sort="created" st-ratio="10">Created</th>
        <th st-sort="volume" st-ratio="10">Volume (tonnes)</th>
        <th st-sort="total_sales" st-ratio="10">Total Sales (USD)</th>
        <th st-sort="total_cogs" st-ratio="10">Total CoGS (USD)</th>
        <th st-sort="margin" st-ratio="10">Margin (USD)</th>
        <th st-sort="status" st-ratio="10">Status</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="deal in displayedCollection" ui-sref="deal.view({id: deal.id})">
      <td st-ratio="20">{{deal.trader_name}}</td>
      <td st-ratio="10">{{deal.buyer_name}}</td>
      <td st-ratio="10">{{deal.seller_name}}</td>
      <td st-ratio="10">{{deal.created_at  | convertToDate | date : 'd MMMM yy' }}</td>
      <td st-ratio="10">{{deal.volume | number}}</td>
      <td st-ratio="10">{{deal.total_sales | number }}</td>
      <td st-ratio="10">{{deal.total_cogs | number }}</td>
      <td st-ratio="10">{{ (deal.total_sales-deal.total_cogs) | number }}</td>
      <td st-ratio="10">
          <deal-status status=deal.status></deal-status>
      </td>
    </tr>
  </tbody>
  <tfoot>
      <tr>
          <td colspan="9" class="text-center">
             <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
          </td>
      </tr>
  </tfoot>
</table>

<div class="panel panel-primary">
  <div class="panel-heading">
    Total Sales: {{ getTotalPrice() | number }} USD
  </div>
  <div class="panel-body">
    Total Volume: {{ getTotalVolume() | number }}
  </div>
</div>