<div class="box-info" ng-init="findOne()">
  <h1 class="box-title">{{ index.index_provider }} {{ index.index_name }}</h1>
  <p>{{ index.quality }}</p>
  <div class="box-tools pull-right">
    <span class="badge badge-primary">
      {{ index.frequency === 'm' ? 'Monthly' : index.frequency === 'w' ? 'Weekly' : 'Daily' }}
    </span>
    <a class="btn btn-primary" ui-sref="index.edit({indexId: index.id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove(index);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <small>
    <em class="text-muted">
      Created at
      {{ index.created_at | date:'mediumDate' }},
      Last Update
      {{ index.updated_at | date:'mediumDate' }}
    </em>
  </small>
</div>
<div class="box-body" ng-include="'/angular/index/views/_prices.partial.html'"></div>