<div class="container" style="margin-bottom:120px;margin-top:60px;" >
  <div class="row">
    <div style="text-align:center;">
      <div>
        <div class="col-md-4 align-right">
          <a class="btn btn-default btn-margin full-width" >
            <h4>BUYERS</h4>
              <span>Records</span>
          </a><br>
          <a class="btn btn-default btn-margin full-width" >
            <h4>SELLERS</h4>
            <span>Records</span>
          </a><br>
          <a class="btn btn-default btn-margin full-width" >
            <h4>VENDORS</h4>
            <span>Records</span>
          </a>
        </div>
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4 align-left">
          <a class="btn btn-default btn-margin full-width" >
            <h4>PRODUCTS</h4>
            <span> Records</span>
          </a><br>
          <a class="btn btn-default btn-margin full-width" >
            <h4>MINES</h4>
            <span> Records</span>
          </a><br>
          <a class="btn btn-default btn-margin full-width" >
            <h4>CONTACTS</h4>
            <span> Records</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>