<table datatable="ng" dt-options="options" class="row-border hover">
  <div class="pull-right">
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-save-file"></i> Export CSV</a>
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-print"></i> Print Report</a>
  </div>
  <thead>
      <tr>
        <th width="100px">Order Date</th>
        <th>Company</th>
        <th>Volume tonnes</th>
        <th>GCV(arb) kcal</th>
        <th>GCV(adb) kcal</th>
        <th>NCV kcal</th>
        <th width="140px">Total (USD)</th>
        <th width="140px">Status</th>
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders" ng-click="openModal(order.id)">
      <td>{{order.order_date | convertToDate | date : 'd MMMM yy' }}</td>
      <td>{{order.company_name}}</td>
      <td>{{order.volume | number}}</td>
      <td>{{order.gcv_arb_min | number}} <br/> {{order.gcv_arb_max | number}}</td>
      <td>{{order.gcv_adb_min | number}} <br/> {{order.gcv_adb_max | number}}</td>
      <td>{{order.ncv_min | number}} <br/> {{order.ncv_max | number}}</td>
      <td>{{ (order.volume*order.max_price) | number }}</td>
      <td>
          <order-status status=order.status></order-status>
      </td>
    </tr>
  </tbody>
</table>

<div class="panel panel-primary">
  <div class="panel-heading">
    Total Sales: {{ getTotalPrice() | number }} USD
  </div>
  <div class="panel-body">
    Total Volume: {{ getTotalVolume() | number }}
  </div>
</div>