<div class="box box-info" ng-controller="ContactController"> <!-- CONTACTS -->
  <div class="box-header with-border">
    <h3 class="box-title" style="font-size: 25px">Contacts</h3>
    <div class="box-tools pull-right">
      <button type="button" ng-click="add()" class="btn btn-info hidden-xs">
        <i class="glyphicon glyphicon-plus"></i> Add New Contact
      </button>
    </div>
     <!--For Mobile-->
      <button type="button" ng-click="add()" class="btn btn-info btn-block visible-xs">
        <i class="glyphicon glyphicon-plus"></i> Add New Contact
      </button>
      <!--For Mobile-->
  </div>
     
  <div class="box-body no-padding">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th><i class="glyphicon glyphicon-envelope"></i> Email</th>
            <th><i class="glyphicon glyphicon-earphone"></i> Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="company.contacts.length < 1">
            <td colspan="4" align="center">There is no record of contact</td>
          </tr>
          <tr ng-if="company.contacts.length > 0" ng-repeat="contact in company.contacts">
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td><span class="pull-right">
              <a href="#" ng-click="edit(contact)"><i class="glyphicon glyphicon-pencil"></i></a>
              <a href="#" ng-click="delete(contact)"><i class="glyphicon glyphicon-remove"></i></a>
            </span></td>
          </tr>
          <tr ng-if="company.contacts == 0">
            <td colspan="4" class="text-center">Not Available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- CONTACTS -->