<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" id="name" ng-model="contact.name" required>
</div>

<div class="form-group">
  <label for="email">Email:</label>
  <input type="text" class="form-control" id="email" ng-model="contact.email" required>
</div>

<div class="form-group">
  <label for="phone">Phone Number:</label>
  <input type="text" class="form-control" id="phone" ng-model="contact.phone" required>
</div>

<div class="form-group">
  <label ng-show="error" class="alert alert-danger">{{error}}</label>
</div>

<button type="submit" class="btn btn-default">Submit</button>