<section class="col-xs-12" style="padding: 15px 30px;">

  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title"> <b>This Years's Overview</b></h3>
    </div>
    <div class="box-body">
    <div class="row">
    <div class="col-lg-4">

    </div>

    <div class="col-lg-4">
    <div class="btn-group btn-group-lg centering text-center">
      <button type="button" ui-sref="scheduler.current-shipment" class="btn btn-primary">Current Shipments</button>
      <button type="button" ui-sref="scheduler.history-shipment"  class="btn btn-primary">Shipments History
  </button>
    </div>
    </div>

    <div class="col-lg-4">

    </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4" style="align-items: center;">
        <div style="border: 10px solid red; border-radius: 99%; height:245px; width:245px; margin-left: 125px;">
          <h3 style="text-align: center; margin-top: 50px; line-height: 20px;">Unattended
</h3>
          <h1 style="font-size: 100px; text-align: center;"><b>7</b></h1>
        </div>
      </div>
      <div class="col-lg-4" style="align-items: center;">
        <div style="border: 10px solid orange; border-radius: 99%; height:245px; width:245px; margin: auto 60px;">
          <h3 style="text-align: center; margin-top: 50px; line-height: 20px;">Shipping</h3> 
          <h1 style="font-size: 100px; text-align: center;"><b>18</b></h1>
        </div>
      </div>
      <div class="col-lg-4" style="align-items: center;">
        <div style="border: 10px solid green; border-radius: 99%; height:245px; width:245px; ">
          <h3 style="text-align: center; margin-top: 50px; line-height: 20px;">Completed</h3>
          <h1 style="font-size: 100px; text-align: center;"><b>34</b></h1>
        </div>
      </div>
    </div>  
    </div>
  </div>

  <div class="box box-info" style="margin-bottom: 25px;">
    <div class="box-header with-border">
      <h3 class="box-title"> <b>Last Month Summary</b></h3>
    </div>
    <div class="box-body" class="row">

      <div class="col-xs-12">
        <table class="table table-striped">
          <thead> 
           
          </thead>
          <tbody>
            <tr>
              <td>Shipments 30+ Days Late</td> 
              <td>40 %</td> 
              <td>48 Order</td> 
            </tr>

            <tr>
              <td>Shipments 1-29 Days Late</td> 
              <td>21 %</td> 
              <td>25 Order</td> 
            </tr>
            
            <tr>
              <td>Shipments On Time</td> 
              <td>39 %</td> 
              <td>47 Order</td> 
            </tr>
          
           
          </tbody>
        </table>
      </div>

    
    </div>
  </div>

  <a ui-sref="scheduler.current-shipment"><button class="btn btn-primary btn-block btn-flat">View All </button> </a>

</section>

