  <div class="col-lg-6" >
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Detail Order </h3>
      </div>
      <div class="box-body">
      <div class="col-lg-12">  
              <ul class="products-list product-list-in-box">
                <li class="item">
                 
                  <div class="product-info">
                    <a  class="product-title">Vessel Name
                    </a>
                        <span class="product-description">
                           Vessel 1
                        </span>
                  </div>
                </li>

                <li class="item">
                 
                  <div class="product-info">
                    <a  class="product-title">Destination
                    </a>
                        <span class="product-description">
                          PT Mitra Bahari Sentosa
                        </span>
                  </div>
                </li>

                <!-- /.item -->
                <li class="item">
                  
                  <div class="product-info">
                    <a class="product-title">Status
                    </a>
                        <span class="product-description">
                         
                        </span>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                 
                  <div class="product-info">
                    <a  class="product-title">Concession </a>
                        <span class="product-description">
                          PT.Wilmar Nabati Indonesia
                        </span>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Product
                      </a>
                        <span class="product-description">
                            Product A
                        </span>
                  </div>
                </li>

                <li class="item">
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Planned Delivery
                      </a>
                        <span class="product-description ">
                          January 2017 – March 2017
                        </span>
                  </div>
                </li>


                <li class="item">
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Actual Delivery
                      </a>
                        <span class="product-description ">
                          <p style="color:red" >MUST BE FILLED!</p>
                        </span>
                  </div>
                </li>

                <li class="item">
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Delivery Tonnage
                      </a>
                        <span class="product-description ">
                          2,000,000 mt
                        </span>
                  </div>
                </li>

                <li class="item">
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">Delivered Tonnage
                      </a>
                        <span class="product-description ">
                          32,000,000 mt
                        </span>
                  </div>
                </li>
                <!-- /.item -->
              </ul>
      </div>
      </div>
    </div>
  </div>    

  <div class="col-lg-6" >
     <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">History of Changes </h3>
      </div>
      <div class="box-body">
      <div class="col-lg-12">  

         <table class="table table-striped">
          <thead> 
            <tr>
              <th> Date </th>
              <th> Made By </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 25 Desember 2016</td>
              <td> Gio</td>
            </tr>
            <tr>
              <td> 27 Desember 2016</td>
              <td> Gio</td>
            </tr>
          </tbody>
          </table>

      </div>
      </div>
      </div>
  </div> 