 
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Year </th>
            <th> Month </th>
            <th> Contract ID</th>
            <th> Buyer</th>
            <th> Shipment ID</th>
            <th> Finished Date</th>
            <th> Quantity</th>
            <th> POD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> 2015 </td>
            <td> JAN </td>
            <td> 01 </td>
            <td>PT.Wilmar Nabati Indonesia</td>
            <td>A01</td>
            <td>24 Jan 2015</td>
            <td>1,000 tonne</td>
            <td>Gresik INDONESIA</td>
          </tr>

          <tr>
            <td> 2015 </td>
            <td> JAN </td>
            <td> 09 </td>
            <td>PT.SMART</td>
            <td>B09</td>
            <td>31 Jan 2015</td>
            <td>283 tonne</td>
            <td>Gresik, INDONESIA</td>
          </tr>

          <tr>
            <td> 2015 </td>
            <td> FEB </td>
            <td> 09 </td>
            <td>PT Mitra Bahari Sentosa</td>
            <td>C02</td>
            <td>4 Feb 2015</td>
            <td>293 tonne</td>
            <td>Jakarta, INDONESIA</td>
          </tr>

          <tr>
            <td> 2015 </td>
            <td> FEB </td>
            <td> 10 </td>
            <td>PT Borneo Indobara</td>
            <td>D02</td>
            <td>4 Feb 2015</td>
            <td>919 tonne</td>
            <td>Banjarmasin, INDONESIA</td>
          </tr>
         
         
        </tbody>
      </table>
      </div>

     