<h3>Company Name: {{company.company_name}}</h3>
<hr/>
<div class="nav-tabs-custom">
  <uib-tabset active="active">
    <uib-tab index="0" heading="Company Details">
      <div id="concession">
        <div class="row">
          <div class="col-lg-12">
            &nbsp;
            <div>
              <section class="col-lg-12">
              <div class="table-responsive">
                <table>
                  <tr>
                    <td>Address  </td>
                    <td>  : {{company.address || 'N/A'}}  </td>
                  </tr>
                  <tr>
                    <td>City </td>
                    <td>  : {{company.city || 'N/A'}} </td>
                  </tr>
                  <tr>
                    <td>Country </td>
                    <td>  : {{company.country || 'N/A'}} </td>
                  </tr>
                  <tr>
                    <td>Industry </td>
                    <td>  : {{company.industry || 'N/A'}} </td>
                  </tr>
                  <tr>
                    <td>Phone </td>
                    <td>  : {{company.phone || 'N/A'}} </td>
                  </tr>
                  <tr>
                    <td>Position  </td>
                    <td>  : {{company.latitude || 'N/A'}}, {{company.longitude || 'N/A'}} </td>
                  </tr>
                  <tr>
                    <td>Web  </td>
                    <td>  : {{company.web || 'N/A'}}  </td>
                  </tr>
                  <tr>
                    <td>Email  </td>
                    <td>  : {{company.email || 'N/A'}}  </td>
                  </tr>
                  <tr>
                    <td>Status  </td>
                    <td ng-if="company.status=='a'"> : Active</td>
                    <td ng-if="company.status=='i'"> : Inactive</td>
                  </tr>
                  <tr>
                    <td>Description  </td>
                    <td> : </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>{{company.description || 'N/A'}}  </td>
                  </tr>
                </table>
                </div>
              </section>
            </div>
          </div>
          &nbsp;
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Factory">
      <div id="factory" ng-repeat="factory in company.factories">
        <div class="row">
          <div class="col-lg-12">
            &nbsp;
            <div>
              <section class="col-lg-12">
              <div class="table-responsive">
                <table>
                  <tr>
                    <td><span class="col-lg-6">{{ factory.factory_name }}</span> </td>
                    <td><span class="col-lg-6"><button class="btn btn-info btn-sm" ng-show="factory.factory_name" ng-click="showFactoryDetails($event, factory)">Show</button></span><br/> </td>
                  </tr>
                  </div>
                </table>
                </div>
              </section>
            </div>
          </div>
          &nbsp;
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
