<div class="box" style="margin:20px; padding: 20px;">
  <div class="box-header with-border row">
    <h4 class="modal-title col-xs-8">Reasons to Approved:</h4>
    <i class="fa fa-times pull-right" ng-click="close()"></i>
  </div>
  <div class="box-body">
    <form name="createIUP" role="form" >
      <label>Write Down Your Reason for Approval</label>
      <textarea name="approved"  class="form-control" id="approved" ></textarea>
      </br><button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
