<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <label for="port_name">Name Company:</label>
      <input name="company_name" type="text" class="form-control" id="company_name" required>
    </div>

 
        <div class="form-group">
          <label for="headquarter_location">Source:</label>
          <div class="input-group" style="margin-bottom: 5px;">
            <div class="btn-group">
              <label class="btn btn-default" ng-model="source" uib-btn-radio="0">Broker</label>
              <label class="btn btn-default" ng-model="source" uib-btn-radio="1">Internal</label>
              <label class="btn btn-default" ng-model="source" uib-btn-radio="2">KP Owner</label>
              <label class="btn btn-default" ng-model="source" uib-btn-radio="3">Widjaja</label>
              <label class="btn btn-default" ng-model="source" uib-btn-radio="4">Others</label>
              
            </div>
          </div>
        </div>
     

    <div class="form-group">
      <label for="port_name">Contact Person:</label>
      <input name="contact_person" type="text" class="form-control" id="contact_person" required>
    </div>

    <div class="form-group">
      <label for="port_name">Telpon Number:</label>
      <input name="telpon" type="text" class="form-control" id="telpon" required>
    </div>

    <h4>1. Data License</h4>  
      <div class="form-group">
        <label for="headquarter_location">Type License:</label>
        <div class="input-group" style="margin-bottom: 5px;">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="tl" uib-btn-radio="0">SKIP</label>
            <label class="btn btn-default" ng-model="tl" uib-btn-radio="1">PU</label>
            <label class="btn btn-default" ng-model="tl" uib-btn-radio="2">XPL</label>
            <label class="btn btn-default" ng-model="tl" uib-btn-radio="3">XPLT</label>
            <label class="btn btn-default" ng-model="tl" uib-btn-radio="4">ANGK/JUAL</label>
              
          </div>
        </div>
      </div>


    <div class="form-group">
      <label for="port_name">Expired Date:</label>
      <input name="expired" type="date" class="form-control" id="expired" required>
    </div>

    <div class="form-group">
        <label for="headquarter_location">Overlapping with SMG Forestry:</label>
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default" ng-model="ow" uib-btn-radio="0">Yes</label>
            <label class="btn btn-default" ng-model="ow"  uib-btn-radio="1">No</label>
          </div>
           <input name="smg" type="text" class="form-control" id="smg"> 
        </div>

    </div>

    <div class="form-group">
        <label for="headquarter_location">Release after 12 Jan 2009:</label>
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default" ng-model="ra"  uib-btn-radio="0">Yes</label>
            <label class="btn btn-default" ng-model="ra"  uib-btn-radio="1">No</label>
          </div>
           <input name="telpon" type="text" class="form-control" id="telpon"> 
        </div>

    </div>

    <div class="form-group">
        <label for="headquarter_location">Already to Production :</label>
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default" ng-model="atp" uib-btn-radio="0">Yes</label>
            <label class="btn btn-default" ng-model="atp" uib-btn-radio="1">No</label>
          </div>
           <input name="telpon" type="text" class="form-control" id="telpon"> 
        </div>

    </div>

    <h4>2. LAND USE</h4>   
    <div class="form-group">
        <label for="headquarter_location">Restricted Area:</label>
        <div class="input-group" style="margin-bottom: 5px;">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="ra" uib-btn-radio="0">APL</label>
            <label class="btn btn-default" ng-model="ra" uib-btn-radio="1">H.PROD</label>
            <label class="btn btn-default" ng-model="ra" uib-btn-radio="2">HPT</label>
            <label class="btn btn-default" ng-model="ra" uib-btn-radio="3">HPK</label>
            <label class="btn btn-default" ng-model="ra" uib-btn-radio="4">CAGAR ALAM</label>
            <label class="btn btn-default" ng-model="ra" uib-btn-radio="4">H.LINDUNG</label>
              
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="port_name">Description:</label>
      <input name="decription" type="date" class="form-control" id="description" required>
    </div>

    <div class="form-group">
      <label for="port_name">Land Use:</label>
      <input name="landuse" type="date" class="form-control" id="landuse" required>
    </div>


    <div class="form-group" ng-init="initMap()">
      <label for="polygon">Polygon*: </label>
      <div class="col-lg-12">
        <div class="col-lg-6">
          Format : [[6,110], [8,110], ...]
          <textarea rows="12" cols="5" class="form-control" ng-model="display.polygonString" ng-change="updatePolygonArray()" required></textarea>
          <button type="button" class="btn btn-danger" ng-click="clearPolygon()">Clear Text</button>
          <button type="button" class="btn btn-default" ng-click="resetPolygon()">Reset Text</button>
        </div>
        <div class="col-lg-8">
          <ng-map zoom="4" center="Indonesia">
            <shape id="polygon" name="polygon"
              paths="{{display.polygonArray}}"
              stroke-color="#FF0000"
              stroke-opacity="1.0"
              stroke-weight="3">
            </shape>
            <drawing-manager
              on-overlaycomplete="updatePolygonString()"
              drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon']}"
              polygonOptions="{fillColor:'#01539f', strokeColor: '#01539f', editable: true}"
              drawingControl="true"
              drawingMode="polygon">
            </drawing-manager>
          </ng-map>
        </div>
      </div>
    </div>


    <div class="form-group">
        <label for="headquarter_location">Overlapping with SMG Forestly and SMG Palm Oil Plantation :</label>
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default" ng-model="smg" uib-btn-radio="0">Yes</label>
            <label class="btn btn-default" ng-model="smg" uib-btn-radio="1">No</label>
          </div>
           <input name="telpon" type="text" class="form-control" id="telpon"> 
    </div>

    </div>

    <div class="form-group">
        <label for="headquarter_location">Produce KP :</label>
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default" ng-model="pk" uib-btn-radio="0">Yes</label>
            <label class="btn btn-default" ng-model="pk" uib-btn-radio="1">No</label>
          </div>
           <input name="telpon" type="text" class="form-control" id="telpon"> 
    </div>

    </div>

    <h4>3. PROXIMITY</h4>   
     <div class="form-group">
        <label for="headquarter_location">Proximity :</label>
        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default" ng-model="p" uib-btn-radio="0">SMG MILL</label>
          </div>
           <input name="telpon" type="text" class="form-control" id="telpon"> 
        </div>

        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default"  ng-model="smgkp" uib-btn-radio="0">SMG KP</label>
          </div>
           <input name="telpon" type="text" class="form-control" id="telpon"> 
        </div>

        <div class="input-group">
          <div class="input-group-btn">
            <label class="btn btn-default" ng-model="rr" uib-btn-radio="0">RIVER ROAD</label>
          </div>
           <input name="telpon" type="text" class="form-control" id="telpon"> 
        </div>
    </div>
      
    <h4>4. Geological</h4>   
    <div class="form-group">
      <label for="port_name">Coal Bearing Formation:</label>
      <input name="landuse" type="text" class="form-control" id="landuse" required>
    </div>

    <div class="form-group">
      <label for="port_name">Description:</label>
      <input name="landuse" type="text" class="form-control" id="landuse" required>
    </div>


    <div class="form-group">
      <label for="port_name">Notes:</label>
      <textarea name="landuse"  class="form-control" id="landuse" ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</div>    