<div class="box">
  <div class="box-header with-border">
	  <h4 class="modal-title">Create A Factory</h4>
	  <i class="fa fa-times pull-right" ng-click="close()"></i>
  </div>

  <div class="box-body">
  	<div ng-if="!createNew" ng-init="find()">
      <ui-select ng-model="selected.factory"
        reset-search-input="false"
        style="min-width: 30px;"
        title="Choose an factory">
        <ui-select-match placeholder="Name of the Factory...">{{$select.selected.factory_name}}</ui-select-match>

        <ui-select-choices repeat="factory in factories track by $index"
          refresh="find($select.search)"
          refresh-delay="1">
          <div ng-bind-html="factory.factory_name  | highlight: $select.search | html"></div>
        </ui-select-choices>
      </ui-select>

      <br>

      <div ng-if="selected.factory" class="row">
      	<div class="col-lg-8">
	        <table class="table table-striped table-bordered">
	          <tr><td>Name</td><td>{{ selected.factory.factory_name }}</td></tr>
	          <tr><td>Owner</td><td>{{ selected.factory.owner }}</td></tr>
						<tr><td>Address</td><td>{{ selected.factory.address }}</td></tr>
						<tr><td>City</td><td>{{ selected.factory.city }}</td></tr>
						<tr><td>Country</td><td>{{ selected.factory.country }}</td></tr>
						<tr><td>Lat</td><td>{{ selected.factory.latitude }}</td></tr>
						<tr><td>Lng</td><td>{{ selected.factory.longitude }}</td></tr>
						<tr><td>Factory Size</td><td>{{ selected.factory.size | number }}</td></tr>
						<tr><td>Annual Consumption</td><td>{{ selected.factory.consumption | number }}</td></tr>
	        </table>
        </div>
      	<div class="col-lg-4">
      		<ng-map zoom="8" center="[{{selected.factory.latitude}}, {{selected.factory.longitude}}]">
      			<marker position="[{{selected.factory.latitude}}, {{selected.factory.longitude}}]" title="{{ selected.factory.factory_name }}"></marker>
      		</ng-map>
      	</div>
      	<div class="col-lg-12">
	        <button class="btn btn-primary col-lg-12" ng-click="attach(selected.factory)">
	          Use This Factory
	        </button>
	      </div>
      </div>
    </div>

    <div ng-show="!selected.factory">
      <div class="text-center col-md-4 col-md-offset-4" ng-if="!createNew">
        - OR -<br><br>
      </div>
      <button class="btn btn-primary col-lg-12" ng-click="createNew=!createNew">
        <b>+</b> {{ createNew ? 'Add Existing Factory' : 'Create New Factory' }}
      </button>
      <br><br>
    </div>

    <div ng-if="createNew">
  	  <form name="createFactory" role="form" ng-submit="create()">
  	    <div ng-include="'/angular/coalpedia/views/factory/_form.partial.html'"></div>
  	  </form>
    </div>
	</div>
</div>
