<section class="col-xs-12" style="padding: 15px 30px;">

  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title"> <b>This Month's Overview</b></h3>
    </div>
    <div class="box-body" class="row">
      <div class="col-xs-4" style="align-items: center;">
        <div style="border: 10px solid red; border-radius: 99%; height:245px; width:245px; margin-left: 125px;">
          <h3 style="text-align: center; margin-top: 50px; line-height: 20px;">Unattended</h3>
          <h1 style="font-size: 100px; text-align: center;"><b>7</b></h1>
        </div>
      </div>
      <div class="col-xs-4" style="align-items: center;">
        <div style="border: 10px solid orange; border-radius: 99%; height:245px; width:245px; margin: auto 60px;">
          <h3 style="text-align: center; margin-top: 50px; line-height: 20px;">On Process</h3> 
          <h1 style="font-size: 100px; text-align: center;"><b>18</b></h1>
        </div>
      </div>
      <div class="col-xs-4" style="align-items: center;">
        <div style="border: 10px solid green; border-radius: 99%; height:245px; width:245px; ">
          <h3 style="text-align: center; margin-top: 50px; line-height: 20px;">Completed</h3>
          <h1 style="font-size: 100px; text-align: center;"><b>34</b></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-info" style="margin-bottom: 25px;">
    <div class="box-header with-border">
      <h3 class="box-title"> <b>Last Month's Summary</b></h3>
    </div>
    <div class="box-body" class="row">

      <div class="col-xs-6">
        <table class="table table-striped">
          <thead> 
            <tr>
              <th><h4>Document by Status</h4></th>
              <th></th>           
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Unattended</td>
              <td>10%</td>
              <td>10 Documents</td>
            </tr>
            <tr>
              <td>On Process</td>
              <td>20%</td>
              <td>20 Documents</td>
            </tr>
            <tr>
              <td>Completed</td>
              <td>70%</td>
              <td>70 Documents</td>
            </tr>          
          </tbody>
        </table>
      </div>

      <div class="col-xs-6">
        <table class="table table-striped">
          <thead> 
            <tr>
              <th><h4>Document by Delivery Time</h4></th>
              <th></th>           
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Documents 30+ Days Late</td>
              <td>40%</td>
              <td>48 Documents</td>
            </tr>
            <tr>
              <td>Documents 1-29 Days Late</td>
              <td>21%</td>
              <td>25 Documents</td>
            </tr>
            <tr>
              <td>Documents On Time</td>
              <td>39%</td>
              <td>47 Documents</td>
            </tr>            
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <a ui-sref="preshipment.index"><button class="btn btn-primary btn-block btn-flat">View All Contracts</button> </a>

</section>

