<td ng-if="buymin !== null || buymax !== null || buyreject !== null || buybonus !== null || sellmin !== null || sellmax !== null || sellreject !== null || sellbonus !== null">
  <b>{{quality}}</b>
</td>
	<td ng-if="( buymin !== null || buymax !== null || buyreject !== null || buybonus !== null || sellmin !== null || sellmax !== null || sellreject !== null || sellbonus !== null ) && !inhouse" class="col-sm-4">
		<span ng-if="buymin || buymax || buyreject || buybonus">
      <span ng-if="productquality === 'typical'">
        <span ng-if="buyreject || buybonus" class="col-sm-4 row">{{ buymin || 'N/A' }} {{unit}}</span>
        <span ng-if="!(buyreject || buybonus)" class="col-sm-4 row">{{ buymin || 'N/A' }} {{unit}}</span>
      </span>
      <span ng-if="productquality === 'range' && buymin !== null && buymax !== null">
        <span ng-if="buyreject || buybonus" class="col-sm-4 row">{{ buymin || 'N/A' }} ~ {{ buymax || 'N/A' }} {{unit}}</span>
        <span ng-if="!(buyreject || buybonus)">{{ buymin || 'N/A' }} ~ {{ buymax || 'N/A' }} {{unit}}</span>
      </span>
      <span ng-if="productquality === 'range' && buymin !== null && buymax === null">{{ buymin || 'N/A' }} {{unit}}</span>
      <span ng-if="productquality === 'range' && buymax === null && buymax !== null">{{ buymax || 'N/A' }} {{unit}}</span>
		</span>
    <span class="col-sm-1" ng-if="buyreject !== null"></span>
    <span ng-if="buyreject !== null" class="col-sm-4 row">Reject: {{ buyreject }} {{unit}}</span>
    <span class="col-sm-1" ng-if="buybonus !== null && productquality ==='range'" ></span>
    <span ng-if="buybonus !== null && productquality ==='range'" class="col-sm-4 row">{{ buybonus }} {{unit}} bonus</span>
	</td>
  <td ng-if="buymin !== null || buymax !== null || buyreject !== null || buybonus !== null || sellmin !== null || sellmax !== null || sellreject !== null || sellbonus !== null" class="col-sm-4 row">
    <span ng-if="sellmin || sellmax || sellreject || sellbonus">
      <span ng-if="productquality === 'typical'">
        <span ng-if="sellreject || sellbonus" class="col-sm-4 row">{{ sellmin || 'N/A' }} {{unit}}</span>
        <span ng-if="!(sellreject || sellbonus)">{{ sellmin || 'N/A' }} {{unit}}</span>
      </span>
      <span ng-if="productquality === 'range' && sellmin !== null && sellmax !== null">
        <span ng-if="sellreject || sellbonus" class="col-sm-4 row">{{ sellmin || 'N/A' }} ~ {{ sellmax || 'N/A' }} {{unit}}</span>
        <span ng-if="!(sellreject || sellbonus)">{{ sellmin || 'N/A' }} ~ {{ sellmax || 'N/A' }} {{unit}}</span>
      </span>
      <span ng-if="productquality === 'range' && sellmin !== null && sellmax === null">{{ sellmin || 'N/A' }} {{unit}}</span>
      <span ng-if="productquality === 'range' && sellmax === null && sellmax !== null">{{ sellmax || 'N/A' }} {{unit}}</span>
    </span>
    <span class="col-sm-1" ng-if="sellreject !== null"></span>
    <span ng-if="sellreject !== null" class="col-sm-4 row">Reject: {{ sellreject }} {{unit}}</span>
    <span class="col-sm-1" ng-if="sellbonus !== null && productquality ==='range'"></span>
    <span ng-if="sellbonus !== null && productquality ==='range'" class="col-sm-4 row">{{ sellbonus }} {{unit}} bonus</span>
  </td>
