  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>  Caloric :
        <span class="pull-right">{{ product.caloric_min | number }} - {{ product.caloric_max | number }} kcal/kg</span>
    </li>
    <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Moist :
        <span class="pull-right">{{ product.moisture_min }}% - {{ product.moisture_max }}%</span>
    </li>
    <li class="list-group-item list-group-item-warning">
        <span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Sulphur :
        <span class="pull-right">{{ product.sulphur_min }}% - {{ product.sulphur_max }}%</span>
    </li>
    <li class="list-group-item list-group-item-success">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Ash :
        <span class="pull-right">{{ product.ash_min }}% - {{ product.ash_max }}%</span>
    </li>
  </ul>

  <div class="caption">
    <h3>{{ product.tonnage | number:2 }}</h3>
    <p>tonnes available</p>
    <p class="btn-group">
        <a  ui-sref="product.add({ id: product.id })" class="btn btn-primary" role="button">
          <i class="glyphicon glyphicon-plus"></i> Production
        </a>
        <a ui-sref="product.opname({ id: product.id })" class="btn btn-default" role="button" title="stock opname">
          <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a ui-sref="product.update({ id: product.id })" class="btn btn-default" role="button" title="edit">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <button ng-click="delete(product.id)" class="btn btn-default" role="button" title="delete">
          <i class="glyphicon glyphicon-trash"></i>
        </button>

    </p>
  </div>

  <table class="table table-striped">
  	<thead><tr>
  		<th>Date</th>
      <th>Tonnage</th>
  		<th>Desc</th>
  	</tr></thead>
  	<tbody>
  		<tr ng-repeat="production in product.production">
  			<td>{{ production.created_at | date }}</td>		
        <td>{{ production.tonnage | number }}</td>    
  			<td>{{ production.description }}</td>		
  		</tr>
  	</tbody>
  </table>