<section style="padding: 15px 30px;" ng-controller="TreasuryController">
  
  <div class="row">

    <span class="col-xs-3" style="padding-right: 0px !important; ">
      <div class="box box-info" >
        <div class="box-header with-border">
          <h3 class="box-title"> <b>Payment Recieved</b></h3>
        </div>
        <div class="box-body">
          <h5>Current Year Total Receivable</h5>
          <h3 style="margin-top: 0px !important;">IDR 9,239,248,054</h3>
          <h5 style="margin-top: 25px;">Current Month Total Receivable</h5>
          <h3 style="margin-top: 0px !important;">IDR 3,924,034,089</h3>
        </div>
      </div>
    </span>

    <span class="col-xs-9" style="padding-left: 0px !important;">
      <div class="box box-info" >
        <div class="box-header with-border">
          <h3 class="box-title"> <b>Overdue</b></h3>
        </div>
        <div class="box-body row">
          <div class="col-xs-6">
            <h5>1-15 Days</h5>
            <h3 style="margin-top: 0px !important;">IDR 1,391,405,039</h3>
            <h5 style="margin-top: 25px;">16-30 Days</h5>
            <h3 style="margin-top: 0px !important;">IDR 2,932,343,500</h3>
          </div>
          <div class="col-xs-6">
            <h5>31-45 Days</h5>
            <h3 style="margin-top: 0px !important;">IDR 682,834,034</h3>
            <h5 style="margin-top: 25px;">Above 45 Days</h5>                
            <h3 style="margin-top: 0px !important;">IDR 308,631,391</h3>              
          </div>       
        </div>
      </div>
    </span>   

  </div>

  <div class="row">

    <span class="col-xs-6" style="padding-right: 0px !important; ">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"> <b>Current Year Recievable Progress (Data in Million)</b></h3>
        </div>
        <div class="box-body">
          <canvas id="line" class="chart chart-line" chart-data="data1" chart-labels="labels1" chart-options="options1" chart-dataset-override="datasetOverride" chart-click="onClick" style="padding: 20px;">
          </canvas>                   
        </div>
      </div>
    </span>

    <span class="col-xs-6" style="padding-left: 0px !important;">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"> <b>Yearly Recievable Progress (Data in Million)</b></h3>
        </div>
        <div class="box-body">
          <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" style="padding: 20px;">
          </canvas>                   
        </div>
      </div>
    </span>   

  </div>   

  <a ui-sref="treasury.index"><button class="btn btn-primary btn-block btn-flat">View All Recievable History </button> </a>

</section>

