<div class="content" ng-controller="ConcessionController" ng-init="findOne()">
  <!-- HEADER -->
  <div class="row submenu-header">
    <div class="submenu-header-item">
      <button type="button" class="btn btn-default" ui-sref="concession.list">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
      </button>
      <i>/</i>
      <button type="button" class="btn btn-default"
        ui-sref="company.view({ type: companyType, id: concession.company.id })">
        <i class="glyphicon glyphicon-arrow-left"></i> {{ concession.company.company_name }}
      </button>
    </div>
    <div class="submenu-header-item">
      <h4>{{ $stateParams.type }} Profile</h4>
    </div>
  </div>

  <!-- PRIMARY DETAIL -->
  <div style="height:200px; padding:10px; background:#eee;">
    <div class="col-xs-10">
      <h1>{{ concession.concession_name }}</h1>
      <h3>{{ concession.city }}</h3>
    </div>
  </div>

  <div style="margin-top:10px;">
    <div class="col-lg-4">
      <div class="row" style="background:#eee; padding: 10px;">
        <h3>About</h3>

        <button type="button" class="btn btn-primary" ui-sref="lead.update-concession({ id: concession.id })">
          <i class="glyphicon glyphicon-pencil"></i> Update
        </button><br><br>

        <table class="table table-striped">
          <tr><td>Address:</td><td>{{ concession.address }}</td></tr>
          <tr><td>City:</td><td>{{ concession.city }}</td></tr>
          <tr><td>Country:</td><td>{{ concession.country }}</td></tr>
          <tr><td>Latitude:</td><td>{{ concession.latitude }}</td></tr>
          <tr><td>Longitude:</td><td>{{ concession.longitude }}</td></tr>
          <tr><td>Size:</td><td>{{ concession.size | number }}</td></tr>
          <tr><td>Stripping Ratio:</td><td>{{ concession.stripping_ratio | number }}</td></tr>
          <tr><td>Resources:</td><td>{{ concession.resources | number }}</td></tr>
          <tr><td>Reserves:</td><td>{{ concession.reserves | number }}</td></tr>
          <tr><td>Contracted Volume:</td><td>{{ concession.contracted_volume | number }}</td></tr>
          <tr><td>Remaining Volume:</td><td>{{ concession.remaining_volume | number }}</td></tr>
          <tr><td>Port Name:</td><td>{{ concession.port.port_name || 'N/A' }}</td></tr>
          <tr><td>Distance to Port:</td><td>{{ concession.port_distance | number }}</td></tr>
          <tr><td>Annual Production:</td><td>{{ concession.annual_production | number }}</td></tr>
          <tr ng-if="concession.status == 'a'"><td>Status:</td> <td>Active</td></tr>
          <tr ng-if="concession.status == 'x'"><td>Status:</td> <td>Deactivated</td></tr>
        </table>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="row" style="background:#eee; padding: 10px; margin-left:10px;">
        <ng-map zoom="4" center="Indonesia" default-style="false" style="width:100%; height:500px;">
          <marker ng-if="!concession.polygon" position="{{concession.latitude}}, {{concession.longitude}}" id="mark{{concession.id}}" on-click="showDetail({{pos}})"></marker>
          <shape name="polygon" ng-if="concession.polygon"
             id="mark{{concession.id}}"
             paths="{{concession.polygon}}"
             stroke-color="#FF0000"
             stroke-opacity="0.8"
             stroke-weight="2"
             fill-color="#FF0000"
             fill-opacity="0.35">
          </shape>
          <marker 
            icon="{
              url: '/images/boat.png'
            }" 
            position="{{concession.port.latitude}}, {{concession.port.longitude}}" 
            id="markport{{concession.port.id}}" 
            on-click="showPortDetail({{pos}})"
          >
          </marker>
        </ng-map>
      </div>
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: 25px">Products</h3>
          <div class="box-tools pull-right">
            <button type="button" ng-click="addProduct()" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Add New Product</button>
          </div>
        </div>
        <div class="box-body">
          <div class="row" style="margin: 10px;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th><i class="glyphicon glyphicon-scale"></i> GCV ADB (kcal)</th>
                  <th><i class="glyphicon glyphicon-scale"></i> GCV ARB (kcal)</th>
                  <th><i class="glyphicon glyphicon-scale"></i> NCV (kcal)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in concession.products">
                  <td>{{ product.product_name }}</td>
                  <td>{{ product.gcv_adb_min | number }} - {{ product.gcv_adb_max | number }}</td>
                  <td>{{ product.gcv_arb_min | number }} - {{ product.gcv_arb_max | number }}</td>
                  <td>{{ product.ncv_min | number }} - {{ product.ncv_max | number }}</td>
                  <td><span class="pull-right">
                    <a ui-sref="lead.view-product({ id: product.id })"><i class="glyphicon glyphicon-eye-open"></i></a>
                    <a href="#" ng-click="deleteProduct(product)"><i class="glyphicon glyphicon-remove"></i></a>
                  </span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>