  <div class="col-lg-6" >
     <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"> </h3>
      </div>
      <div class="box-body">
      <div class="col-lg-12">  

         <table class="table table-striped">
          <thead> 
            <tr>
              <th> Tonnage </th>
              <th> ETA </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> </td>
              <td> </td>
            </tr>
           
          </tbody>
          </table>
           <button type="button" class="btn btn-primary">Add Vesel</button>
      </div>
      </div>
      </div>
  </div> 