<div class="form-group">
  <label for="mine_name">Mine Name:</label>
  <input type="text" class="form-control" id="mine_name" ng-model="mine.mine_name">
</div>

<h3>Technical Data</h3>

<div class="form-group">
  <label for="mineable_reserve">Mineable Reserve:</label>
  <input type="text" class="form-control" id="mineable_reserve" ng-model="mine.mineable_reserve">
</div>

<div class="form-group">
  <label for="striping_ratio">Striping Ratio:</label>
  <input type="text" class="form-control" id="striping_ratio" ng-model="mine.striping_ratio">
</div>

<h3>Infrastructure</h3>
<h5>Road</h5>

<div class="form-group">
  <label for="road_accessibility">Road Accessibility:</label>
  <input type="text" class="form-control" id="road_accessibility" ng-model="mine.road_accessibility">
</div>

<div class="form-group">
  <label for="port_distance">Port Distance:</label>
  <input type="text" class="form-control" id="port_distance" ng-model="mine.port_distance">
</div>

<div class="form-group">
  <label for="road_capacity">Road Capacity:</label>
  <input type="text" class="form-control" id="road_capacity" ng-model="mine.road_capacity">
</div>

<h5>Port</h5>

<div class="form-group">
  <label for="port_name">Port Name:</label>
  <input type="text" class="form-control" id="port_name" ng-model="mine.port_name">
</div>

<div class="form-group">
  <label for="river_capacity">River Capacity:</label>
  <input type="text" class="form-control" id="river_capacity" ng-model="mine.river_capacity">
</div>

<h3>FORM</h3>

<div class="form-group">
  <label for="source">Source:</label>
  <input type="text" class="form-control" id="source" ng-model="mine.source">
</div>

<div class="form-group">
  <label for="contact">Contact Person:</label>
  <input type="text" class="form-control" id="contact" ng-model="mine.contact">
</div>

<div class="form-group">
  <label for="phone">Telephone Number:</label>
  <input type="text" class="form-control" id="phone" ng-model="mine.phone">
</div>

<h5>License Data</h5>

<div class="form-group">
  <label for="license_type">License Type:</label>
  <input type="text" class="form-control" id="license_type" ng-model="mine.license_type">
</div>

<div class="form-group">
  <label for="license_expired_date">Expired Date:</label>
  <input type="text" class="form-control" id="license_expired_date" ng-model="mine.license_expired_date">
</div>

<div class="form-group">
  <label for="license_overlap">Overlapping with KP/PKP2B Other Company:</label>
  <input type="text" class="form-control" id="license_overlap" ng-model="mine.license_overlap">
</div>

<div class="form-group">
  <label for="license_release_after12Jan2009">Release After 12 January 2009:</label>
  <input type="text" class="form-control" id="license_release_after12Jan2009" ng-model="mine.license_release_after12Jan2009">
</div>

<div class="form-group">
  <label for="license_already_production">Already to Production:</label>
  <input type="text" class="form-control" id="license_already_production" ng-model="mine.license_already_production">
</div>

<h5>Land Use</h5>

<div class="form-group">
  <label for="restricted_area">Restricted Area:</label>
  <input type="text" class="form-control" id="restricted_area" ng-model="mine.restricted_area">
</div>

<div class="form-group">
  <label for="land_description">Description:</label>
  <input type="text" class="form-control" id="land_description" ng-model="mine.land_description">
</div>

<div class="form-group">
  <label for="land_overlap">Overlapping with SMG Forestry and SMG Palm Oil Plantation:</label>
  <input type="text" class="form-control" id="land_overlap" ng-model="mine.land_overlap">
</div>

<div class="form-group">
  <label for="land_produce_kp">Produce KP:</label>
  <input type="text" class="form-control" id="land_produce_kp" ng-model="mine.land_produce_kp">
</div>

<div class="form-group">
  <label for="land_use">Land Use:</label>
  <input type="text" class="form-control" id="land_use" ng-model="mine.land_use">
</div>

<h5>Proximity</h5>

<div class="form-group">
  <label for="proximity_smg_mill">Proximity SMG MILL:</label>
  <input type="text" class="form-control" id="proximity_smg_mill" ng-model="mine.proximity_smg_mill">
</div>

<div class="form-group">
  <label for="proximity_smg_kp">Proximity SMG KP:</label>
  <input type="text" class="form-control" id="proximity_smg_kp" ng-model="mine.proximity_smg_kp">
</div>

<div class="form-group">
  <label for="proximity_river_road">Proximity River/Road:</label>
  <input type="text" class="form-control" id="proximity_river_road" ng-model="mine.proximity_river_road">
</div>

<h5>Geological</h5>

<div class="form-group">
  <label for="coal_bearing_formation">Coal Bearing Formation:</label>
  <input type="text" class="form-control" id="coal_bearing_formation" ng-model="mine.coal_bearing_formation">
</div>

<div class="form-group">
  <label for="geological_description">Description:</label>
  <input type="text" class="form-control" id="geological_description" ng-model="mine.geological_description">
</div>

<button type="submit" class="btn btn-default">Submit</button>