<header class="main-header" ng-controller="NotificationController">

  <!-- Logo -->
  <a ui-sref="home" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="./images/sinarmas.png" style="width:30px;"></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="./images/sinarmas.png" style="width:30px; margin-right: 10px;"><b>COALTRADE</b></span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" ng-init="findNotificationsByUser()">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" ng-click="openSidebar()" role="button" ng-if="Authentication.user">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu" ng-if="!Authentication.user">
          <a ui-sref="auth.signin" class="dropdown-toggle">
            <span class="hidden-xs">Sign In</span>
          </a>
        </li>
        <li class="dropdown user user-menu" ng-if="!Authentication.user">
          <a ui-sref="auth.signup" class="dropdown-toggle">
            <span class="hidden-xs">Sign Up</span>
          </a>
        </li>
        <!-- User Account: style can be found in dropdown.less -->

        <!--<li class="user user-menu" ng-if="Authentication.user">
          <a ui-sref="chat.index" class="dropdown-toggle">
            <span class="hidden-xs"><i class="ion ion-ios-chatboxes" style="font-size:18px;"></i></span>
          </a>
        </li>-->
        <li class="dropdown notifications-menu" uib-dropdown ng-if="Authentication.user">
          <a class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
            <i class="fa fa-bell"></i>
            <span class="label label-danger">{{ unread_notifications }}</span>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-repeat="notif in notifications.slice().reverse() | limitTo:8" ng-click="readNotification(notif.$id)">
              <!-- inner menu: contains the actual data -->
              <ul class="menu" ng-if="!notif.isRead">
                <li style="background-color: #F0F8FF;" ng-if="notif.notification.indexOf('ORD') < 0">
                  <a ng-href="{{ notif.url }}" style="white-space:normal;">
                    <small class="pull-right text-muted"> {{ notif.created_at | date:'medium' }} </small><br>
                    <i class="fa fa-comment" style="color: gray;"></i>{{ notif.notification }}
                  </a>
                </li>
                <li style="background-color: #F0F8FF;" ng-if="notif.notification.indexOf('ORD') >= 0">
                  <a ng-href="{{ notif.url }}" style="white-space:normal;">
                    <small class="pull-right text-muted"> {{ notif.created_at | date:'medium' }} </small><br>
                    <i class="fa fa-exclamation-triangle" style="color: red;"></i>{{ notif.notification }}
                  </a>
                </li>
              </ul>
              <ul class="menu" ng-if="notif.isRead">
                <li ng-if="notif.notification.indexOf('ORD') < 0">
                  <a ng-href="{{ notif.url }}" style="white-space:normal;">
                    <small class="pull-right text-muted"> {{ notif.created_at | date:'medium' }} </small><br>
                    <i class="fa fa-comment" style="color: gray;"></i>{{ notif.notification }}
                  </a>
                </li>
                <li ng-if="notif.notification.indexOf('ORD') >= 0">
                  <a ng-href="{{ notif.url }}" style="white-space:normal;">
                    <small class="pull-right text-muted"> {{ notif.created_at | date:'medium' }} </small><br>
                    <i class="fa fa-exclamation-triangle" style="color: red;"></i>{{ notif.notification }}
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <li class="dropdown user user-menu" ng-if="Authentication.user">
          <a class="dropdown-toggle" ui-sref="user.edit">
            <img ng-src="{{ Authentication.user.image }}" ng-src-fallback="/image/default.png" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ Authentication.user.name }} <br> </span>
          </a>
        </li>
        <li class="dropdown user user-menu" ng-if="Authentication.user">
          <a class="dropdown-toggle">
            <span class="hidden-xs">{{ Authentication.user.role }}</span>
          </a>
        </li>
        <li class="dropdown user user-menu" ng-if="Authentication.user">
          <a style="cursor: pointer" ng-click="logout()" class="dropdown-toggle">
            <span class="hidden-xs">Sign out</span>
          </a>
        </li>
      </ul>
    </div>

  </nav>
</header>