<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar fixed sidebar-collapse">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" ng-init="init()">
    <!-- Sidebar user panel -->
    <div class="user-panel" ui-sref="user.edit">

    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="treeview">
        <a ui-sref="home">
          <i class="ion ion-home" style="font-size: 20px; margin-left: -3px;"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a ui-sref="coalpedia.index" ng-click="lead = !lead; openCollapse(1)">
          <i class="ion ion-earth" style="font-size: 20px; margin-left: -3px;"></i>
          <span>Coalpedia</span>
          <span class="pull-right"><i ng-class="lead ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i></span>
        </a>
        <ul class="treeview-menu" ng-class="lead ? 'menu-open' : ''" ng-style="{ 'display': style[1] }">
          <li><a ui-sref="map.index"><i class="fa fa-map"></i> Map</a></li>
          <li><a ui-sref="dashboard.index"><i class="fa fa-line-chart"></i> Index</a></li>
          <li><a ui-sref="company.list({ type:'customer' })"><i class="fa fa-circle-o"></i> Customer</a></li>
          <li ng-if="showBuy==true"><a ui-sref="company.list({ type:'supplier' })"><i class="fa fa-circle-o"></i> Supplier</a></li>
          <li><a ui-sref="company.list({ type:'vendor' })"><i class="fa fa-circle-o"></i> Vendor</a></li>
          <li ng-if="showBuy==true"><a ui-sref="concession.list"><i class="fa fa-circle-o"></i> Concession</a></li>
        </ul>
      </li>


      <li class="treeview">
        <a ng-click="order = !order; openCollapse(2)" ui-sref="order.list">
          <i class="ion ion-magnet" style="font-size: 20px; margin-left: -3px;"></i>
          <span>Deal Room</span>
          <span class="pull-right"><i ng-class="order ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i></span>
        </a>
        <ul class="treeview-menu" ng-class="order ? 'menu-open' : ''" ng-style="{ 'display': style[2] }">
          <li ng-if="showBuy"><a ui-sref="lead.list({ lead_type: 'buy' })"><i class="ion ion-log-out"></i> Buy Leads</a></li>
          <li ng-if="showBuy"><a ui-sref="lead.list({ lead_type: 'sell' })"><i class="ion ion-log-in"></i> Sell Leads</a></li>
          <li ng-if="!showBuy"><a ui-sref="lead.list({ lead_type: 'sell' })"><i class="ion ion-log-in"></i> Leads</a></li>
          <li><a ui-sref="order.list"><i class="ion ion-ios-paperplane"></i> Orders</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a ng-click="index = !index; openCollapse(3)">
          <i class="ion ion-gear-a" style="font-size: 20px; margin-left: -3px;"></i>
          <span>Administration</span>
          <span class="pull-right"><i ng-class="index ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i></span>
        </a>
        <ul class="treeview-menu" ng-class="index ? 'menu-open' : ''" ng-style="{ 'display': style[3] }">
          <li><a ui-sref="index.list"><i class="fa fa-line-chart"></i> Price Indices</a></li><!--
          <li><a ui-sref="buy-order-management.index"><i class="ion ion-log-in"></i> Buy Order</a></li>
          <li><a ui-sref="sell-order-management.index"><i class="ion ion-log-out"></i> Sell Order</a></li> -->
        </ul>
      </li>

      <!--<li class="treeview">
        <a ui-sref="deal.index">
          <i class="ion ion-pricetags" style="font-size: 20px; margin-left: -3px;"></i>
          <span>Orders</span>
        </a>
        <ul class="treeview-menu">
          <li><a ui-sref=""><i class="ion ion-log-in"></i> Approve Orders</a></li>
          <li><a ui-sref=""><i class="ion ion-log-out"></i> Orders History</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a ui-sref="history-order.index">
          <i class="ion ion-document-text" style="font-size: 20px; margin-left: -3px;"></i>
          <span>History</span>
        </a>
      </li>-->
      <li class="treeview">
        <a href="https://goo.gl/forms/0zbygIKjG8jJZd5j1" target='_blank'>
          <i class="ion ion-bug" style="font-size: 20px; margin-left: -3px;"></i>
          <span>Bug Report</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
