<div class="container-fluid">
	<div class="col-xs-2" style="border-right:1px solid #f5f5f5;">
		<div>
			<h2>Buyers</h2>
			<h4>90 Registered</h4>
		</div>

		<div style="margin-top:40px;">
			<h2>Sellers</h2>
			<h4>90 Registered</h4>
		</div>

		<div style="margin-top:40px;">
			<h2>Vendors</h2>
			<h4>90 Registered</h4>
		</div>

		<div style="margin-top:40px;">
			<h2>Browse Contact</h2>			
		</div>

		<div style="margin-top:40px;">
			<h2>Recent Orders</h2>
			<h5>Product ABC/h5>
			<h5>Product DSA</h5>
			<h5>Product ZXC</h5>
		</div>

	</div>
	<div class="col-xs-10">
		<div>
			<input type="text" class="form-control" style="width:500px;display:inline;">
			<button class="btn btn-success">Search</button>
			<button class="create-new-lead-btn" style="padding:10px 15px;border:0;background-color:#2196F3;color:#FFF;border-radius:5px;float:right;">CREATE NEW</button>
		</div>
	</div>
</div>