<div ng-controller="LeadController" ng-init="findOne()">
  <!-- Modal content-->
  <div class="container">

    <!-- HEADER -->
    <div class="row submenu-header">
      <div class="submenu-header-item">
        <button type="button" class="btn btn-default">
          <i class="glyphicon glyphicon-arrow-left"></i> Back
        </button>
      </div>
      <div class="submenu-header-item">
        <h4>{{ $stateParams.type }} Profile</h4>
      </div>
    </div>

    <!-- PRIMARY DETAIL -->
    <div>
      <img src="/images/default.jpg" width="200px">
    </div>

    <div class="modal-body row">
      <h1>{{buyer.company_name}}</h1>
      <hr class="divider" />

      <button type="button" class="btn btn-primary" ng-click="goToUpdatePopup(buyer.id)">
        <i class="glyphicon glyphicon-pencil"></i> Update
      </button>
      <button type="button" class="btn btn-success" ng-click="goToPendingOrders(buyer.id)">
        <i class="glyphicon glyphicon-plus"></i> Order
      </button>
      <button type="button" class="btn btn-info" ng-click="goToContact()">
        <i class="glyphicon glyphicon-user"></i> Contact
      </button>

      <hr class="divider" />

      <div class="row with-divider">
        <div class="col-md-6">
          <ng-map ng-if="render" center="{{buyer.latitude}}, {{buyer.longitude}}">
            <marker position="{{buyer.latitude}}, {{buyer.longitude}}" title="This is the buyer headquarter"></marker>
          </ng-map>
        </div>

        <div class="col-md-6">
          <h3>Information</h3>
          <p>{{ buyer.headquarter_location }}</p>
          <p>{{ buyer.phone }}</p>
          <p>{{ buyer.email }}</p>
          <p ng-if="buyer.status == 'a'">Active</p>
          <p ng-if="buyer.status == 'x'">Deactivated</p>

          <h3>Contact Points</h3>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="contact in buyer.user">
              {{ contact.name }}
              <i class="glyphicon glyphicon-envelope" style="margin-left: 20px;"></i> {{ contact.email }}
              <i class="glyphicon glyphicon-earphone" style="margin-left: 20px;"></i> {{ contact.phone }}
            </li>
          </ul>
        </div>
      </div>

      <div class="row with-divider">
        <div class="col-md-6">
          <h4>Pending Orders</h4>
          <hr class="divider" />
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Order Date</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(idx, pendingOrder) in pendingOrders">
                    <td>{{ pendingOrder.id }}</td>
                    <td>
                      {{ pendingOrder.created_at | date:'medium' }}
                    </td>
                    <td>
                      {{ pendingOrder.volume | number }}
                    </td>
                </tr>
                <tr ng-hide="pendingOrders.length > 0">
                  <td colspan="3">There is no pending orders.</td>
                </tr>
                <!--tr>
                  <td colspan="3"><a class="btn btn-block btn-blue" ng-click="goToPendingOrders(buyer.id)">View More</a></td>
                </tr-->
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <h4>Previous Orders</h4>
          <hr class="divider" />
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Last Order Date</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(idx, lastOrder) in lastOrders">
                    <td>{{ lastOrder.id }}</td>
                    <td>
                      {{ lastOrder.created_at | date:'medium' }}
                    </td>
                    <td>
                      {{ lastOrder.volume | number }}
                    </td>
                </tr>
                <tr ng-hide="lastOrders.length > 0">
                  <td colspan="3">There is no previous orders.</td>
                </tr>
                <!--tr>
                  <td colspan="3"><a class="btn btn-block btn-blue" ng-click="goToLastOrders(buyer.id)">View More</a></td>
                </tr-->
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" ng-repeat="(idx, lastOrder) in Orders">
          <ng-map center="{{buyer.longitude}}, {{buyer.latitude}}">
            <marker center="{{buyer.longitude}}, {{buyer.latitude}}" title="This is the buyer headquarter"></marker>
          </ng-map>
        </div>
      </div>
    </div>
  </div>
</div>