<ul class="list-group">
  <li class="list-group-item">
  	<span class="label label-primary">BUYER</span> <span class="label label-default">STARTER</span>
  		PT Wilmar Nabati Indonesia
  </li>
  <li class="list-group-item">
  	<span class="label label-success">SELLER</span> PT Kuansing Inti Makmur
  </li>
  <li class="list-group-item">
  	<span class="label label-success">SELLER</span> PT Golden Energy Mines
  </li>
  <li class="list-group-item">
  	<span class="label label-warning">VENDOR</span> PT Mitra Bahari Sentosa
  </li>
 </ul>