<table st-table="displayedCollection" st-safe-src="orders" class="table table-striped">
  <thead>
    <tr>
      <th colspan="9"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
    <tr>
      <th st-sort="id">#</th>
      <th st-sort="buyer.company_name">Company Name</th>
      <th st-sort="volume">Volume</th>
      <th st-sort="product_name">Product Name</th>
      <th st-sort="gcv_arb_min">GCV (arb)</th>
      <th st-sort="gcv_adb_min">GCV (adb)</th>
      <th st-sort="ncv_min">NCV</th>
      <th st-sort="max_price/volume">Price / Tones</th>
      <th st-sort="max_price">Price Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="order in displayedCollection">
      <td>{{ order.id }}</td>
      <td ng-if='order.buyer.company_name !== undefined'>{{ order.buyer.company_name }}</td>
      <td ng-if='order.seller.company_name !== undefined'>{{ order.seller.company_name }}</td>
      <td>{{ order.volume }}</td>
      <td>{{ order.product_name }}</td>
      <td>{{ order.gcv_arb_min }} - {{ order.gcv_arb_max }}</td>
      <td>{{ order.gcv_adb_min }} - {{ order.gcv_adb_max }}</td>
      <td>{{ order.ncv_min }} - {{ order.ncv_max }}</td>
      <td ng-if='(order.max_price !== undefined)&&(order.volume !== undefined)'>{{ order.max_price/order.volume | currency : $ : 2 }}</td>
      <td ng-if='(order.min_price !== undefined)&&(order.volume !== undefined)'>{{ order.min_price/order.volume | currency : $ : 2 }}</td>
      <td ng-if='(order.max_price !== undefined)'>{{ order.max_price | currency : $ : 2 }}</td>
      <td ng-if='(order.min_price !== undefined)'>{{ order.min_price | currency : $ : 2 }}</td>
      <td>
        <a ng-click="changeOrderStatusA(order)" style="cursor: pointer"><i class="glyphicon glyphicon-info-sign"></i></a>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="9" class="text-center">
        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
      </td>
    </tr>
  </tfoot>
</table>