<section ng-controller="ProductController" class="content">
<div class="box box-info" >
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: 25px">Update Product {{ product.product_name }}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-primary" ng-click="backToDetail()">
            <i class="glyphicon glyphicon-arrow-left"></i> Back
        </button>
          </div>
        </div>
        <div class="box-body">
        <section ng-init="findOne();updateProduct = true;" >
          <form role="form" ng-submit="update()" ng-show="!success">
              <div ng-include="'/angular/lead/views/product/form.view.html'"></div>
          </form> 
        </div>
        </section>
</div>
</section>