<div class="content" ng-controller="ProductController" ng-init="findOne()">
  <!-- HEADER -->
  <div class="row submenu-header">
    <div class="submenu-header-item">
      <button type="button" class="btn btn-default" ng-click="goBack()"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="box col-lg-12">
      <div class="box-header with-border col-lg-12">
        <h4 class="box-title" style="font-size: 35px">{{ product.product_name }}</h4>
      <p>{{ product.concession.concession_name }}</p>
      <p>{{ product.concession.buyer.company_name }}</p>
      <p>{{ product.concession.seller.company_name }}</p>
      </div>
      <div class="box-body">
        <div class="row-fluid">
          <h4>Quality Matrix</h4>
          <div class="col-lg-4">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{ product.gcv_adb_min }} ~ {{ product.gcv_adb_max }} kcal</h3>
                <h4>GCV adb</h4>
              </div>
              <div class="icon">
                <i class="fa fa-fire"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{ product.gcv_arb_min }} ~ {{ product.gcv_arb_max }} kcal</h3>
                <h4>GCV arb</h4>
              </div>
              <div class="icon">
                <i class="fa fa-fire"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{ product.ncv_min }} ~ {{ product.ncv_max }} kcal</h3>
                <h4>NCV</h4>
              </div>
              <div class="icon">
                <i class="fa fa-fire"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td class="bg-yellow">
                  Ash:
                  <span class="pull-right">{{ product.ash_min }} ~ {{ product.ncv_max }} kcal</span>
                </td>
                <td class="bg-yellow">
                  Total Sulfur :
                  <span class="pull-right">{{ product.ncv_min }} ~ {{ product.ncv_max }} kcal</span>
                </td>
              </tr>
              <tr>
                <td class="bg-aqua">
                  Total Moisture:
                  <span class="pull-right">{{ product.tm_min }} ~ {{ product.tm_max }} kcal</span>
                </td>
                <td class="bg-aqua">
                  Inherent Moisture :
                  <span class="pull-right">{{ product.im_min }} ~ {{ product.im_max }} kcal</span>
                </td>
              </tr>
              <tr>
                <td class="bg-green">
                  Volatile Matter:
                  <span class="pull-right">{{ product.vm_min }} ~ {{ product.vm_max }} kcal</span>
                </td>
                <td class="bg-green">
                  Fixed Carbon :
                  <span class="pull-right">{{ product.fc_min }} ~ {{ product.fc_max }} kcal</span>
                </td>
              </tr>
              <tr>
                <td class="bg-green">
                  HGI:
                  <span class="pull-right">{{ product.hgi_min }} ~ {{ product.hgi_max }} kcal</span>
                </td>
                <td class="bg-green">
                  Size :
                  <span class="pull-right">{{ product.size_min }} ~ {{ product.size_max }} kcal</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>