<nav class="navbar navbar-inverse navbar-fixed">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">
        <img src="./images/sinarmas.png" style="width:40px; margin-top:-10px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li uib-dropdown>
          <a ui-sref="lead.index">
            Leads
          </a>
        </li>
        <li><a ui-sref="deal.index">Deal</a></li>
        <li><a ui-sref="create-order.index">Order</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-controller="AuthController">
        <li><a ui-sref="auth.signin" ng-if="!Authentication.user">Sign In</a></li>
        <li><a ui-sref="auth.signup" ng-if="!Authentication.user">Sign Up</a></li>

        <li uib-dropdown  ng-if="Authentication.user">
          <a href="#" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
            <img class="header-profile-image" src="{{ Authentication.user.image }}"/>
            {{ Authentication.user.name }} <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu>
            <li><a ui-sref="user.edit">Edit Profile</a></li>
            <li><a ui-sref="user.password">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="logout()">Log Out</a></li>            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>