  <section class="content" ng-controller="DealController">
    <div class="box box-primary box-solid">
            <div class="box-header ">
                <h3 class="box-title">Approve Orders <span ng-show="buyer !== undefined">for: {{buyer.company_name}}</span>
               </h3>
            </div>

              <div class="box-body" ng-init="findDeals()">                
                <section ng-include="'/angular/deal/views/table.view.html'"></section>
              </div>
        </div>   
  </section>


