<section ng-controller="DealController">
</br>
      <div class="col-md-12">
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Create New Order</h3>
               <button ui-sref="deal.index" class="btn btn-default">< Back</button> 
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <section class="row">
                <div class="col-md-12">
                  

                  <div class="panel panel-primary col-md-6">
                    <h4>Buying Cost : $ {{ getbuyTotal() | number }}</h4> 
                    <h4>Selling Price : $ {{ getSellTotal() | number }}</h4>
                    <h4>Expected Margin : $ {{ getbuyTotal() - getSellTotal() | number }} </h4>
                    <h4>Index Deviation</h4>
                  </div>  

                  
                
                 <div class="col-md-6">
                    <div class="panel panel-primary col-md-12">
                    <h1>Grafik</h1>
                      <div class="form-group" ng-init="getIndices()">
                        <label for="chose">Choose index:</label>
                        <!-- <select class="form-control" id="mine" ng-model="order.mine" ng-change="order.mine_id = order.mine.id" ng-options="mine as mine.mine_name for mine in mines track by mine.id">
                        </select> -->
                        <select class="form-control" id="index" ng-model="index">
                          <option value=""></option>
                          <option ng-repeat="index in indices" value="{{ index.id }}">  {{ index.index_provider }} - {{ index.index_name }}</option>
                        </select>
                      </div>

                    
                    </div>
                 </div>    

                </div>
              </section>

              <section class="row">
                <div class="col-md-12">
                <div class='col-md-3'>
                  <div class="panel panel-primary col-md-12">
                      <h1>Buy Order</h1>
                      <section ng-if="buyOrders.length > 0">
                        <div ng-repeat="order in buyOrders" class="panel panel-default">
                          <div class="panel-body">
                            <span class="pull-right">
                              <!--button type="button" class="check" ng-click="markBuyOrder(order)"></button-->
                              <button type="button" class="btn close" ng-click="deleteBuyOrder(order)">&times;</button>
                            </span>
                            <span>
                              <div class="col-md-12">
                                <h3>
                                  {{order.buyer.company_name}}
                                </h3>
                                <h4>
                                  {{order.volume | number}} tonnes - 
                                  $ {{ (order.volume*order.max_price) | number }}
                                </h4>
                                <h5>
                                  <b>GCV ARB</b>: {{order.gcv_arb_min | number}} -  {{order.gcv_arb_max | number}}
                                </h5>
                                <h5>
                                  <b>GCV ADB</b>: {{order.gcv_adb_min | number}} -  {{order.gcv_adb_max | number}}
                                </h5>
                                <h5>
                                  <b>NCV</b>: {{order.ncv_min | number}} -  {{order.ncv_max | number}}
                                </h5>
                              </div>
                            </span>
                            <span class="pull-right">
                              <!--button type="button" class="check" ng-click="markBuyOrder(order)"></button-->
                              <button type="button" class="btn btn-default" ng-click="openBuyModal(order)">Detail</button>
                            </span>
                          </div>
                        </div>
                      </section>
                      <section ng-if="buyOrders.length <= 0">
                        There is no buy orders.
                      </section>
                      <section class="row">
                        <div class="form-group col-md-12">
                          
                          <button ng-click="openExistingBuyModal()" class="col-md-12 btn btn-success">+ ADD</button>
                        </div>
                      </section>
                    </div>
                </div>
                    


                    <div class='col-md-3'>
                      <div class="panel panel-primary col-md-12">
                      <h1>Sell Order</h1>
                      <section ng-show="sellOrders.length > 0">
                        <div ng-repeat="order in sellOrders" ng-click="openSellModal(order)" class="panel panel-default">
                          <div class="panel-body">
                            <span class="pull-right">
                              <!--button type="button" class="check" ng-click="markBuyOrder(order)"></button-->
                              <button type="button" class="btn close" ng-click="deleteSellOrder(order)">&times;</button>
                            </span>
                            <span>
                              <div class="col-md-12">
                                <h3>
                                  {{order.seller.company_name}}
                                </h3>
                                <h4>
                                  {{order.volume | number}} tonnes - 
                                  $ {{ (order.volume*order.min_price) | number }}
                                </h4>
                                <h5>
                                  <b>GCV ARB</b>: {{order.gcv_arb_min | number}} -  {{order.gcv_arb_max | number}}
                                </h5>
                                <h5>
                                  <b>GCV ADB</b>: {{order.gcv_adb_min | number}} -  {{order.gcv_adb_max | number}}
                                </h5>
                                <h5>
                                  <b>NCV</b>: {{order.ncv_min | number}} -  {{order.ncv_max | number}}
                                </h5>
                              </div>
                             
                            </span>
                            <span class="pull-right">
                              <!--button type="button" class="check" ng-click="markSellOrder(order)"></button-->
                              <button type="button" class="btn btn-default" ng-click="(order)">Detail</button>
                            </span>
                          </div>
                        </div>
                      </section>
                      <section ng-show="sellOrders.length <= 0">
                        There is no sell orders.
                      </section>
                      <section class="row">
                        <div class="form-group col-md-12">
                        
                          <button ng-click="openExistingSellModal()" class="col-md-12 btn btn-success">+ ADD </button>
                        </div>
                      </section>
                    </div>
                    </div>
                    
               
                  

                 <div class="panel panel-primary col-md-6">
                    <h1>Chat</h1>

                 </div>   
                  
                </div>
              </section>

              <section class="row" >
                <div class="col-md-12">
                  <button ng-click="createDeal()" class="col-md-12 btn-success btn"><i class="glyphicon glyphicon-save"></i> Save Deal</button>
                </div>
              </section>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        
 </section>

<script type="text/ng-template" id="alertModal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Submit Failed!</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <p>{{error}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">OK</button>
  </div>
</script>