  <section class="content" ng-controller="DealController">
    <div class="box box-primary box-solid">
            <div class="box-header ">
                <h3 class="box-title">Order <span ng-show="buyer !== undefined">for: {{buyer.company_name}}</span>
               <button ui-sref="deal.create" class="btn-default btn">+ Create</button>   </h3>
            </div>

              <div class="box-body" ng-init="findOpen()">                
                <section ng-include="'/angular/deal/views/table.view.html'"></section>
              </div>
        </div>   
  </section>


