<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">Create Buy Order</h4>
</div>
<div class="modal-body" ng-init="findAllBuyOrders();">
	<div class="row">
		<div class="col-lg-8">
			<select class="col-lg-12" ng-options="order as order.buyer.company_name for order in orders track by order.id" ng-model="selectedOrder" ng-change="chooseBuyOrder(); isSelected = true;"></select>
		</div>
		<div class="col-lg-2">
			<button ng-click="submit()" class="col-lg-12 btn btn-success">+ Submit</button>
		</div>
		<div class="col-lg-2">
		    <button ng-click="close()" class="col-lg-12 btn btn-danger">Cancel</button>
		</div>
	</div>
	<br/>
	<br/>
  <div ng-if="isSelected">
  	<div class="box box-primary box-solid">
	    <div class="box-header ">
	      <h3 class="box-title">Buy Order</h3>
	    </div>
	    <div class="box-body">
	      <div class="form-group">
	        <h1>{{ selectedOrder.buyer.company_name }}</h1>
	        <label>Product Name : </label>
	        <p>{{ selectedOrder.product_name }}</p>
	        <label>Volume : </label>
	        <p>{{ selectedOrder.volume }}</p>
	        <label>Address : </label>
	        <p>{{ selectedOrder.address }}</p>
	        <label>Order Date : </label>
	        <p>{{ selectedOrder.order_date }}</p>
	        <label>Deadline : </label>
	        <p>{{ selectedOrder.order_deadline }}</p>
	        <label>Penalty : </label>
	        <p>{{ selectedOrder.penalty_desc }}</p>
	      </div>
	    </div>
	  </div>

	  <div class="box box-primary box-solid">
	    <div class="box-header ">
	      <h3 class="box-title">Product Quality</h3>
	    </div>
	    <div class="box-body">
	      <div class="row-fluid" style="margin:10px">
	        <div class="col-md-6 col-lg-6">
	          <table class="table table-bordered">
	            <tbody>
	              <tr>
	                <td><b>Gross Caloric ARB <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.gcv_arb_min}} - {{selectedOrder.gcv_arb_max}} kcal</td>
	              </tr>
	              <tr>
	                <td><b>Gross Caloric ADB <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.gcv_adb_min}} - {{selectedOrder.gcv_adb_max}} kcal</td>
	              </tr>
	              <tr>
	                <td><b>Nett Caloric <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.ncv_min}} - {{selectedOrder.ncv_max}} kcal</td>
	              </tr>
	              <tr>
	                <td><b>Ash <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.ash_min}} - {{selectedOrder.ash_max}} %</td>
	              </tr>
	              <tr>
	                <td><b>Total Sulphur <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.ts_min}} - {{selectedOrder.ts_max}} %</td>
	              </tr>
	              <tr>
	                <td><b>Size <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.size_min}} - {{selectedOrder.size_max}} mm</td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	        <div class="col-md-6 col-lg-6">
	          <table class="table table-bordered">
	            <tbody>
	              <tr>
	                <td><b>Total Moisture <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.tm_min}} - {{selectedOrder.tm_max}} %</td>
	              </tr>
	              <tr>
	                <td><b>Inherent Moisture <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.im_min}} - {{selectedOrder.im_max}} %</td>
	              </tr>
	              <tr>
	                <td><b>Fixed Carbon <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.fc_min}} - {{selectedOrder.fc_max}} %</td>
	              </tr>
	              <tr>
	                <td><b>Volatile Matter <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.vm_min}} - {{selectedOrder.vm_max}} %</td>
	              </tr>
	              <tr>
	                <td><b>Hardness <div class="pull-right">:</div></b></td>
	                <td>{{selectedOrder.hgi_min}} - {{selectedOrder.hgi_max}} %</td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	      </div>
	    </div>
	  </div>
  </div>
</div>