<div ng-controller="DealController">
  <h1>Deals History</h1>
  <hr/>
  
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-body">
          <h2>Filters</h2>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <h4>Buyer</h4>
              <p class="input-group">
                <input type="text" class="form-control" ng-model="fBuyerName" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Seller</h4>
              <p class="input-group">
                <input type="text" class="form-control" ng-model="fSellerName" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Trader</h4>
              <p class="input-group">
                <input type="text" class="form-control" ng-model="fTrader" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Status</h4>
              <p class="input-group">
                <select class="form-control" ng-model="fTrader" >
                  <option value="">ALL</option>
                  <option value="">Finished</option>
                  <option value="">Cancelled</option>
                  <option value="">Rejected</option>
                </select>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Min Date</h4>
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtMin" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <div class="col-md-6">
              <h4>Max Date</h4>
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtMax" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
          <div class="row">
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-9">
      <ul class="nav nav-tabs nav-justified" ng-init="findDeals()">
        <li class="active">
          <a data-toggle="tab" href="#running" ng-click="findDeals()">
            <i class="glyphicon glyphicon-fire"></i>
            <span> Running Deals </span>
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#finished" ng-click="findFinished()">
            <i class="glyphicon glyphicon-earphone"></i>
            <span> Finished Deals </span>
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
          </a>
        </li>
        <li>
          <a data-toggle="tab" href="#cancelled" ng-click="findCancelled()">
            <i class="glyphicon glyphicon-magnet"></i>
            <span> Cancelled Deals </span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="running" class="tab-pane fade in active">
          <br/>
            <section ng-include="'/angular/views/deal/table.view.html'"></section>
        </div>                                             
        <div id="finished" class="tab-pane fade">              
          <br/>                          
            <section ng-include="'/angular/views/deal/table.view.html'"></section>
        </div>                                             
        <div id="cancelled" class="tab-pane fade">             
          <br/>                         
            <section ng-include="'/angular/views/deal/table.view.html'"></section>
        </div>
      </div>
    </div>
  </div>
</div>