<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">Order</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-4">
      <section ng-include="'./angular/deal/views/modal-component/contact.view.html'"></section>
      <section ng-include="'./angular/deal/views/modal-component/quality.view.html'"></section>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <ul class='nav nav-wizard'>
          
          <li class='active'>
            <a ng-click="tab = 'call'" data-toggle="tab">
              <span class="badge badge-default">
                <i class="glyphicon glyphicon-earphone"></i>
              </span>
              Call
            </a>
          </li>
          <li>
            <a ng-click="tab = 'match'" data-toggle="tab">
              <span class="badge badge-default">
                <i class="glyphicon glyphicon-resize-small"></i>
              </span>
              Match
            </a>
          </li>
          <li>
            <a ng-click="tab = 'deal'" data-toggle="tab">
              <span class="badge badge-default">
                <i class="glyphicon glyphicon-usd"></i>
              </span>
              Deal!
            </a>
          </li>

          <span class="pull-right btn-group" style="margin: 6px">
            <button class="btn btn-default" ng-click="prev()" ng-disabled="tab === 'call'">< PREV</button>
            <button class="btn btn-default" ng-click="next()" ng-disabled="tab === 'deal'">NEXT ></button>
          </span>
        </ul>

        <div class="col-lg-12">
          <section ng-include="'./angular/deal/views/modal-component/call.view.html'"
            ng-if="tab === 'call'"></section>
          <section ng-include="'./angular/deal/views/modal-component/match.view.html'"
            ng-if="tab === 'match'"></section>
          <section ng-include="'./angular/deal/views/modal-component/history.view.html'"
            ng-if="tab === 'deal'"></section>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="modal-footer">
  <button class="btn btn-default">RESET DEAL</button>
  <button class="btn btn-danger">MARK AS CANCELLED DEAL</button>
  <button class="btn btn-default">CLOSE WINDOW</button>
</div>
