<div class="form-group">
  <label for="buyer_name">Buyer Name:</label>
  <input name="company_name" type="text" class="form-control" id="company_name" ng-model="buyer.company_name">
</div>

<div class="form-group">
  <label for="contact">Email:</label>
  <input name="email" type="text" class="form-control" id="email" ng-model="buyer.email">
</div>

<div class="form-group">
  <label for="web">Web:</label>
  <input name="web" type="text" class="form-control" id="web" ng-model="buyer.web">
</div>

<div class="form-group">
  <label for="phone">Phone Number:</label>
  <input name="phone" type="text" class="form-control" id="phone" ng-model="buyer.phone">
</div>

<div class="form-group">
  <label for="headquarter_location">Industry:</label>
  <input name="industry" type="text" class="form-control" id="industry" ng-model="buyer.industry">
</div>

<div class="form-group">
  <label for="description">Description:</label>
  <input name="description" type="text" class="form-control" id="description" ng-model="buyer.description">
</div>

<div class="form-group">
  <label for="headquarter_location">City:</label>
  <input name="city" type="text" class="form-control" id="city" ng-model="buyer.city">
</div>

<div class="form-group">
  <label for="headquarter_location">Address:</label>
  <input name="address" type="text" class="form-control" id="address" ng-model="buyer.address">
</div>

<div class="form-group">
  <label for="latitude">Latitude:</label>
  <input name="latitude" type="text" class="form-control" id="latitude" ng-model="buyer.latitude">
</div>

<div class="form-group">
  <label for="longitude">Longitude:</label>
  <input name="longitude" type="text" class="form-control" id="longitude" ng-model="buyer.longitude">
</div>

<div class="form-group">
  <label ng-show="error" class="alert alert-danger">{{error}}</label>
</div>

<button type="submit" class="btn btn-default">Submit</button>