<div class="register-box" ng-controller="AuthController">
  <div class="register-logo">
    <img src="./images/sinarmas.png" style="width:40px; margin-top:-10px;"><b> Coaltrade</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register </p>

    <form  method="post" role="form" ng-submit="signup()">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="registration.name">
        <span class="fa fa-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" id="email" placeholder="Email" required="" ng-model="registration.email">
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
       <input type="password" class="form-control" id="password" placeholder="Password" required="" ng-model="registration.password">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required="" ng-model="registration.confirmPassword">
        <span class="fa fa-retweet form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          <button type="reset" class="btn btn-default btn-block btn-flat">Reset</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

   

    <a href="/auth/signin" class="text-center">I already have a username</a>
  </div>