<form ng-submit="ok()">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Additional Cost</h3>
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">x</button>
  </div>

  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <label>Insurance Cost (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.insurance_cost" required />
      </div>
      <div class="col-sm-6">
        <label>Interest Rate (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.interest_cost" required />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label>Surveyor (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.surveyor_cost" required />
      </div>
      <div class="col-sm-6">
        <label>Others (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.others_cost" required />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <label>Pit-to-Port Cost (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.pit_to_port" required />
      </div>
      <div class="col-sm-3">
        <label>Transhipment (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.transhipment" required />
      </div>
      <div class="col-sm-3">
        <label>Freight Cost (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.freight_cost" required />
      </div>
      <div class="col-sm-3">
        <label>Port-to-Factory Cost (mt)
        </label>
        <input type="number" class="form-control" ng-model="additional.port_to_factory" required />
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-switch="status">
    <button class="btn btn-default pull-left" type="button" ng-click="cancel()">Cancel</button>
    <span>
      <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-pencil"></i>Update</button>
    </span>
  </div>
</form>