<section ng-controller="OrderIndexController">
	<div class="box-header with-divider">
		Price Comparision
		<span uib-dropdown class="pull-right" ng-init="getIndices()">
      <button type="button" class="btn btn-default" uib-dropdown-toggle>
        {{ display.index.index_provider }} {{ display.index.index_name }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="index in indices"><a ng-click="display.index = index">
		  		{{ index.index_provider }} {{ index.index_name }}
        </a></li>
      </ul>
    </span>
	</div>
	<div class="box-body">
		<div class="col-xs-2 description-block border-right">
  		<p>BUY PRICE</p>
  		<h2>$ {{ display.totalSellPrice / display.totalSellVolume | number:2 }}</h2>
  		<small class="text-muted">deviation: {{ ((display.totalSellPrice / display.totalSellVolume))/(display.index.price)*100 | number:2 }}%</small>
  	</div>
		<div class="col-xs-2 description-block border-right">
  		<p>{{ display.index.index_provider }} {{ display.index.index_name }}</p>
  		<h2>$ {{ display.index.price | number:2 }}</h2>
  		<small class="text-muted">{{ display.index.date | date }}</small>
  	</div>
		<div class="col-xs-2 description-block border-right">
  		<p>SELL PRICE</p>
  		<h2>$ {{ display.totalBuyPrice / display.totalBuyVolume | number:2 }}</h2>
  		<small class="text-muted">deviation: {{ ((display.totalBuyPrice / display.totalBuyVolume)/display.index.price)*100 | number:2 }}%</small>
  	</div>
		<div class="col-xs-6 description-block">
  		GRAFIK MASUK SINI
  	</div>
		<!-- <div class="box-body" ng-init="getSingleIndex(index)">
	    <canvas id="line" class="chart chart-line" chart-data="singleData[index.id]" style="min-height:200px;"
	      chart-labels="labels  | limitTo:( frequency === 'monthly' ? 12 : frequency === 'weekly' ? 52 : 365 )"
	      chart-series="singleSeries[index.id]" chart-options="options"
	      chart-dataset-override="datasetOverride" chart-click="onClick" ng-if="showChart">
	    </canvas> 
	  </div> -->
	</div>
</section>