<section ng-controller="OrderDetailController" ng-init="init()">
<div class="table-responsive">
	<table st-table="" class="table table-bordered table-striped">
		<thead>
      <tr ng-if="!order.user_id || order.user_id === Authentication.user.id"  class="no-print">
        <td width=20%></td>
        <td width=40%>
          <button ng-show="order.status !== 'x' && order.status !== 'a' && order.status !== 'f'" class="btn btn-default" ng-click="addBuy()" ng-disabled=" order.buys.length > 1 && order.sells.length===1"> + Add Buy </button>
          <button ng-show="order.status !== 'x' && order.status !== 'a' && order.status !== 'f'" class="btn btn-default pull-right" ng-click="addOwnProduct()"
          	ng-disabled="order.buys.length != 1"> + Add BIB Product </button>
        </td>
        <td width=40%>
          <button ng-show="order.status !== 'x' && order.status !== 'f' && order.status !== 'a'" class="btn btn-default" ng-click="addSell()" ng-disabled="order.sells.length > 1 && order.buys.length===1"> + Add Sell </button>
        </td>
      </tr>
			<tr>
				<th></th>
    		<th>
					<span style="font-size:20pt">Buy</span>
					<span ng-if="order.sells.length" uib-dropdown class="pull-right" ng-init="display.sell = order.sells[0]; display.sell.index = 0">
			      <button type="button" ng-show="order.status !== 'x' && order.status !== 'f'" class="btn btn-default" uib-dropdown-toggle>
			        {{display.sell.seller.company_name}} ({{ order.sells.length }}) <span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
			        <li role="menuitem" ng-repeat="sell in order.sells">
			        <a ng-click="display.sell = sell; display.sell.index = $index">
				  		{{ sell.seller.company_name }} : {{ sell.pivot.volume | number }}mt, US${{ sell.pivot.price | number }}
			        </a></li>
			      </ul>
			    </span>
				</th>
				<th>
					<span style="font-size:20pt">Sell</span>
					<span ng-if="order.buys.length" uib-dropdown class="pull-right" ng-init="display.buy = order.buys[0]; display.buy.index = 0">
			      <button type="button" ng-show="order.status !== 'x' && order.status !== 'f'" class="btn btn-default" uib-dropdown-toggle>
			        {{display.buy.buyer.company_name}} ({{ order.buys.length }})<span class="caret"></span>
			      </button>
			      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
			        <li role="menuitem" ng-repeat="buy in order.buys"><a ng-click="display.buy = buy; display.buy.index = $index">
				  		{{ buy.buyer.company_name }} : {{ buy.pivot.volume | number }}mt, US${{ buy.pivot.price | number }}
			        </a></li>
			      </ul>
			    </span>
				</th>
			</tr>
		</thead>
		<tbody>
      <tr>
				<th colspan="3" style="text-align:center; background: #efefef;">
          <a ng-href="" ng-click="isCollapsed = !isCollapsed">
            Order Details
            <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="isCollapsed"></span> 
            <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="!isCollapsed"></span> 
          </a>
        </th>
			</tr>
    </tbody>
    <tbody id="detail-section" uib-collapse="isCollapsed">
			<tr>
				<td>Company</td>
				<td ng-switch="display.sell && (display.sell.user_id === Authentication.user.id || checkSubordinates(display.sell.user_id)) || !display.sell">
					<span ng-switch-when="true">
						{{ display.sell.seller.company_name }}
					</span>
					<i style="color:green" ng-switch-default>
						-Contact {{ display.sell.trader.name }} ({{ display.sell.trader.phone }})
					</i>
          <span class="pull-right">
            <a ng-if="order.id" ng-click="removeSell()" class="glyphicon glyphicon-trash"></a>
            <a ng-if="!order.id" ng-click="removeSellFront()" class="glyphicon glyphicon-trash"></a>
          </span>
				</td>
				<td ng-switch="display.buy && (display.buy.user_id === Authentication.user.id || checkSubordinates(display.buy.user_id)) || !display.buy">
					<span ng-switch-when="true">
						{{ display.buy.buyer.company_name }}
					</span>
					<i style="color:green" ng-switch-default>
						-Contact {{ display.buy.trader.name }} ({{ display.buy.trader.phone }})
					</i>
          <span class="pull-right">
            <a ng-if="order.id" ng-click="removeBuy()" class="glyphicon glyphicon-trash"></a>
            <a ng-if="!order.id" ng-click="removeBuyFront()" class="glyphicon glyphicon-trash"></a>
          </span>
				</td>
			</tr>
			<tr>
				<td>Volume (mt) - Price (USD)</td>
				<td>
					<span ng-if="display.sell">
						{{ display.sell.pivot.volume | number }}mt - US$ {{ display.sell.pivot.price | number }}
						<a ng-if="order.id" ng-if="display.sell.user_id === Authentication.user.id && order.id" 
							ng-click="negoSell()" class="pull-right">
							Nego
						</a>
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
						{{ display.buy.pivot.volume | number }}mt - US$ {{ display.buy.pivot.price | number }}
						<a ng-if="order.id" ng-if="display.buy.user_id === Authentication.user.id && order.id" 
							ng-click="negoBuy()" class="pull-right">
							Nego
						</a>
					</span>
				</td>
			</tr>
			<tr>
				<td>Input Date</td>
				<td>{{ display.sell.order_date | date:'mediumDate' }}</td>
				<td>{{ display.buy.order_date | date:'mediumDate' }}</td>
			</tr>
			<tr>
				<td>LayCan</td>
				<td>{{ display.sell.ready_date | date:'mediumDate' }} - {{ display.sell.order_deadline | date:'mediumDate' }}</td>
				<td>{{ display.buy.ready_date | date:'mediumDate' }} - {{ display.buy.order_deadline | date:'mediumDate' }}</td>
			</tr>
      <tr>
				<td>Shipping Term</td>
				<td>
					<span>{{ display.sell.pivot.trading_term || 'N/A' }}</span>
				</td>
				<td>
					<span>{{ display.buy.pivot.trading_term || 'N/A' }}</span>
				</td>
			</tr>
      <tr>
				<td>Payment Term</td>
				<td>
					<span>{{ display.sell.pivot.payment_term }}</span>
				</td>
				<td>
					<span>{{ display.buy.pivot.payment_term }}</span>
				</td>
			</tr>
			<tr>
				<td>Location</td>
				<td ng-switch="display.sell.user_id === Authentication.user.id || checkSubordinates(display.sell.user_id) || !display.sell">
					<span ng-switch-when="true">{{ display.sell.concession.city }}</span>
					<i ng-switch-default style="color:green">-Contact {{ display.sell.trader.name }}-</i>
				</td>
				<td ng-switch="display.buy.user_id === Authentication.user.id || checkSubordinates(display.buy.user_id) || !display.buy">
					<span ng-switch-when="true">{{ display.buy.factory.city }}</span>
					<i ng-switch-default style="color:green">-Contact {{ display.buy.trader.name }}-</i>
				</td>
			</tr>
			<tr>
				<td>Port</td>
				<td ng-switch="display.sell.user_id === Authentication.user.id || checkSubordinates(display.sell.user_id) || !display.sell">
					<span ng-switch-when="true">{{ display.sell.port_name }}</span>
					<i ng-switch-default style="color:green">-Contact {{ display.sell.trader.name }}-</i>
				</td>
				<td ng-switch="display.buy.user_id === Authentication.user.id || checkSubordinates(display.buy.user_id) || !display.buy">
					<span ng-switch-when="true">{{ display.buy.port_name }}</span>
					<i ng-switch-default style="color:green">-Contact {{ display.buy.trader.name }}-</i>
				</td>
			</tr>
    </tbody>
    <tbody>
      <tr>
				<th colspan="3" style="text-align:center; background: #efefef;">
          <a ng-href="" ng-click="qualityCollapsed = !qualityCollapsed">
            Quality
            <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="!qualityCollapsed"></span> 
            <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="qualityCollapsed"></span> 
          </a>
        </th>
			</tr>
    </tbody>
    <tbody id="quality-section" uib-collapse="!qualityCollapsed">
      <tr>
        <td><b>GCV ADB </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.gcv_adb_min }} ~ {{ display.sell.gcv_adb_max }} kcal<br>
					{{ display.sell.gcv_adb_reject }} kcal reject; {{ display.sell.gcv_adb_bonus }} kcal bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.gcv_adb_min }} ~ {{ display.buy.gcv_adb_max }} kcal<br>
					{{ display.buy.gcv_adb_reject }} kcal reject; {{ display.buy.gcv_adb_bonus }} kcal bonus
					</span>
				</td>
      </tr>
      <tr>
        <td><b>GCV ARB </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.gcv_arb_min }} ~ {{ display.sell.gcv_arb_max }} kcal<br>
					{{ display.sell.gcv_arb_reject }} kcal reject; {{ display.sell.gcv_arb_bonus }} kcal bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.gcv_arb_min }} ~ {{ display.buy.gcv_arb_max }} kcal<br>
					{{ display.buy.gcv_arb_reject }} kcal reject; {{ display.buy.gcv_arb_bonus }} kcal bonus
					</span>
				</td>
      </tr>
      <tr>
        <td><b>NCV ARB </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.ncv_min }} ~ {{ display.sell.ncv_max }} kcal<br>
					{{ display.sell.ncv_reject }} kcal reject; {{ display.sell.ncv_bonus }} kcal bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.ncv_min }} ~ {{ display.buy.ncv_max }} kcal<br>
					{{ display.buy.ncv_reject }} kcal reject; {{ display.buy.ncv_bonus }} kcal bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.tm_min !== 0 || display.buy.tm_min !== 0 || display.sell.tm_max !== 0 || display.buy.tm_max !== 0">
        <td><b>Total Moisture (ARB) </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.tm_min }} ~ {{ display.sell.tm_max }} %<br>
					{{ display.sell.tm_reject }} % reject; {{ display.sell.tm_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.tm_min }} ~ {{ display.buy.tm_max }} %<br>
					{{ display.buy.tm_reject }} % reject; {{ display.buy.tm_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.im_min !== 0 || display.buy.im_min !== 0 || display.sell.im_max !== 0 || display.buy.im_max !== 0">
        <td><b>Inherent Moisture (ADB) </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.im_min }} ~ {{ display.sell.im_max }} %<br>
					{{ display.sell.im_reject }} % reject; {{ display.sell.im_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.im_min }} ~ {{ display.buy.im_max }} %<br>
					{{ display.buy.im_reject }} % reject; {{ display.buy.im_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.vm_min !== 0 || display.buy.vm_min !== 0 || display.sell.vm_max !== 0 || display.buy.vm_max !== 0">
        <td><b>Volatile Matter (ADB) </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.vm_min }} ~ {{ display.sell.vm_max }} %<br>
					{{ display.sell.vm_reject }} % reject; {{ display.sell.vm_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.vm_min }} ~ {{ display.buy.vm_max }} %<br>
					{{ display.buy.vm_reject }} % reject; {{ display.buy.vm_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.ash_min !== 0 || display.buy.ash_min !== 0 || display.sell.ash_max !== 0 || display.buy.ash_max !== 0">
        <td><b>Ash (ADB) </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.ash_min }} ~ {{ display.sell.ash_max }} %<br>
					{{ display.sell.ash_reject }} % reject; {{ display.sell.ash_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.ash_min }} ~ {{ display.buy.ash_max }} %<br>
					{{ display.buy.ash_reject }} % reject; {{ display.buy.ash_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.fc_min !== 0 || display.buy.fc_min !== 0">
        <td><b>Fixed Carbon (ADB) </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.fc_min }} ~ {{ display.sell.fc_max }} %<br>
					{{ display.sell.fc_reject }} % reject; {{ display.sell.fc_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.fc_min }} ~ {{ display.buy.fc_max }} %<br>
					{{ display.buy.fc_reject }} % reject; {{ display.buy.fc_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.ts_min !== 0 || display.buy.ts_min !== 0 || display.sell.ts_max !== 0 || display.buy.ts_max !== 0">
        <td><b>Total Sulphur (ADB) </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.ts_min }} ~ {{ display.sell.ts_max }} %<br>
					{{ display.sell.ts_reject }} % reject; {{ display.sell.ts_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.ts_min }} ~ {{ display.buy.ts_max }} %<br>
					{{ display.buy.ts_reject }} % reject; {{ display.buy.ts_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.hgi_min !== 0 || display.buy.hgi_min !== 0 || display.sell.hgi_max !== 0 || display.buy.hgi_max !== 0">
        <td><b>HGI </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.hgi_min }} ~ {{ display.sell.hgi_max }} <br>
					{{ display.sell.hgi_reject }} reject; {{ display.sell.hgi_bonus }} bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.hgi_min }} ~ {{ display.buy.hgi_max }} <br>
					{{ display.buy.hgi_reject }} reject; {{ display.buy.hgi_bonus }} bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.size_min !== 0 || display.buy.size_min !== 0 || display.sell.size_max !== 0 || display.buy.size_max !== 0">
        <td><b>SIZE (0-50mm)</b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.size_min }} ~ {{ display.sell.size_max }} %<br>
					{{ display.sell.size_reject }} % reject; {{ display.sell.size_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.size_min }} ~ {{ display.buy.size_max }} %<br>
					{{ display.buy.size_reject }} % reject; {{ display.buy.size_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.fe2o3_min !== 0 || display.buy.fe2o3_min !== 0 || display.sell.fe2o3_max !== 0 || display.buy.fe2o3_max !== 0">
        <td><b>Fe2O3 </b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.fe2o3_min }} ~ {{ display.sell.fe2o3_max }} %<br>
					{{ display.sell.fe2o3_reject }} % reject; {{ display.sell.fe2o3_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.fe2o3_min }} ~ {{ display.buy.fe2o3_max }} %<br>
					{{ display.buy.fe2o3_reject }} % reject; {{ display.buy.fe2o3_bonus }} % bonus
					</span>
				</td>
      </tr>
      <tr ng-show="display.sell.aft_min !== 0 || display.buy.aft_min !== 0 || display.sell.aft_max !== 0 || display.buy.aft_max !== 0">
        <td><b>AFT</b></td>
        <td>
					<span ng-if="display.sell">
					{{ display.sell.aft_min }} ~ {{ display.sell.aft_max }} %<br>
					{{ display.sell.aft_reject }} kcal reject; {{ display.sell.aft_bonus }} % bonus
					</span>
				</td>
				<td>
					<span ng-if="display.buy">
					{{ display.buy.aft_min }} ~ {{ display.buy.aft_max }} %<br>
					{{ display.buy.aft_reject }} kcal reject; {{ display.buy.aft_bonus }} % bonus
					</span>
				</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
				<th colspan="3" style="text-align:center; background: #efefef;">
          <a ng-href="" ng-click="financialCollapsed = !financialCollapsed">
            Financial Summary
            <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="!financialCollapsed"></span> 
            <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="financialCollapsed"></span> 
          </a>
        </th>
			</tr>
    </tbody>
    <tbody id="financial-section" uib-collapse="!financialCollapsed">
			<tr>
				<th></th>
        <th>
          <button class="btn btn-default" ng-click="addCostModalBuys()"> Update Additional Cost </button>
        </th>
        <th>
          <button class="btn btn-default" ng-click="addCostModalSells()"> Update Additional Cost </button>
        </th>
      </tr>
      <tr>
				<th>Total Price / mt</th>
				<td>
					<span ng-if="display.sell">
					<h4>US${{ display.sell.pivot.price | number }}</h4>
					from {{ order.sells.length }} Suppliers
					</span>
				</td>
        <td>
					<span ng-if="display.buy">
					<h4>US${{ display.buy.pivot.price | number }}</h4>
					from {{ order.buys.length }} Customers
					</span>
				</td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.pit_to_port || order.buys[display.buy.index].additional.pit_to_port">
				<th>Pit to Port / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.pit_to_port">
					<h4>US${{ order.sells[display.sell.index].additional.pit_to_port | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.pit_to_port">
          <h4>US${{ order.buys[display.buy.index].additional.pit_to_port | number }}</h4>
          </span>
				</td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.transhipment || order.buys[display.buy.index].additional.transhipment">
				<th>Transhipment / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.transhipment">
					<h4>US${{ order.sells[display.sell.index].additional.transhipment | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.transhipment">
          <h4>US${{ order.buys[display.buy.index].additional.transhipment | number }}</h4>
          </span>
				</td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.freight_cost || order.buys[display.buy.index].additional.freight_cost">
				<th>Freight Cost / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.freight_cost">
					<h4>US${{ order.sells[display.sell.index].additional.freight_cost | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.freight_cost">
          <h4>US${{ order.buys[display.buy.index].additional.freight_cost | number }}</h4>
          </span>
        </td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.port_to_factory || order.buys[display.buy.index].additional.port_to_factory">
				<th>Port to Factory / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.port_to_factory">
					<h4>US${{ order.sells[display.sell.index].additional.port_to_factory | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.port_to_factory">
          <h4>US${{ order.buys[display.buy.index].additional.port_to_factory | number }}</h4>
          </span>
        </td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.insurance_cost || order.buys[display.buy.index].additional.insurance_cost">
				<th>Insurance / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.insurance_cost">
					<h4>US${{ order.sells[display.sell.index].additional.insurance_cost | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.insurance_cost">
          <h4>US${{ order.buys[display.buy.index].additional.insurance_cost | number }}</h4>
          </span>
        </td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.interest_cost || order.buys[display.buy.index].additional.interest_cost">
				<th>Interest / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.interest_cost">
					<h4>US${{ order.sells[display.sell.index].additional.interest_cost | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.interest_cost">
          <h4>US${{ order.buys[display.buy.index].additional.interest_cost | number }}</h4>
          </span>
        </td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.surveyor_cost || order.buys[display.buy.index].additional.surveyor_cost">
				<th>Surveyor / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.surveyor_cost">
					<h4>US${{ order.sells[display.sell.index].additional.surveyor_cost | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.surveyor_cost">
          <h4>US${{ order.buys[display.buy.index].additional.surveyor_cost | number }}</h4>
          </span>
        </td>
			</tr>
      <tr ng-show="order.sells[display.sell.index].additional.others_cost || order.buys[display.buy.index].additional.others_cost">
				<th>Others / mt</th>
				<td>
					<span ng-show="order.sells[display.sell.index].additional.others_cost">
					<h4>US${{ order.sells[display.sell.index].additional.others_cost | number }}</h4>
					</span>
				</td>
        <td>
          <span ng-show="order.buys[display.buy.index].additional.others_cost">
          <h4>US${{ order.buys[display.buy.index].additional.others_cost | number }}</h4>
          </span>
        </td>
			</tr>
      <tr>
				<th>Coal Price</th>
				<td>
					<span ng-if="display.sell">
					<h3>US${{ (totalPriceBuy + totalPitBuy + totalPitSell + totalTranshipmentBuy + totalTranshipmentSell) * totalVolumeBuy / totalVolumeBuy | number }}</h3>
					from {{ order.sells.length }} Suppliers
					</span>
				</td>
        <td>
					<span ng-if="display.buy">
					<h3>US${{ totalSelfSell / totalVolumeSell | number }}</h3>
					from {{ order.buys.length }} Customers
					</span>
				</td>
			</tr>
			<tr ng-if="display.buy && display.sell">
				<td ng-if="(display.buy.pivot.price - order.port_to_factory - order.freight_cost) - (display.sell.pivot.price + order.pit_to_port + order.transhipment) > 0" colspan=3 style="text-align:center; "><h3 style="color: green">Expected Margin / mt: US${{ (display.buy.pivot.price - order.port_to_factory - order.freight_cost) - (display.sell.pivot.price + order.pit_to_port + order.transhipment) | number }}</h3></td>
				<td ng-if="(display.buy.pivot.price - order.port_to_factory - order.freight_cost) - (display.sell.pivot.price + order.pit_to_port + order.transhipment) < 0" colspan=3 style="text-align:center; "><h3 style="color: red">Expected Margin / mt: US${{ (display.buy.pivot.price - order.port_to_factory - order.freight_cost) - (display.sell.pivot.price + order.pit_to_port + order.transhipment) | number }}</h3></td>
			</tr>
		</tbody>
	</table>
	</div>
</section>