<div class="col-lg-8">
  <div class="box">
    <div class="box-header with-border" ng-init="findOne()">
      <h1 class="box-title">ORD #{{ ("10000"+order.id).slice(-4) }} - {{ order.trader.name }}</h1>

      <span class="badge badge-primary">
        {{ order.status === 'o' ? 'Open' : order.status === 'f' ? 'Finalized' : 'Cancelled' }}
      </span>
      <div class="box-tools pull-right">
        <a class="btn btn-default" ui-sref="order.list">
          <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" ng-click="remove(order);">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>

    <div class="box-header">
      <small>
        <em class="text-muted">
          Created at
          {{ order.created_at | date:'mediumDate' }},
          Last Update
          {{ order.updated_at | date:'mediumDate' }}
        </em>
      </small>
    </div>

    <table class="table table-striped">
      <tr>
        <td width=20%></td>
        <td width=40%>
          <button class="btn btn-default"> + Add Buy </button>
        </td>
        <td width=40%>
          <button class="btn btn-default"> + Add Sell </button>
        </td>
      </tr>
    </table>
    <div class="box-body no-padding" ng-static-include="'/angular/order/views/order/_order-detail.partial.html'"></div>
  </div>

  <div class="box">
    <div class="box-body" ng-static-include="'/angular/order/views/order/_index-deviation.partial.html'"></div>
  </div>
</div>

<div class="col-lg-4">
  <div class="box">
    <div class="box-header">Approval</div>
    <div class="box-body no-padding with-border">
      <div ng-static-include="'/angular/order/views/order/_approval.partial.html'"></div>
    </div>
    <div class="box-body">`
      <div ng-static-include="'/angular/order/views/order/_chat.partial.html'"></div>
    </div>
  </div>
</div>