<div class="col-lg-12" ng-if="included === true && approver === true">
  <div class="callout callout-warning" ng-if="order.status === 'p'">
    <h4>
      This order is waiting for your approval.
      <a class="btn btn-success" ng-click="approve_reject('a');">
        <i class="glyphicon glyphicon-thumbs-up" title="Approve Order"></i> Approve Order
      </a>
      <a class="btn btn-danger" ng-click="approve_reject('r');">
        <i class="glyphicon glyphicon-thumbs-down" title="Reject Order"></i> Reject Order
      </a>
    </h4>
  </div>
  <div class="callout callout-warning" ng-if="order.status === 'a'">
    <h4>
      Do you want to undo your approval?
      <a class="btn btn-danger" ng-click="approve_reject('r');">
        <i class="glyphicon glyphicon-thumbs-down" title="Retract Approval"></i> Retract Approval
      </a>
    </h4>
  </div>
</div>
<div class="col-lg-8">
  <div class="box">
    <div class="box-header with-border" ng-init="findOne()">
      <h1 class="box-title">ORD #{{ ("10000"+order.id).slice(-4) }} - {{ order.trader.name }}</h1>

      <span class="badge badge-primary">
        {{ order.status === 'p' ? 'Pending Approval' : order.status === 'd' ? 'Draft' : order.status === 'a' ? 'Approved' : order.status === 'f' ? 'Finalized' : 'Cancelled' }}
      </span>
      <div class="box-tools pull-right">
        <a class="btn btn-default" ui-sref="order.list">
          <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" ng-click="print(order);" ng-if="included === true" ng-show="(order.status === 'a' || order.status === 'f') && (order.user_id === Authentication.user.id || approver === true)">
          <i class="glyphicon glyphicon-print" title="Print"></i> Print
        </a>
        <a class="btn btn-success" ng-click="changeStatus('p');" ng-if="included === true" ng-show="order.status === 'd' && order.user_id === Authentication.user.id">
          <i class="glyphicon glyphicon-send" title="Request for Approval"></i> Request Approval
        </a>
        <a class="btn btn-success" ng-click="changeStatus('f');" ng-if="included === true" ng-show="order.status === 'a' && order.user_id === Authentication.user.id">
          <i class="glyphicon glyphicon-floppy-saved" title="Finalize Order"></i> Finalize Order
        </a>
        <a class="btn btn-danger" ng-click="changeStatus('x');" ng-if="included === true" ng-show="(order.status !== 'x' || order.status === 'f') && order.user_id === Authentication.user.id">
          <i class="glyphicon glyphicon-trash" title="Cancel Order"></i> Cancel Order
        </a>
      </div>
    </div>

    <div class="box-header" ng-if="order.request_reason">
      <h4 class="box-title">Request for Approval Notes : {{ order.request_reason }}</h4>
    </div>
    <div class="box-header" ng-if="order.cancel_reason">
      <h4 class="box-title">Cancel Notes : {{ order.cancel_reason }}</h4>
    </div>
    <div class="box-header" ng-if="order.finalize_reason">
      <h4 class="box-title">Finalize Notes : {{ order.finalize_reason }}</h4>
    </div>
    <div class="box-header">
      <small>
        <em class="text-muted">
          Created at
          {{ order.created_at | date:'mediumDate' }},
          Last Update
          {{ order.updated_at | date:'mediumDate' }}
        </em>
      </small>
    </div>
    <div class="box-body no-padding" ng-static-include="'/angular/order/views/order/_order-detail.partial.html'"></div>
  </div>

  <div class="box">
    <div class="box-body" ng-static-include="'/angular/order/views/order/_index-deviation.partial.html'"></div>
  </div>
</div>

<div class="col-lg-4" ng-if="included === true">
  <div class="box">
    <div class="box-header">Approval</div>
    <div class="box-body no-padding with-border">
      <div ng-static-include="'/angular/order/views/order/_approval.partial.html'"></div>
      
      <div ng-static-include="'/angular/chat/views/_view-chat.partial.html'"></div>
    </div>
  </div>
</div>