<div class="box-body box-profile">
  <div class="box-header">
    <img class="profile-user-img img-responsive img-circle" src="/images/default.jpg"" alt="User profile picture">

    <span class="pull-right">
      <i class="fa fa-times" ng-click="selected.company = undefined"></i>
    </span>

    <h3 class="profile-username text-center">{{selected.company.company_name}}</h3>
  </div>

  <ul class="list-group list-group-unbordered" col-mg-4>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Company Category</b>
      <span class="badge" ng-show="selected.company.is_trader===1"><i class='fa fa-share-alt'></i> TRADER </span>
      <span class="badge" ng-show="selected.company.is_trader===0"><i class='fa fa-share-alt'></i> MINER </span>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Company status </b>
      <span class="badge" ng-show="selected.company.is_affiliated===1"><i class='fa fa-tags'></i> AFFILIATED </span>
      <span class="badge" ng-show="selected.company.is_affiliated===0"><i class='fa fa-tags'></i> NON - AFFILIATED </span>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Phone</b> <a class="pull-right">{{selected.company.phone}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Email</b> <a class="pull-right">{{selected.company.email}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Web</b> <a class="pull-right">{{selected.company.web}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Address</b> <a class="pull-right">{{selected.company.address}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>City</b> <a class="pull-right">{{selected.company.city}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Country</b> <a class="pull-right">{{selected.company.country}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Industry</b> <a class="pull-right">{{selected.company.industry}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;" ng-show="selected.company.annual_sales">
      <b>Total Annual Sales</b> <a class="pull-right">{{selected.company.annual_sales | number}} <span class='badge'>Million Ton</span></a> 
    </li>
    <li class="list-group-item" style="overflow:hidden;" ng-show="selected.company.annual_demand">
      <b>Annual Demand</b> <a class="pull-right">{{selected.company.annual_demand | number}} <span class='badge'>Million Ton</span></a> 
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Trading Term</b> <a class="pull-right">{{selected.company.preferred_trading_term}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Payment Term</b> <a class="pull-right">{{selected.company.preferred_payment_term}}</a>
    </li>
    <li class="list-group-item" style="overflow:hidden;">
      <b>Description</b> <a class="pull-right">{{selected.company.description}}</a>
    </li>
  </ul>
</div>
<!-- /.box-body -->