<div class="row">
  <div class="col-lg-1">
    <label>Currency: </label>
    <select class="form-control" ng-model="lead.currency"
      required>
      <option value="USD">USD</option>
      <option value="IDR">IDR</option>
    </select>
  </div>
  <div class="col-lg-3">
    <label>Asking Price: </label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="lead.price" required>
    </div>
  </div>

  <div class="col-lg-3">
    <label>Volume of Coal : </label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="lead.volume" required>
      <span class="input-group-addon">Metric Tons</span>
    </div>
  </div>

  <div class="col-lg-6">
    <label>Delivery Period : </label>
    <p class="input-group">
      <span class="input-group-addon">FROM</span>
      <input type="date" min="{{date | date:'yyyy-MM-dd'}}" class="form-control" ng-model="lead.laycan_start"/>
      <span class="input-group-addon">TO</span>
      <input type="date" min="{{date | date:'yyyy-MM-dd'}}" class="form-control" ng-model="lead.laycan_end"/>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <label>Date of Request : </label>
    <input type="date" class="form-control" ng-model="lead.order_date" required ng-value="today"/>
  </div>
  <div class="col-lg-3">
    <label>Order Validity : </label>
    <input type="date" min="{{date | date:'yyyy-MM-dd'}}" class="form-control" ng-model="lead.order_expired" required/>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <label>Preferred Shipping Term : </label>
    <p class="input-group">
      <select class="form-control" ng-model="lead.trading_term"
        ng-options="o as o for o in tradingTerm" required>
        <option value="">-- Select Trading Term --</option>
      </select>
      <span class="input-group-addon">Details:</span>
      <input type="text" class="form-control" ng-model="lead.trading_term_detail" placeholder="ex: transhipment" />
    </p>
  </div>
  <div class="col-lg-6">
    <label>Preferred Payment Term : </label>
    <p class="input-group">
      <select class="form-control" ng-model="lead.payment_term"
        ng-options="o as o for o in paymentTerm" required>
        <option value="">-- Select Payment Term --</option>
      </select>
      <span class="input-group-addon">Details:</span>
      <input type="text" class="form-control" ng-model="lead.payment_term_detail" placeholder="ex: 30 days" />
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <label>Remarks : </label>
    <textarea class="form-control" ng-model="lead.remarks"></textarea>
  </div>
  <div class="col-lg-6">
    <label>Carrier Type : </label>
      <select class="form-control" ng-model="lead.carrier_type"
        ng-options="o as o for o in carrierTypes" required>
        <option value="">-- Not Specified --</option>
      </select>
  </div>
</div>
