<div ng-init="findMyConcessions()" ng-if="lead_type==='buy'">
  <label for="id">Name of Concession :</label>
  <ui-select ng-model="concession.selected" style="display:inline" title="Choose a Concession" append-to-body="true">
    <ui-select-match placeholder="Name Of Concession">{{ concession.selected.concession_name }}</ui-select-match>
    <ui-select-choices repeat="concession in concessions | propsFilter: {concession_name: $select.search}">
      <div ng-bind-html="concession_name | highlight: $select.search"></div>
      <small>
        {{concession.concession_name}}
      </small>
    </ui-select-choices>
  </ui-select>
</div>
<div ng-init="findMyFactorys()" ng-if="lead_type==='sell'">
  <label for="id">Name of Factory :</label>
  <ui-select ng-model="factory.selected" style="display:inline" title="Choose a Factory" append-to-body="true">
    <ui-select-match placeholder="Name Of Factory">{{ factory.selected.factory_name }}</ui-select-match>
    <ui-select-choices repeat="factory in factorys | propsFilter: {factory_name: $select.search}">
      <div ng-bind-html="factory_name | highlight: $select.search"></div>
      <small>
        {{factory.factory_name}}
      </small>
    </ui-select-choices>
  </ui-select>
</div>