<section ng-if="destinationBy === 'country'">

  <div class="row"><div class="col-lg-12">
    <label>City</label>
    <input type="text" class="form-control" ng-model="lead.city">
  </div></div>
  <div class="row"><div class="col-lg-12">
    <label>Country</label>
    <select name="country" id="country" class="form-control"
      ng-model="lead.country">
      <option value="">-- Select Country --</option>
      <option ng-value="country.name" ng-repeat="country in countries | orderBy:'name'">{{ country.name }}</option>
    </select>
  </div></div>

  <br>
  <a ng-click="showDetails = !showDetails" class="btn btn-primary">Add More Details</a>
  <br>
  <br>

  <div ng-show="showDetails">
    <div class="row"><div class="col-lg-12">
      <label>Address</label>
      <input type="text" class="form-control" ng-model="lead.address">
    </div></div>
    <div class="row"><div class="col-lg-12">
      <label>Distance to Port</label>
      <input type="number" min="0" class="form-control" ng-model="lead.port_distance">
    </div></div>
    <div class="row"><div class="col-lg-12">
      <label>Coordinate</label>
      <div class="input-group">
        <span class="input-group-addon">Lat</span>
        <input type="number" step="any" class="form-control" ng-model="lead.latitude">
        <span class="input-group-addon">Lng</span>
        <input type="number" step="any" class="form-control" ng-model="lead.longitude">
      </div>
    </div></div>
    <div class="row"><div class="col-lg-12" ng-if="lead.latitude && lead.longitude">
      <ng-map center="[{{ lead.latitude }}, {{ lead.longitude }}]" on-click="changePosition()" id="location">
        <marker draggable="true" on-dragend="changePosition()"
          position="{{lead.latitude}}, {{lead.longitude}}" id="location-{{selected.location.id}}"></marker>
      </ng-map>
    </div></div>
  </div>
</section>

<section ng-if="destinationBy !== 'country'">
  <div class="select-box" ng-init="find()">
    <label for="id">Name of {{ lead.lead_type === 'b' ? 'Concession' : 'Factory' }} :</label>

    <ui-select ng-model="selected.location"
      reset-search-input="false"
      style="min-width: 30px;"
      ng-change="select(selected.location)"
      title="Choose an location">
      <ui-select-match placeholder="Name of the {{ lead.lead_type === 'b' ? 'Concession' : 'Factory' }}...">
        {{$select.selected.concession_name}}
        {{$select.selected.factory_name}}
      </ui-select-match>

      <ui-select-choices repeat="location in locations track by $index"
        refresh="find($select.search)"
        refresh-delay="1">
        <div ng-bind-html="location.concession_name  | highlight: $select.search | html"></div>
        <div ng-bind-html="location.factory_name  | highlight: $select.search | html"></div>
      </ui-select-choices>
    </ui-select>
  </div>

  <div ng-show="!selected.location">
    <div class="row">
      <div class="text-center col-lg-12" style="padding: 20px">
        OR
      </div>
    </div>
    <button type="button" class="btn btn-primary btn-block" ng-click="add()">
      <b>+</b> Add New {{ lead.lead_type === 'b' ? 'Concession' : 'Factory' }}
    </button>
  </div>

  <hr>

  <div ng-show="selected.location" style="margin-top:20px;">
    <div class="row"><div class="col-lg-12">
      <label>Address</label>
      <input type="text" class="form-control" ng-model="lead.address">
    </div></div>
    <div class="row"><div class="col-lg-12">
      <label>City</label>
      <input type="text" class="form-control" ng-model="lead.city">
    </div></div>
    <div class="row"><div class="col-lg-12">
      <label>Country</label>
      <input type="text" class="form-control" ng-model="lead.country">
    </div></div>
    <div class="row"><div class="col-lg-12">
      <label>Distance to Port</label>
      <input type="number" min="0" class="form-control" ng-model="lead.port_distance">
    </div></div>
    <div class="row" ng-if="lead.latitude && lead.longitude && !lead.polygon"><div class="col-lg-12">
      <label>Coordinate</label>
      <div class="input-group">
        <span class="input-group-addon">Lat</span>
        <input type="number" step="any" class="form-control" ng-model="lead.latitude">
        <span class="input-group-addon">Lng</span>
        <input type="number" step="any" class="form-control" ng-model="lead.longitude">
      </div>
    </div></div>
    <div class="row">
		<div class="col-lg-12" ng-if="lead.latitude && lead.longitude && !lead.polygon">
		  <ng-map center="[{{ lead.latitude }}, {{ lead.longitude }}]" on-click="changePosition()" id="location">
			<marker draggable="true" on-dragend="changePosition()"
			  position="{{lead.latitude}}, {{lead.longitude}}" id="location-{{selected.location.id}}"></marker>
		  </ng-map>
		</div>
		<div class="col-lg-12" ng-if="lead.polygon">
      <ng-map zoom="4" center="Indonesia" id="location">
        <shape id="polygon" name="polygon"
          paths="{{display.polygonArray}}"
          stroke-color="#FF0000"
          stroke-opacity="1.0"
          stroke-weight="3">
        </shape>
        <drawing-manager
          on-overlaycomplete="updatePolygonString()"
          drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon']}"
          polygonOptions="{fillColor:'#01539f', strokeColor: '#01539f', editable: true}"
          drawingControl="true"
          drawingMode="polygon">
        </drawing-manager>
      </ng-map>
		  <!--ng-map center="[{{ lead.latitude }}, {{ lead.longitude }}]" on-click="changePositionPolygon()" id="location">
			<marker draggable="true" on-dragend="changePosition()"
			  position="{{lead.latitude}}, {{lead.longitude}}" id="location-{{selected.location.id}}"></marker>
		  </ng-map-->
		</div>
	</div>
  </div>
</div>
