<section class="content" ng-controller="CompanyLeadController" ng-init="init()">
  <div class="box box-info" >
    <div class="box-header with-border">
      <h1 class="box-title" style="font-size: 25px">{{ lead_type | uppercase }} Lead Company</h1>
      <div class="box-tools pull-right" style="position:relative">
        <button type="button" class="btn btn-danger" ui-sref="lead.list">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
        </button>
       
        <button type="button" class="btn btn-success" ng-click="nextToOperation({id})">
          <i class="glyphicon glyphicon-arrow-right"></i> Next
        </button>
      </div>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
      </div>
      <div class="select-box" ng-init="findCompanies()">
        <label for="id">Name of Company :</label>
        <ui-select ng-model="company.selected" style="display:inline" title="Choose a Company" append-to-body="true">
          <ui-select-match placeholder="Name Of Company">{{ company.selected.company_name }}</ui-select-match>
          <ui-select-choices repeat="company in companies | propsFilter: {company_name: $select.search} | orderBy:'company_name'">
            <div ng-bind-html="company_name | highlight: $select.search"></div>
            <small>
              {{company.company_name}}
            </small>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="row">
        <div class="text-center col-lg-12" style="padding: 20px">
          OR
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block" ng-click="openModal()">
        <b>+</b> Add New Company
      </button>
      <div class="box box-primary" ng-show="company.selected">
        <div ng-include="'/angular/lead/views/wizard/_company.partial.html'"></div>
      </div>
    </div>      
  </div>
</section>