<section class="content" ng-controller="LeadController" ng-init="findOne()">
<form ng-submit="update()">
  <div class="col-lg-12">
    <div class="box box-default" >
        <div class="box-header with-border">
        <h1 class="box-title"></h1>
        <div class="pull-left">
          <a class="btn btn-default" ui-sref="lead.port({ id: lead.id })">
            <i class="glyphicon glyphicon-arrow-left"></i> Back
          </a>
        </div>
        <div class="pull-right">
          <button ng-disabled="!lead.lead_type" type="submit" class="btn btn-success">
            Submit!
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12" ng-controller="LeadProductController"> 
    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Fill Product Details</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
        </div>
        <div class="select-box" ng-init="find()">
          <label for="id">Name of Product :</label>
          
          <ui-select ng-model="selected.product"
            reset-search-input="false"
            style="min-width: 30px;"
            ng-change="select(selected.product)"
            title="Choose an product">
            <ui-select-match placeholder="Name of the Product...">{{$select.selected.product_name}}</ui-select-match>

            <ui-select-choices repeat="product in products track by $index"
              refresh="find($select.search)"
              refresh-delay="1">
              <div ng-bind-html="product.product_name  | highlight: $select.search | html"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <div ng-show="!selected.product">
          <div class="row">
            <div class="text-center col-lg-12" style="padding: 20px">
              OR
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" ng-click="add()">
            <b>+</b> Add New Product
          </button>
        </div>

        <hr>

        <div ng-include="'/angular/lead/views/wizard/_product.partial.html'" ng-show="selected.product"></div>
      </div>
    </div>
  </div>
</form>
</section>