<div class="box-header">
	<h1 class="box-title">Update Price</h1>
</div>
<div class="box-body" ng-controller="IndexPriceController">
  <form name="price" class="form-horizontal" ng-init="findOne()" ng-submit="update()">

		<fieldset>
		  <div class="form-group col-lg-12" show-errors>
		    <label for="date">Date</label>
		    <input name="date" type="date" ng-model="indexPrice.date" id="date" class="form-control" required>
		  </div>

		  <div class="form-group col-lg-12" show-errors>
		    <label for="price">Price</label>
		    <input name="price" type="number" ng-model="indexPrice.price" id="price" class="form-control" placeholder="Price" required>
		  </div>

		  <hr>

		  <div class="pull-right">
		    <input type="submit" class="btn btn-default">
		  </div>

		  <div ng-show="error" class="text-danger">
		    <strong>{{ error.message }}</strong>
		  </div>
		</fieldset>
	</form>
</div>