<div ng-controller="IndexTodayController" ng-init="find(); findPrices();">
	<div class="box-header">
		<h1 class="box-title">Add/Edit Index Price</h1>
	</div>
	<div class="box-body">
		<form name="pricesForm" class="form-horizontal" ng-submit="submit()">
			<fieldset>
			  <div class="form-group col-lg-12" show-errors>
			    <label for="date">Date</label>
			    <input name="date" type="date" ng-change="findPrices()" ng-model="prices.date" id="date" class="form-control" required>
			  </div>

			  <div class="form-group col-lg-12" ng-repeat="index in indices" show-errors>
			    <label for="price">{{ index.index_provider }} {{ index.index_name }}</label>
			    <input name="price" type="number" step="any" ng-model="prices.value[index.id]"
			    	id="price" class="form-control" placeholder="Price">
			  </div>

			  <hr>

			  <div class="pull-right">
			    <input type="submit" class="btn btn-default">
			  </div>

			  <div ng-show="error" class="text-danger">
			    <strong>{{ error.message }}</strong>
			  </div>
			</fieldset>
		</form>
	</div>
</div>