<div class="form-group" ng-init="findAllPorts()">
  <label for="port_id">Port:</label>
  <select class="form-control" id="buyer" ng-model="buyer_port.port_id" ng-hide="type!=='buyer'">
    <option value=""></option>
    <option ng-repeat="port in ports" value="{{ port.id }}">{{ port.port_name }}</option>
  </select>
  <select class="form-control" id="buyer" ng-model="buyer_port.port_id" ng-hide="type!=='seller'">
    <option value=""></option>
    <option ng-repeat="port in ports" value="{{ port.id }}">{{ port.port_name }}</option>
  </select>
</div>

<div class="form-group">
  <label for="distance">Distance from Discharging port to Factory (KM):</label>
  <input name="distance" type="number" min="0" class="form-control" id="distance" ng-model="buyer_port.distance" ng-hide="type!=='buyer'">
  <input name="distance" type="number" min="0" class="form-control" id="distance" ng-model="buyer_port.distance" ng-hide="type!=='seller'">
</div>