<section class="content" ng-controller="PortController" ng-init="init()">
  <div class="col-md-3 col-lg-2">
    <section ng-include="'./angular/lead/views/side-menu.view.html'"></section>
  </div>
  <div class="col-md-9 col-lg-10" >
    <section ng-include="'./angular/lead/views/search-bar.view.html'"></section>
    <div class="box">
      <div class="box-header with-border">
        <h1 class="box-title" style="font-size: 25px">Create Port</h1>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-primary" ng-click="backToProductSeller()" ng-show="new!=='true'">
            <i class="glyphicon glyphicon-arrow-left"></i> Back
          </button>
          <button type="button" class="btn btn-primary" ui-sref="lead.seller">
            <i class="glyphicon glyphicon-arrow-right"></i> Next
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label ng-show="error" class="alert bg-red" style="width:100%">{{error}}</label>
        </div>
        <div class="row" style="margin: 10px;">
          <div class="select-box" ng-init="findAllPorts()">
            <label for="id">Port Name:</label>
            <ui-select ng-model="port.selected" style="min-width: 300px;" title="Choose a port" append-to-body="true">
              <ui-select-match placeholder="Port Name">{{ port.selected.port_name }}</ui-select-match>
              <ui-select-choices repeat="port in ports | propsFilter: {port_name: $select.search}">
                <div ng-bind-html="port_name | highlight: $select.search"></div>
                <small>
                  {{port.port_name}}
                </small>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        </br>
          <div class="text-center col-md-4 col-md-offset-4">
            OR
          </div>
          </br>
          </br>
          <button type="button" class="btn btn-primary btn-block" ng-click="openModalNewSeller()">
              <b>+</b> Add New 
          </button>
          </br>
          <!-- <div ng-include="'/angular/lead/views/port/table-seller.view.html'"></div> -->
          <div class="box box-primary" ng-show="port.selected">
            <div class="box-body box-profile">

              <ul class="list-group list-group-unbordered" col-mg-4>
                <li class="list-group-item">
                  <b>Name of Port</b> <a class="pull-right">{{port.selected.port_name}}</a>
                </li>
                <li class="list-group-item">
                  <b>location</b> <a class="pull-right">{{port.selected.location}}</a>
                </li>
                <li class="list-group-item" ng-show="port.selected.is_private===1">
                  <b>Status of Port</b> <a class="pull-right">Private</a>
                </li>
                <li class="list-group-item" ng-show="port.selected.is_private===0">
                  <b>Status of Port</b> <a class="pull-right">Public</a>
                </li>
                <li class="list-group-item">
                  <b>Size of Port (Ha)</b> <a class="pull-right">{{port.selected.size}}</a>
                </li>
                <li class="list-group-item">
                  <b>Latitude</b> <a class="pull-right">{{port.selected.latitude}}</a>
                </li>
                <li class="list-group-item">
                  <b>Longtitude</b> <a class="pull-right">{{port.selected.longitude}}</a>
                </li>
                <li class="list-group-item">
                  <b>Port Pacility</b> <a class="pull-right"><span ng-show="port.selected.has_conveyor">Conveyer,</span><span ng-show="port.selected.has_crusher"> Crusher,</span><span ng-show="port.selected.has_blending"> Blending</span></a>
                </li>
                <li class="list-group-item">
                  <b>Draft of Loading Port</b> <a class="pull-right">{{port.selected.draft_height}}</a>
                </li>
                <li class="list-group-item">
                  <b>Distance from port to anchorage (NM or Hours )</b> <a class="pull-right">{{port.selected.anchorage_distance}}</a>
                </li>
                <li class="list-group-item">
                  <b>Daily discharge rate (mtpd)</b> <a class="pull-right">{{port.selected.daily_discharge_rate}}</a>
                </li>
              </ul>

             
            </div>
            <!-- /.box-body -->
          </div>
      </div>
    </div>
  </div>
</section>
