<div class="form-group">
  <label for="port_name">Name of Port:</label>
  <input name="port_name" type="text" class="form-control" id="port_name" ng-model="port.port_name" required>
</div>

<div class="form-group">
  <label for="owner">Owner of Port:</label>
  <input name="owner" type="text" class="form-control" id="owner" ng-model="port.owner" required>
</div>

<div class="form-group">
  <label for="location">Location:</label>
  <input name="location" type="text" class="form-control" id="location" ng-model="port.location" required>
</div>

<div class="form-group">
  <label for="headquarter_location">Status of Port:</label>
  <div class="input-group" style="margin-bottom: 5px;">
    <div class="btn-group">
      <label class="btn btn-default" ng-model="port.is_private" uib-btn-radio="0">Public</label>
      <label class="btn btn-default" ng-model="port.is_private" uib-btn-radio="1">Private</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="size">Size of Port (Ha):</label>
  <input name="size" type="number" class="form-control" min="0" id="size" ng-model="port.size" required>
</div>

<div class="form-group">
  <label for="contact">Port Coordinates*:</label>
  <div class="input-group" style="margin-bottom: 5px;">
    <span class="input-group-addon" style="width: 200px;">Latitude</span>
    <input type="number" class="form-control" placeholder="Latitude" ng-model="port.latitude" min="-90" max="90" step="any" required>
    <span class="input-group-addon">Longitude</span>
    <input type="number" class="form-control" placeholder="Longitude" ng-model="port.longitude" min="-180" max="180" step="any" required>
  </div>
</div>

<div class="form-group">
  <div class="row" style="background:#eee; padding: 10px; margin-left:10px;">
    <ng-map zoom="2" center="Indonesia" default-style="false" style="width:100%; height:500px;">
      <marker draggable="true" on-mouseup="markerMove()" position="{{port.latitude}}, {{port.longitude}}" id="mark{{port.id}}" ></marker>
    </ng-map>
  </div>
</div>

<div class="form-group">
  <label for="web">Port Facility* :</label>
  <div class="input-group" style="margin-bottom: 5px;">
    <div class="btn-group">
      <label class="btn btn-default" ng-model="port.has_conveyor" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Conveyor</label>
      <label class="btn btn-default" ng-model="port.has_crusher" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Crusher</label>
      <label class="btn btn-default" ng-model="port.has_blending" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Blending</label>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="draft_height">Draft of Loading Port (m):</label>
  <input name="draft_height" type="number" min="0" class="form-control" id="draft_height" ng-model="port.draft_height" required>
</div>

<div class="form-group" ng-show="updatePort">
  <label for="anchorage_distance">Distance from port to anchorage (NM or Hours ):</label>
  <input name="anchorage_distance" type="number" min="0" class="form-control" id="anchorage_distance" ng-model="port.anchorage_distance">
</div>

<div class="form-group">
  <label for="daily_discharge_rate">Daily discharge rate (mtpd):</label>
  <input name="daily_discharge_rate" type="number" min="0" class="form-control" id="daily_discharge_rate" ng-model="port.daily_discharge_rate" required>
</div>

<button type="submit" class="btn btn-default">Submit</button>