<table st-table="displayedCollection" st-safe-src="ports" class="table select-table" ng-init="findMyPortsBuyer()">
  <thead>
    <tr>
      <th colspan="1"><input st-search="port_name" class="form-control" placeholder="search ..." type="text"/></th>
      <th colspan="1"><input st-search="distance" class="form-control" placeholder="search ..." type="text"/></th>
    </tr>
    <tr>
      <th st-sort="port_name">Port Name</th>
      <th st-sort="location">Location</th>
      <th st-sort="size">Size (Ha)</th>
      <th st-sort="is_private">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="port in displayedCollection">
      <td>{{ port.port[0].port_name }}</td>
      <td>{{ port.port[0].location }}</td>
      <td>{{ port.port[0].size }}</td>
      <td>{{ port.port[0].is_private === 1 ? "Private" : "Public" }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="text-center">
        <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
      </td>
    </tr>
  </tfoot>
</table>
