<div class="content" ng-controller="PortController" ng-init="findOne()">
  <!-- HEADER -->
  <div class="row submenu-header">
    <div class="submenu-header-item">
      <button type="button" class="btn btn-danger" ng-click="backToDetail()">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
      </button>
      
     <button type="button" class="btn btn-primary" ui-sref="lead.update-port({ id: id, portId: port.id })">

              <i class="glyphicon glyphicon-pencil"></i> Update
      </button>
    </div>
  </div>

  <!-- PRIMARY DETAIL -->
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-aqua-active">
      <h3 class="widget-user-username">{{ port.port_name }}</h3>
      <h5 class="widget-user-desc">{{ port.owner }}</h5>
    </div>
    <div class="box-tools pull-right" style="padding-right:10px">
      <span class="badge" ng-if="port.is_private===1"><i class='fa fa-share-alt'></i> PRIVATE</span>
      <span class="badge" ng-if="port.is_private===0"><i class='fa fa-share-alt'></i> PUBLIC</span>
    </div>
    <div class="widget-user-image">
      <img class="img-circle" src="/images/default.jpg" alt="User Avatar">
    </div>

    <div class="box-footer">
      <div class="row">
        <div class="col-sm-12 border-right">
          <div class="description-block">
            <h5 class="description-text">{{ port.location }}</h5>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="col-lg-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: 25px">About</h3>
        </div>
        <div class="box-body">
          <div class="row-fluid" style="margin: 10px">

            <table class="table table-striped">
              <tr><td><b>Size</b></td><td>: {{ port.size }}</td></tr>
              <tr><td><b>Latitude</b></td><td>: {{ port.latitude }}</td></tr>
              <tr><td><b>Longitude</b></td><td>: {{ port.longitude }}</td></tr>
              <tr><td><b>Anchorage Distance (m)</b></td><td>: {{ port.anchorage_distance }}</td></tr>
              <tr><td><b>Port Facility</b></td>
                <td>: 
                  <span class='badge badger-danger' ng-show="port.has_conveyor===1">Conveyor</span> 
                  <span class='badge badger-danger' ng-show="port.has_crusher===1">Crusher</span> 
                  <span class='badge badger-danger' ng-show="port.has_blending===1">Blending</span>
                </td>
              </tr>
              <tr><td><b>Draft Height (NM or Hours)</b></td><td>: {{ port.draft_height }}</td></tr>
              <tr><td><b>Daily Discharge Rate (mtpd)</b></td><td>: {{ port.daily_discharge_rate }}</td></tr>

            </table>

            <!--ng-map center="{{port.longitude}}, {{port.latitude}}">
              <marker center="{{port.longitude}}, {{port.latitude}}"></marker>
            </ng-map-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>