<section ng-controller="UserController">
  <div class="login-box">
    <div class="login-logo">
      <img src="./images/sinarmas.png" style="width:40px; margin-top:-10px;"><b> Coaltrade</b></a>
    </div>
    <div class="login-box-body">
      <h3 class="login-box-msg">Forgot Password</h3>
      <p>*Please enter your email, we will send your new password through it</p>

      <div class="callout callout-danger" ng-if="err">
        {{ err.message }}
      </div>

      <form role="form" ng-submit="forgotPassword()">
        <div class="form-group">
      		<label for="email">Your Email:</label>
      		<input type="text" class="form-control" id="email" ng-model="user.email" required>
      	</div>
        
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</section>