<section ng-controller="AuthController">
  <div class="login-box">
    <div class="login-logo">
      <img src="./images/sinarmas.png" style="width:40px; margin-top:-10px;"><b> Coaltrade</b></a>
    </div>
    <div class="login-box-body">
      <h3 class="login-box-msg">Forgot Password</h3>
      <p>*Please enter your email, we will send your new password through it</p>

      <div class="callout callout-default" ng-if="success">
      {{success}}
      </div>
      <div ng-if="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>

      <form role="form" ng-submit="forgot()">
        <div class="form-group">
      		<label for="email">Your Email:</label>
      		<input type="text" class="form-control" id="email" ng-model="forgot.email" required>
      	</div>
        <button ui-sref="auth.signin" class="btn btn-default">Back To Login</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>