<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" id="name" ng-model="user.name" required>
</div>

<div class="form-group">
  <label for="email">Email :</label>
  <input type="text" class="form-control" id="email" ng-model="user.email" required>
</div>

<div class="form-group">
  <label for="phone">Phone Number:</label>
  <input type="text" class="form-control" id="phone" ng-model="user.phone" >
</div>

<div class="form-group">
  <label for="employee_id">Employee Identification Number:</label>
  <input type="text" class="form-control" id="employee_id" ng-model="user.employee_id">
</div>

<div class="callout callout-danger" style="text-align:center;">
  If you dont want to change your password, leave it empty.
</div>

<div class="form-group">
  <label for="old_password">Old Password:</label>
  <input type="password" class="form-control" id="old_password" ng-model="user.old_password">
</div>

<div class="form-group">
  <label for="password">Password:</label>
  <input type="password" class="form-control" id="password" ng-model="user.password">
</div>

<div class="form-group">
  <label for="cpassword">Confirm Password:</label>
  <input type="password" class="form-control" id="cpassword" ng-model="user.cpassword">
</div>
