 </br>
 <section ng-controller="UserController" ng-init="findOne(); findRoles()">
  <div class="col-md-4">
  </div>

    <div class="col-md-4" ng-controller="AuthController">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">{{ Authentication.user.name }}</h3>
            </div>
            <div class="widget-user-image" aria-label="{{profile.name}}" ng-change="selectImage(pic)"
              ngf-select ng-model="pic" name="file" ngf-pattern="'image/*'"  ngf-min-height="100"
              ngf-accept="'image/*'" ngf-max-size="1MB" ngf-resize="{width: 500, height: 500}">
              <div style="background-image:url({{ Authentication.user.image }});"
                class="img-circle div-img-circle big" alt="User Avatar"></div>
            </div>
            <div class="box-footer">
              <div class="row">

               <div class="col-md-12">
                <h1>Update Role</h1>
                <div class="callout callout-danger">
                  <span style="">If you submit the new role,<br/> You will be logged out and cannot log in until your request of changes are approved by the admin.<br/>So you need to be sure before you click the submit button.</span>
                </div>
                <form role="form" ng-submit="updateRole(selectedRoles)">
                  <div class="form-group has-feedback" ng-repeat="selectedRole in selectedRoles track by $index">
                    <select ng-model="selectedRole.id" placeholder="Role" flex>
                      <option value="" disabled selected>Role</option>
                      <option ng-repeat="role in roles" value="{{role.id}}">{{role.role}}</option>
                    </select>
                    <button type="button" ng-click="selectedRoles.splice(selectedRoles.indexOf(selectedRole),1)" flex>X</button>
                  </div>
                  <div class="form-group has-feedback">
                    <button type="button" ng-click="selectedRoles.push({})"> + Add a new role</button>
                  </div>
                  <div class="callout callout-danger" ng-show="error">{{error}}</div>
                  <div class="callout callout-success" ng-show="success">{{success}}</div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>

              </div>

              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>

  <div class="col-md-4">
  </div>
</section>
