<div class="col-xs-12" ng-controller="OrderDashboardController">
  <div class="box box-primary" ng-init="find()">
    <div class="box-header with-border">
      <h3 class="box-title">Orders</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="col-md-4 col-sm-12" ng-init="funnel()">
        <canvas class="chart chart-horizontal-bar" chart-data="data" chart-labels="labels"
          chart-options="options" chart-series="series" chart-click="onClick"></canvas>
      </div>
      <div class="hidden-xs hidden-sm col-lg-8 col-md-8 ">
        <div class="col-lg-6 col-md-6">
          <h3>Total Leads Sell <span class="badge label-primary">{{funnel["lead-sell"]}}</span></h3>
         
        </div>
        <div class="col-lg-6 col-md-6">
          <h3>Total Leads Buy <span class="badge label-primary">{{funnel["lead-buy"]}}</span></h3>
          
        </div>
        <div class="col-lg-6 col-md-6">
          <h3>Total Pending <span class="badge label-primary">{{funnel["pending"]}}</span></h3>
        </div>
        <div class="col-lg-6 col-md-6">
          <h3>Total Approved <span class="badge label-primary">{{funnel["approved"]}}</span></h3>
        </div>
        <div class="col-lg-6 col-md-6">
          <h3>Total finalized <span class="badge label-primary">{{funnel["finalized"]}}</span></h3>
        </div>
      </div>

      <div class="hidden-lg hidden-md col-xs-12 col-sm-12 ">
        <div class="col-xs-12 col-sm-6">
          <h4>Total Leads Sell <span class="badge label-primary">{{funnel["lead-sell"]}}</span></h4>
         
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Total Leads Buy <span class="badge label-primary">{{funnel["lead-buy"]}}</span></h4>
          
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Total Pending <span class="badge label-primary">{{funnel["pending"]}}</span></h4>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Total Approved <span class="badge label-primary">{{funnel["approved"]}}</span></h4>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h4>Total finalized <span class="badge label-primary">{{funnel["finalized"]}}</span></h4>
        </div>
      </div>

      <div class="col-sm-12">
      <div class="table-responsive">
        <table st-table="orders" st-safe-src="orderCollection" class="table table-striped">
          <thead>
            <tr>
                <th colspan="9"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
            <tr>
              <th st-sort="id">#</th>
              <th st-sort="status">Status</th>
              <th st-sort="created_at">Created At</th>
              <th st-sort="updated_at">Updated At</th>
              <th>Approval Status</th>
              <th></th>
            </tr>
          </thead>
        <tbody>
          <tr ng-repeat="order in orders">
            <td>{{ order.id }}</td>
            <td ng-if="order.status === 'o'">Open</td>
            <td ng-if="order.status === 'd'">Draft</td>
            <td ng-if="order.status === 'x'">Deleted</td>
            <td ng-if="order.status === 'p'">Pending</td>
            <td ng-if="order.status === 'f'">Finalized</td>
            <td>{{ order.created_at | date:'d/M/yy' }}</td>
            <td>{{ order.updated_at | date:'d/M/yy' }}</td>
            <td>
              <div ng-repeat="app in order.approvals.slice().reverse()">
                {{ app.name | firstWord }} [{{ app.status }}]
              </div>
            </td>
            <td>
              <a ui-sref="order.view({ id: order.id })"><i class="glyphicon glyphicon-eye-open"></i></a>
              <a ng-click="remove(order)"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
          </tr>
          <tr ng-if="orders.length == 0">
            <td colspan="6" class="text-center">No data available</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /. box -->
</div>
