<div class="col-xs-12" ng-controller="OrderDashboardController">
  <div class="box box-primary" ng-init="find()">
    <div class="box-header with-border">
      <h3 class="box-title">Orders</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <table st-table="orders" st-safe-src="orderCollection" class="table table-striped">
        <thead>
          <tr>
              <th colspan="9"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
          <tr>
            <th st-sort="id">#</th>
            <th st-sort="status">Status</th>
            <th st-sort="created_at">Created At</th>
            <th st-sort="updated_at">Updated At</th>
            <th>Approval Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody ng-init="funnel()">
          <div class="col-md-4 col-sm-8">
          <canvas id="base" class="chart-horizontal-bar"
          chart-data="data" chart-labels="labels" chart-series="series" chart-option="options" height="30">
          </canvas>
          </div>
          <tr ng-repeat="order in orders">
            <td>{{ order.id }}</td>
            <td ng-if="order.status === 'o'">Open</td>
            <td ng-if="order.status === 'd'">Draft</td>
            <td ng-if="order.status === 'x'">Deleted</td>
            <td ng-if="order.status === 'p'">Pending</td>
            <td ng-if="order.status === 'f'">Finalized</td>
            <td>{{ order.created_at | date:'d/M/yy' }}</td>
            <td>{{ order.updated_at | date:'d/M/yy' }}</td>
            <td>
              <div ng-repeat="app in order.approvals.slice().reverse()">
                {{ app.name | firstWord }} [{{ app.status }}]
              </div>
            </td>
            <td>
              <a ui-sref="order.view({ id: order.id })"><i class="glyphicon glyphicon-eye-open"></i></a>
              <a ng-click="remove(order)"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
          </tr>
          <tr ng-if="orders.length == 0">
            <td colspan="6" class="text-center">No data available</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /. box -->
</div>
