<div class="col-xs-12" ng-controller="OrderDashboardController">
  <div class="box box-primary" ng-init="find()">
    <div class="box-header with-border">
      <h3 class="box-title">Orders</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-lg-12 col-md-12 col-sm-12" ng-init="funnel()">
            <canvas class="chart chart-horizontal-bar col-lg-12 col-md-12 col-sm-12" chart-data="data" chart-labels="labels"
              chart-options="options" chart-series="series" chart-click="onClick"></canvas>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="col-md-12 col-lg-12" style="align:left;">
            <div class="row">
              <p style="margin-bottom:10px;">
                <strong>Leads</strong>
              </p>
              <div class="col-sm-4 col-xs-4">
                <div class="description-block border-right">
                  <h3 class="description-header text-yellow" style="font-size:40px !important;">{{funnel["lead-buy"]}}</h3>
                  <span class="description-text text-yellow">Total Buy Leads</span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-4">
                <div class="description-block border-right">
                  <h3 class="description-header text-green" style="font-size:40px !important;">{{funnel["lead-sell"]}}</h3>
                  <span class="description-text text-green">Total Sell Leads</span>
                </div>
              </div>
            </div>
            <hr/>
            <div class="row">
              <p style="margin-bottom:10px;">
                <strong>Order per Stage</strong>
              </p>
              <div class="col-sm-4 col-xs-4">
                <div class="description-block border-right">
                  <h3 class="description-header text-yellow" style="font-size:40px !important;">{{funnel["pending"]}}</h3>
                  <span class="description-text text-yellow">Total Pending</span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-4">
                <div class="description-block border-right">
                  <h3 class="description-header text-green" style="font-size:40px !important;">{{funnel["approved"]}}</h3>
                  <span class="description-text text-green">Total Approved</span>
                </div>
              </div>
              <div class="col-sm-4 col-xs-4">
                <div class="description-block border-right">
                  <h3 class="description-header text-blue" style="font-size:40px !important;">{{funnel["finalized"]}}</h3>
                  <span class="description-text text-blue">Total Finalized</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">List of orders</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table st-table="orders" st-safe-src="orderCollection" class="table table-striped">
              <thead>
                <tr>
                    <th colspan="9"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                </tr>
                <tr>
                  <th st-sort="id">#</th>
                  <th st-sort="status">Status</th>
                  <th st-sort="created_at">Created At</th>
                  <th st-sort="updated_at">Updated At</th>
                  <th>Approval Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in orders | orderBy: '-updated_at'">
                  <td>{{ order.id }}</td>
                  <td ng-if="order.status === 'o'">Open</td>
                  <td ng-if="order.status === 'd'">Draft</td>
                  <td ng-if="order.status === 'x'">Deleted</td>
                  <td ng-if="order.status === 'p'">Pending</td>
                  <td ng-if="order.status === 'f'">Finalized</td>
                  <td ng-if="order.status === 'c'">Combined</td>
                  <td>{{ order.created_at | date:'d/M/yy' }}</td>
                  <td>{{ order.updated_at | date:'d/M/yy' }}</td>
                  <td>
                    <div ng-repeat="app in order.approvals.slice().reverse()">
                      {{ app.name | firstWord }} [{{ app.status }}]
                    </div>
                  </td>
                  <td>
                    <a ui-sref="order.view({ id: order.id })"><i class="glyphicon glyphicon-eye-open"></i></a>
                    <a ng-click="remove(order)"><i class="glyphicon glyphicon-trash"></i></a>
                  </td>
                </tr>
                <tr ng-if="orders.length == 0">
                  <td colspan="6" class="text-center">No data available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
