<div class="container" ng-controller="AuthController">
  <div class="login-box">
    <div class="login-logo">
    <img src="./images/berau.jpg" style="width:40px; margin-right: 10px;" ng-if="deployment === 'berau'">
    <img src="./images/sinarmas.png" style="width:40px; margin-right: 10px;" ng-if="deployment === 'bib'">
    <b ng-if="deployment === 'bib'"> Coaltrade</b>
    <b ng-if="deployment === 'berau'"> BC Price Approval</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <div class="callout callout-danger" ng-if="err">
        {{ err.message }}
      </div>

      <form ng-submit="login()" role="form">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" required ng-model="auth.email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" required ng-model="auth.password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <a style="margin-left: 15px;" href="/auth/forgot" class="text-center">Forgot your password?</a>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-4 col-xs-offset-8 hidden-xs">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>

           <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- /.<a href="#">I forgot my password</a><br>-->
      <a href="/auth/signup" class="text-center">Sign Up</a>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</div>
