<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title" style="font-size: 25px">Post-Shipment </h1>
        <div class="box-tools pull-right">
         <a ui-sref="operation.index" class="col-md-12 btn btn-primary">Back</a>
        </div>
    </div>

    <div class="box-body">
  
    <table st-table="displayedCollection" st-safe-src="" class="table table-striped">
          <thead>
            <tr>
              <th st-sort="todo">To Do</th>
              <th st-sort="status">Status</th>
              <th st-sort="date">Date</th>
              <th st-sort="pic">PIC</th>
              <th st-sort="pic">Remarks</th>
            </tr>

          </thead>
          <tbody>
            <tr>
              <td>LOA</td>
              <td><input id="status" type="checkbox" aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Documentation</td>
              <td><input id="status" type="checkbox" aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Invoice</td>
              <td><input id="status" type="checkbox" aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Payment status (buy/sell)</td>
              <td><input id="status" type="checkbox" aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <!--<tr ng-if="displayedCollection.length == 0">
              <td colspan="6" class="text-center">No data available</td>
            </tr>-->

          </tbody>

          <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
     
    </div>
    <div class="box-footer">
      
    </div><!-- /.box-footer-->
  </div><!--/.direct-chat -->
</section>