<section class="content" ng-controller="OperationController">
  <div class="box box-primary">
    <div class="box-header with-border">
        <h1 class="box-title" style="font-size: 25px">Pre-Shipment </h1>
        <div class="box-tools pull-right">
         <a ui-sref="operation.index" class="col-md-12 btn btn-primary">Back</a>
        </div>
    </div>

    <div class="box-body">
  
    <table st-table="displayedCollection" st-safe-src="" class="table table-striped">
          <thead>
            <tr>
              <th st-sort="todo">To Do</th>
              <th st-sort="status">Status</th>
              <th st-sort="date">Date</th>
              <th st-sort="pic">PIC</th>
              <th st-sort="pic">Remarks</th>
            </tr>

          </thead>
          <tbody>
            <tr>
              <td><a href='#' ng-click="ContractCollapsed = !ContractCollapsed">Contract</a></br>
              <span uib-collapse="!ContractCollapsed">Buying <input id="buying" type="checkbox" aria-label="Slave input" ng-model="buying.value1"></span>
              <span uib-collapse="!ContractCollapsed">Selling <input id="selling" type="checkbox" ng-model="selling.value2" aria-label="Slave input"></span>
              </td>
              <td><input id="buysell" type="checkbox" ng-checked="buying.value1==true && selling.value2==true "  aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href='#' ng-click="isCollapsed = !isCollapsed">LC</a></br>
              <span uib-collapse="!isCollapsed">To Supplier <input id="supplier" ng-model="supplier.value3" type="checkbox" aria-label="Slave input"></span>
              <span uib-collapse="!isCollapsed">To Costumer <input id="costumer" type="checkbox" ng-model="costumer.value4" aria-label="Slave input"></span>
              </td>
              <td><input id="suppliercostumer" type="checkbox" ng-checked="supplier.value3==true && costumer.value4==true " aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>SAP</td>
              <td><input id="sap" type="checkbox" aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>SI</td>
              <td><input id="si" type="checkbox" aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td>Sales MOM</td>
              <td><input id="salsesmom" type="checkbox" aria-label="Slave input"></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <!--<tr ng-if="displayedCollection.length == 0">
              <td colspan="6" class="text-center">No data available</td>
            </tr>-->

          </tbody>

          <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
              </td>
            </tr>
          </tfoot>
        </table>
     
    </div>
    <div class="box-footer">
      
    </div><!-- /.box-footer-->
  </div><!--/.direct-chat -->
</section>