<section ng-controller="ProductController" ng-init="initializeOpnameForm()">
  <h1>Stock opname for : {{ product.commercial_term }}</h1>

  Current recorded volume = {{ product.volume }} tones

  <form role="form" ng-submit="opname()">
    <div class="form-group">
		  <label for="volume">Volume Correction :</label>
		  <input type="text" class="form-control" id="volume" ng-model="correction.volume">
		</div>

		<div class="well">
			A record with label "opname" will be created with value :
			<h2>{{ correction.volume - product.volume | number }} tonnes</h2>
		</div>

		<div class="form-group pull-right">
		  <button class="btn btn-success" type="submit">Verify</button>
		  <a class="btn btn-default" ui-sref="product.index">Cancel</a>
		</div>
  </form>
</section>

