<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <h4 class="modal-title">Product Profile</h4>
</div>
<div class="modal-body">
  <div class="row with-divider">
    <div class="col-lg-4">
      <h2>{{ product.commercial_term }}</h2>
      <p>{{ product.mine.mine_name }}</p>
      <p>{{ product.mine.seller.company_name }}</p>
    </div>

    <div class="col-lg-2">
      <h3>{{ product.volume | number }}</h3>
      <p>tones</p>
    </div>

    <div class="col-lg-2">
      <h3>{{ product.production[0].created_at | convertToDate | date : 'd MMMM yy' }}</h3>
      <p>Last Production</p>
    </div>
    
    <div class="col-lg-4 btn-group-vertical" style="padding-top:20px;">
      <button class="btn btn-primary"  ng-click="close()" ui-sref="product.add({ id: product.id })">
        <i class="glyphicon glyphicon-plus"></i> Add Production
      </button>

      <button class="btn btn-default"  ng-click="close()" ui-sref="product.opname({ id: product.id })">
        <i class="glyphicon glyphicon-refresh"></i> Stock Opname
      </button>
      <button class="btn btn-default"  ng-click="close()" ui-sref="product.update({ id: product.id })">
        <i class="glyphicon glyphicon-pencil"></i> Edit Product
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h4>Quality Matrix</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          GCV arb :
          <span class="pull-right">{{ product.gcv_arb_min }} ~ {{ product.gcv_arb_max }} kcal</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          GCV adb :
          <span class="pull-right">{{ product.gcv_adb_min }} ~ {{ product.gcv_adb_max }} kcal</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          NCV :
          <span class="pull-right">{{ product.ncv_min }} - {{ product.ncv_max }} kcal</span>
        </li>
        <li class="list-group-item list-group-item-warning">
          Ash :
          <span class="pull-right">{{ product.ash_min }} - {{ product.ash_max }} %</span>
        </li>
        <li class="list-group-item list-group-item-warning">
          TS :
          <span class="pull-right">{{ product.ts_min }} - {{ product.ts_max }} %</span>
        </li>
        <li class="list-group-item list-group-item-info">
           TM :
          <span class="pull-right">{{ product.tm_min | number }} ~ {{ product.tm_max | number }} %</span>
        </li>
        <li class="list-group-item list-group-item-info">
           IM :
          <span class="pull-right">{{ product.im_min | number }} ~ {{ product.im_max | number }} %</span>
        </li>
        <li class="list-group-item list-group-item-success">
           FC :
          <span class="pull-right">{{ product.fc_min | number }} ~ {{ product.fc_max | number }} %</span>
        </li>
        <li class="list-group-item list-group-item-success">
           VM :
          <span class="pull-right">{{ product.vm_min | number }} ~ {{ product.vm_max | number }} %</span>
        </li>
        <li class="list-group-item list-group-item-success">
          HGI :
          <span class="pull-right">{{ product.hgi_min }} - {{ product.hgi_max }}</span>
        </li>
        <li class="list-group-item list-group-item-success">
          Size :
          <span class="pull-right">{{ product.size_min }} - {{ product.size_max }} mm</span>
        </li>
      </ul>
    </div>
    
    <div class="col-lg-8">
      <h4>Previous Production</h4>
      <table class="table table-bproducted">
        <thead>
          <tr>
            <th>Date</th>
            <th>Volume</th>
            <th>Desc</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="production in product.production">
            <td>{{ production.created_at | date }}</td>
            <td>{{ production.volume | number }} tonnes</td>
            <td>{{ production.description }}</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
</div>