<div ng-controller="ProductController">
  <div class="pull-right">
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-save-file"></i> Export CSV</a>
    <a href="#" class="alert alert-primary"><i class="glyphicon glyphicon-print"></i> Print Report</a>
  </div>
  <table datatable="ng" dt-options="options" class="row-border hover" ng-init="find()">
    <thead>
      <tr>
        <th>Seller</th>
        <th>Mine Pit</th>
        <th>Commercial Term</th>
        <th>Volume(tonnes)</th>
        <th><span uib-tooltip="Gross Calorific Value, as received basis">GCV arb(%)</span></th>
        <th><span uib-tooltip="Gross Calorific Value, air dried basis">GCV adb(%)</span></th>
        <th><span uib-tooltip="Nett Caloric Value">NCV(%)</span></th>
        <th>Latest Production</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <td>{{ product.company_name }}</td>
        <td>{{ product.mine_name }}</td>
        <td>{{ product.commercial_term }}</td>
        <td>{{ product.volume | number }}</td>
        <td>{{ product.gcv_arb_min | number }}~{{ product.gcv_arb_max | number }}</td>
        <td>{{ product.gcv_adb_min | number }}~{{ product.gcv_adb_max | number }}</td>
        <td>{{ product.ncv_min | number }}~{{ product.ncv_max | number }}</td>
        <td>{{ product.latest_production | convertToDate | date : 'd MMMM yy' }}</td>
        <td width="70px">
          <a ng-click="openModal(product.id)" style="cursor: pointer;"><i class="glyphicon glyphicon-eye-open"></i></a>
          <a ui-sref="product.add({ id: product.id })"><i class="glyphicon glyphicon-plus"></i></a>
          <a ui-sref="product.opname({ id: product.id })"><i class="glyphicon glyphicon-refresh"></i></a>
          <a ui-sref="product.update({ id: product.id })"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>