<table class="table table-striped table-bordered">
	<thead>
		<tr><th>Name</th><th>Status</th><th>Updated</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="approval in order.approvals">
			<td>
				<div class="img-circle div-img-circle small" style="background-image:url({{approval.image}}); float:left; margin:2px;"></div>
				{{ approval.name }}
			</td>
			<td>
				{{ approval.pivot.status === 'a' ? 'Accepted' : approval.pivot.status === 'r' ? 'Rejected' : 'Pending' }}
			</td>
			<td>{{ approval.pivot.updated_at | date }}</td>
		</tr>
	</tbody>
</table>
