<table class="table table-striped table-bordered">
	<thead>
		<tr><th>Name</th><th>Status</th><th>Updated</th></tr>
	</thead>
	<tbody>
    <style>
      .img-user img {
        object-fit: cover;
        height: 30px;
      }
      .img-user img[class] { width: 30px }
    </style>
		<tr ng-repeat="approval in order.approvals" ng-if="!(approval.pivot.status === 'y' || approval.pivot.status === 'n')">
			<td>
        <div class="img-user">
          <img ng-src="{{approval.image}}" ng-fallback-src="./images/default.png"
          	class="img-circle div-img-circle small" style="float:left; margin:2px;" />
          {{ approval.name }}
        </div>
			</td>
			<td>
				{{  approval.pivot.status === 'a' ? 'Accepted' :
					approval.pivot.status === 'r' ? 'Rejected' : 
					approval.pivot.status === 'y' ? 'Auto-Acc' : 
					approval.pivot.status === 'n' ? 'Auto-Rjct' : 'Pending' }}
			</td>
			<td>{{ approval.pivot.updated_at | date }}</td>
		</tr>
	</tbody>
</table>