<div class="row">
  <div class="col-sm-12">
    <label><i class="fa fa-hashtag"></i> Number of Shipment
    </label>
    <input type="number" ng-model="order.contracts.num_ship" class="form-control" placeholder="Number of Shipment" required>
  </div>
  <br>
  <div class="col-sm-6">
    <label><i class="fa fa-hashtag"></i> Date From
    </label>
    <input type="date" ng-model="order.contracts.date_from" class="form-control" required>
  </div>
  <div class="col-sm-6">
    <label><i class="fa fa-hashtag"></i> Date To
    </label>
    <input type="date" ng-model="order.contracts.date_to" class="form-control" required>
  </div>
</div>
