<div class="row">
  <div class="col-sm-12">
    <label><i class="fa fa-hashtag"></i>Contract ID</label>
    <input type="text" ng-model="order.contracts.contract_no" class="form-control" placeholder="Enter the Contract ID..." required>
  </div>
  <div class="col-sm-12">
    <label><i class="fa fa-hashtag"></i>Term</label>
    <select class="form-control" ng-model="order.contracts.term" required>
      <option value="">-- Select Contract Term --</option>
      <option value="term">Term</option>
      <option value="spot">Spot</option>
    </select>
  </div>
  <div class="col-sm-12">
    <label><i class="fa fa-hashtag"></i> Term Description</label>
    <input type="text" ng-model="order.contracts.term_desc" class="form-control" placeholder="Enter the Term Description..." required>
  </div>
</div>
