<div class="row">
  <div class="col-sm-12">
    <label><i class="fa fa-hashtag"></i> Number of Shipment
    </label>
    <input type="number" ng-model="order.contracts.shipment_count" class="form-control" placeholder="Number of Shipment" required>
  </div>
  <br>
  <div class="col-sm-6">
    <label><i class="fa fa-hashtag"></i> Date From
    </label>
    <input type="date" ng-model="order.sells[0].laycan_start" class="form-control" required>
  </div>
  <div class="col-sm-6">
    <label><i class="fa fa-hashtag"></i> Date To
    </label>
    <input type="date" ng-model="order.sells[0].laycan_end" class="form-control" required>
  </div>
</div>
