<form ng-submit="ok()">
  <div class="modal-header" ng-switch="lead.type">
    <h3 class="modal-title" id="modal-title" ng-switch-when="buy">Negotiate Buy Price</h3>
    <h3 class="modal-title" id="modal-title" ng-switch-default>Negotiate Sell Price</h3>
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">x</button>
  </div>

  <div class="modal-body" ng-focus="find()" id="modal-body">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered table-striped">
              <tr>
                <td width="15%"><label>{{ lead.type === buy ? 'Customer' : 'Supplier' }}</label></td>
                <td width="85%" colspan=3>{{ lead.item.company.company_name }}</td>
              </tr>
              <tr>
                <td width="15%"><label>Volume</label></td>
                <td width="35%">{{ lead.item.pivot.volume }} mt</td>
                <td></td>
              </tr>
              <tr>
                <td width="15%"><label>Deal Price</label></td>
                <td width="35%">{{lead.item.pivot.deal_currency_id}}. {{ lead.item.pivot.deal_price }}</td>

                <td width="15%"><label>Base Price</label></td>
                <td width="35%">{{lead.item.pivot.base_currency_id}}. {{ lead.item.pivot.base_price }}</td>
              </tr>
              <tr>
                <td><label>Trading Term</label></td>
                <td>{{ lead.item.pivot.trading_term }}</td>

                <td><label>Payment Term</label></td>
                <td>{{ lead.item.pivot.payment_term }}</td>
              </tr>
            </table>
          </div>
        </div>

    	  <div class="row">
          <div class="col-sm-6 form-group">
            <label>Volume (MT)</label>
            <input type="number" ng-model="negotiation.volume" step="any" class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 form-group">
            <label>Deal Currency</label>
            <select class="form-control" ng-model="negotiation.deal_currency_id"
              ng-options="o as o for o in currencies" required>
              <option>Deal Currency</option>
            </select>
          </div>
          <div class="col-sm-6 form-group">
            <label>Deal Price</label>
            <input type="number" ng-model="negotiation.deal_price" step="any" class="form-control" placeholder="Deal Price ({{negotiation.deal_currency_id}})" ng-change="negotiation.base_price = negotiation.deal_price * negotiation.exchange_rate" required>
          </div>
          <div class="col-sm-4 form-group" ng-init="negotiation.exchange_rate = 1">
            <label>Exchange Rate</label>
            <input type="number" ng-model="negotiation.exchange_rate" class="form-control"
              ng-change="negotiation.base_price = negotiation.deal_price * negotiation.exchange_rate"
              placeholder="Exch. Rate" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 form-group">
            <label>Base Currency</label>
            <input ng-model="negotiation.base_currency_id" type="text" class="form-control" readonly>
          </div>
          <div class="col-sm-6 form-group">
            <label>Base Price</label>
            <input ng-model="negotiation.base_price" readonly class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group">
            <select class="form-control" ng-model="negotiation.trading_term"
              ng-options="o as o for o in tradingTerm" required>
              <option value="">-- Select Trading Term --</option>
            </select>
          </div>
          <div class="col-sm-6 form-group">
            <select class="form-control" ng-model="negotiation.payment_term"
              ng-options="o as o for o in paymentTerm" required>
              <option value="">-- Select Payment Term --</option>
            </select>
          </div>
        </div>
        <div class="row">
    	    <div class="col-sm-12 form-group">
    	      <textarea ng-model="negotiation.notes" class="form-control" placeholder="Notes" required></textarea>
    	    </div>
    	  </div>
      </div>
      <div class="col-sm-4" style="max-height:500px;">
        <div ng-repeat="negotiation in lead.item.pivot.negotiations">
          <div class="row col-lg-12">
            <small class="pull-left">[{{ negotiation.volume }}mt - USD {{ negotiation.price }}]</small>
            <small class="text-muted pull-right">{{ negotiation.created_at | date:'mediumDate' }}</small>
          </div>
          <div class="row col-lg-12">{{ negotiation.notes }}</div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left" type="button" ng-click="cancel()">Cancel</button>

    <button class="btn btn-primary pull-left" type="submit">Update Price</button>
  </div>
</form>
