<section ng-controller="OrderDetailController" ng-init="init()">
<!--For Mobile-->
<div ng-if="!order.user_id || order.user_id === Authentication.user.id">
  <button ng-show="order.status !== 'x' && order.status !== 'a' && order.status !== 'f' && order.status !== 'p'" class="btn btn-block btn-default hidden-md hidden-lg" ng-click="addBuy()"  ng-if="showBuy" ng-disabled=" order.sells.length > 1 && order.buys.length===1"> + Add Buy </button>
  
  <button ng-show="order.status === 'd' && !order.in_house" ng-if="!showBuy"
    class="btn btn-block btn-default hidden-md hidden-lg" ng-click="inHouse(true)">
    + Add House Product
  </button>
  <button ng-show="order.status === 'd' && order.in_house" ng-if="!showBuy"
    class="btn btn-block btn-default hidden-md hidden-lg" ng-click="inHouse(false)">
    Buy Product From Suppliers
  </button>
  
  <button ng-show="order.status !== 'x' && order.status !== 'f' && order.status !== 'a' && order.status !== 'p'" class="btn btn-block btn-default hidden-md hidden-lg" ng-click="addSell()" ng-disabled="order.buys.length > 1 && order.sells.length===1"> + Add Sell </button>
</div>
<!--For Mobile-->
<div class="table-responsive">
	<table st-table="" class="table table-bordered table-striped">
		<thead>
      <tr ng-if="!order.user_id || order.user_id === Authentication.user.id"  class="no-print">
        <td>
          <button ng-show="order.status !== 'x' && order.status !== 'a' && order.status !== 'f' && order.status !== 'p'"
            class="btn btn-primary" ng-click="addCostModal()" flex>
            + Add Additional Cost
          </button>
        </td>
        <td ng-if="!order.in_house">
          <button ng-show="order.status !== 'x' && order.status !== 'a' && order.status !== 'f' && order.status !== 'p'"
            class="btn btn-default hidden-xs hidden-sm" ng-click="addBuy()"  ng-if="showBuy"
            ng-disabled=" order.buys.length > 1 && order.sells.length===1">
            + Add Buy
          </button>

          <button ng-show="order.status === 'd' && !order.in_house"  ng-if="!showBuy"
            class="btn btn-default pull-right hidden-xs hidden-sm" ng-click="inHouse(true)"
          	ng-disabled="order.buys.length !== 0 || order.sells.length === 0 ">
            + Add House Product
          </button>
        </td>
        <td>
          <button ng-show="order.status !== 'x' && order.status !== 'f' && order.status !== 'a' && order.status !== 'p'"
            class="btn btn-default hidden-xs hidden-sm" ng-click="addSell()"
            ng-disabled="order.sells.length > 1 && order.buys.length===1">
            <span ng-if="showBuy">+ Add Sell</span>
            <span ng-if="!showBuy">+ Add Leads</span>
          </button>

          <button ng-show="order.status === 'p' && order.in_house"  ng-if="!showBuy"
            class="btn btn-default pull-right hidden-xs hidden-sm" ng-click="inHouse(false)">
            Buy Product From Suppliers
          </button>
        </td>
      </tr>
			<tr>
				<th width="{{ order.in_house ? '40%' : '20%' }}"></th>
    		<th ng-if="!order.in_house"  width=40% ng-if="!order.in_house">
					<span style="font-size:20pt">Buy</span>
          <span uib-dropdown ng-init="checkAlike(display.buy)" ng-if="alikeBuys.length > 0">
            <a class="glyphicon glyphicon-exclamation-sign" style="color:orange;" uib-dropdown-toggle
              uib-tooltip="Another leads are identical to this">    
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li ng-repeat="buy in alikeBuys">
                <a href>{{ buy.trader.name }}</a>
              </li>
            </ul>
          </span>

          <span ng-if="order.buys.length" uib-dropdown class="pull-right" ng-init="display.buy = order.buys[0]; display.buy.index = 0">
            <button type="button" ng-show="order.status !== 'x' && order.status !== 'f'" class="btn btn-default" uib-dropdown-toggle>
              {{ display.buy.company.company_name }} ({{ order.buys.length }})<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat="buy in order.buys"><a ng-click="display.buy = buy; display.buy.index = $index;checkAlike(display.buy);">
              {{ buy.company.company_name }} : {{ buy.pivot.volume | number }}mt, US${{ buy.pivot.price | number }}
              </a></li>
            </ul>
          </span>
				</th>
				<th width="{{ order.in_house ? '60%' : '40%' }}">
					<span style="font-size:20pt">{{ order.in_house ? 'Order Details' : 'Sell' }}</span>

          <span uib-dropdown ng-init="checkAlike(display.sell)" ng-if="alikeSells.length > 0">
            <a class="glyphicon glyphicon-exclamation-sign" style="color:orange;" uib-dropdown-toggle
              uib-tooltip="Another leads are identical to this">    
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li ng-repeat="sell in alikesells">
                <a href>{{ sell.trader.name }}</a>
              </li>
            </ul>
          </span>

          <span ng-if="order.sells.length" uib-dropdown class="pull-right" ng-init="display.sell = order.sells[0]; display.sell.index = 0">
            <button type="button" ng-show="order.status !== 'x' && order.status !== 'f'" class="btn btn-default" uib-dropdown-toggle>
              {{display.sell.company.company_name}} ({{ order.sells.length }}) <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat="sell in order.sells">
              <a ng-click="display.sell = sell; display.sell.index = $index;checkAlike(display.sell);">
              {{ sell.company.company_name }} : {{ sell.pivot.volume | number }}mt, US${{ sell.pivot.price | number }}
              </a></li>
            </ul>
          </span>
				</th>
			</tr>
		</thead>
		<tbody>
      <tr>
				<th colspan=3 style="text-align:center; background: #efefef;">
          <a ng-href="" ng-click="isCollapsed = !isCollapsed">
            Order Details
            <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="isCollapsed"></span> 
            <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="!isCollapsed"></span> 
          </a>
        </th>
			</tr>
    </tbody>
    <tbody id="detail-section" uib-collapse="isCollapsed">
			<tr>
				<td>Company</td>

        <td ng-switch="display.buy && (display.buy.user_id === Authentication.user.id || checkSubordinates(display.buy.user_id)) || !display.buy" ng-if="!order.in_house">
          <span ng-switch-when="true">
            {{ display.buy.company.company_name }}
          </span>
          <i style="color:green" ng-switch-default>
            -Contact {{ display.buy.trader.name }} ({{ display.buy.trader.phone }})
          </i>
          <span class="pull-right">
            <a ng-if="!order.id || order.status === 'd'" ng-click="removeLead(display.buy)" class="glyphicon glyphicon-trash"></a>
          </span>
        </td>

				<td ng-switch="display.sell && (display.sell.user_id === Authentication.user.id || checkSubordinates(display.sell.user_id)) || !display.sell">
					<span ng-switch-when="true">
						{{ display.sell.company.company_name }}
					</span>
					<i style="color:green" ng-switch-default>
						-Contact {{ display.sell.trader.name }} ({{ display.sell.trader.phone }})
					</i>
          <span class="pull-right">
            <a ng-if="!order.id || order.status === 'd'" ng-click="removeLead(display.sell)" class="glyphicon glyphicon-trash"></a>
          </span>
				</td>
			</tr>
			<tr>
				<td>Volume (mt) - Price (USD)</td>
				<td ng-if="!order.in_house">
          <span ng-if="display.buy">
            {{ display.buy.pivot.volume | number }}mt - US$ {{ display.buy.pivot.price | number }}
            <a ng-if="order.id && order.status !== 'a' && order.status !== 'x'" ng-if="display.buy.user_id === Authentication.user.id && order.id" 
              ng-click="negoBuy()" class="pull-right">
              Nego
            </a>
          </span>
				</td>
				<td>
          <span ng-if="display.sell">
            {{ display.sell.pivot.volume | number }}mt - US$ {{ display.sell.pivot.price | number }}
            <a ng-if="order.id && order.status !== 'a' && order.status !== 'x'" ng-if="display.sell.user_id === Authentication.user.id && order.id" 
              ng-click="negoSell()" class="pull-right">
              Nego
            </a>
          </span>
				</td>
			</tr>
			<tr>
				<td>Input Date</td>
        <td ng-if="!order.in_house">{{ display.buy.order_date | date:'mediumDate' }}</td>
  			<td>{{ display.sell.order_date | date:'mediumDate' }}</td>
			</tr>
			<tr>
				<td>LayCan</td>
        <td ng-if="!order.in_house">
          {{ display.buy.laycan_start | date:'mediumDate' }} - {{ display.buy.laycan_end | date:'mediumDate' }}
        </td>
				<td>{{ display.sell.laycan_start | date:'mediumDate' }} - {{ display.sell.laycan_end | date:'mediumDate' }}</td>
			</tr>
      <tr>
				<td>Shipping Term</td>
				<td ng-if="!order.in_house">{{ display.buy.pivot.trading_term }}</td>
        <td>{{ display.sell.pivot.trading_term }}</td>
			</tr>
      <tr>
				<td>Payment Term</td>
				<td ng-if="!order.in_house">{{ display.buy.pivot.payment_term }}</td>
        <td>{{ display.sell.pivot.payment_term }}</td>
			</tr>
			<tr>
				<td>Location</td>
				<td ng-switch="display.buy.user_id === Authentication.user.id || checkSubordinates(display.buy.user_id) || !display.buy"
          ng-if="!order.in_house">
					<span ng-switch-when="true">{{ display.buy.concession.city }}</span>
					<i ng-switch-default style="color:green">-Contact {{ display.buy.trader.name }}-</i>
				</td>
        <td ng-switch="display.sell.user_id === Authentication.user.id || checkSubordinates(display.sell.user_id) || !display.sell">
          <span ng-switch-when="true">{{ display.sell.factory.city }}</span>
          <i ng-switch-default style="color:green">-Contact {{ display.sell.trader.name }}-</i>
        </td>
			</tr>
			<tr>
				<td>Port</td>
        <td ng-switch="display.buy.user_id === Authentication.user.id || checkSubordinates(display.buy.user_id) || !display.buy"
          ng-if="!order.in_house">
          <span ng-switch-when="true">{{ display.buy.port_name }}</span>
          <i ng-switch-default style="color:green">-Contact {{ display.buy.trader.name }}-</i>
        </td>
				<td ng-switch="display.sell.user_id === Authentication.user.id || checkSubordinates(display.sell.user_id) || !display.sell">
					<span ng-switch-when="true">{{ display.sell.port_name }}</span>
					<i ng-switch-default style="color:green">-Contact {{ display.sell.trader.name }}-</i>
				</td>
			</tr>
    </tbody>
    <tbody>
      <tr>
				<th colspan=3 style="text-align:center; background: #efefef;">
          <a ng-href="" ng-click="qualityCollapsed = !qualityCollapsed">
            Quality
            <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="!qualityCollapsed"></span> 
            <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="qualityCollapsed"></span> 
          </a>
        </th>
			</tr>
    </tbody>
    <tbody id="quality-section" uib-collapse="!qualityCollapsed">
      <tr order-quality inhouse="order.in_house" quality="'GCV ADB'"
      buymin="display.buy.gcv_adb_min" buymax="display.buy.gcv_adb_max"
      buybonus="display.buy.gcv_adb_bonus" buyreject="display.buy.gcv_adb_reject"
      sellmin="display.sell.gcv_adb_min" sellmax="display.sell.gcv_adb_max"
      sellbonus="display.sell.gcv_adb_bonus" sellreject="display.sell.gcv_adb_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'GCV ARB'"
      buymin="display.buy.gcv_arb_min" buymax="display.buy.gcv_arb_max"
      buybonus="display.buy.gcv_arb_bonus" buyreject="display.buy.gcv_arb_reject"
      sellmin="display.sell.gcv_arb_min" sellmax="display.sell.gcv_arb_max"
      sellbonus="display.sell.gcv_arb_bonus" sellreject="display.sell.gcv_arb_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'NCV ARB'"
      buymin="display.buy.ncv_min" buymax="display.buy.ncv_max"
      buybonus="display.buy.ncv_bonus" buyreject="display.buy.ncv_reject"
      sellmin="display.sell.ncv_min" sellmax="display.sell.ncv_max"
      sellbonus="display.sell.ncv_bonus" sellreject="display.sell.ncv_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'Total Moisture (ARB)'"
      buymin="display.buy.tm_min" buymax="display.buy.tm_max"
      buybonus="display.buy.tm_bonus" buyreject="display.buy.tm_reject"
      sellmin="display.sell.tm_min" sellmax="display.sell.tm_max"
      sellbonus="display.sell.tm_bonus" sellreject="display.sell.tm_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'Inherent Moisture (ADB)'"
      buymin="display.buy.im_min" buymax="display.buy.im_max"
      buybonus="display.buy.im_bonus" buyreject="display.buy.im_reject"
      sellmin="display.sell.im_min" sellmax="display.sell.im_max"
      sellbonus="display.sell.im_bonus" sellreject="display.sell.im_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'Volatile Matter (ADB)'"
      buymin="display.buy.vm_min" buymax="display.buy.vm_max"
      buybonus="display.buy.vm_bonus" buyreject="display.buy.vm_reject"
      sellmin="display.sell.vm_min" sellmax="display.sell.vm_max"
      sellbonus="display.sell.vm_bonus" sellreject="display.sell.vm_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'Ash (ADB)'"
      buymin="display.buy.ash_min" buymax="display.buy.ash_max"
      buybonus="display.buy.ash_bonus" buyreject="display.buy.ash_reject"
      sellmin="display.sell.ash_min" sellmax="display.sell.ash_max"
      sellbonus="display.sell.ash_bonus" sellreject="display.sell.ash_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'Fixed Carbon (ADB)'"
      buymin="display.buy.fc_min" buymax="display.buy.fc_max"
      buybonus="display.buy.fc_bonus" buyreject="display.buy.fc_reject"
      sellmin="display.sell.fc_min" sellmax="display.sell.fc_max"
      sellbonus="display.sell.fc_bonus" sellreject="display.sell.fc_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'Total Sulphur (ADB)'"
      buymin="display.buy.ts_min" buymax="display.buy.ts_max"
      buybonus="display.buy.ts_bonus" buyreject="display.buy.ts_reject"
      sellmin="display.sell.ts_min" sellmax="display.sell.ts_max"
      sellbonus="display.sell.ts_bonus" sellreject="display.sell.ts_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'HGI'"
      buymin="display.buy.hgi_min" buymax="display.buy.hgi_max"
      buybonus="display.buy.hgi_bonus" buyreject="display.buy.hgi_reject"
      sellmin="display.sell.hgi_min" sellmax="display.sell.hgi_max"
      sellbonus="display.sell.hgi_bonus" sellreject="display.sell.hgi_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'SIZE (0-50mm)'"
      buymin="display.buy.size_min" buymax="display.buy.size_max"
      buybonus="display.buy.size_bonus" buyreject="display.buy.size_reject"
      sellmin="display.sell.size_min" sellmax="display.sell.size_max"
      sellbonus="display.sell.size_bonus" sellreject="display.sell.size_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'Fe2O3'"
      buymin="display.buy.fe2o3_min" buymax="display.buy.fe2o3_max"
      buybonus="display.buy.fe2o3_bonus" buyreject="display.buy.fe2o3_reject"
      sellmin="display.sell.fe2o3_min" sellmax="display.sell.fe2o3_max"
      sellbonus="display.sell.fe2o3_bonus" sellreject="display.sell.fe2o3_reject"
      >
      </tr>
      <tr order-quality inhouse="order.in_house" quality="'AFT'"
      buymin="display.buy.aft_min" buymax="display.buy.aft_max"
      buybonus="display.buy.aft_bonus" buyreject="display.buy.aft_reject"
      sellmin="display.sell.aft_min" sellmax="display.sell.aft_max"
      sellbonus="display.sell.aft_bonus" sellreject="display.sell.aft_reject"
      >
      </tr>
    </tbody>
    <tbody>
      <tr>
				<th colspan="3" style="text-align:center; background: #efefef;">
          <a ng-href="" ng-click="financialCollapsed = !financialCollapsed">
            Financial Summary
            <span class="glyphicon glyphicon-triangle-bottom pull-right" ng-if="!financialCollapsed"></span> 
            <span class="glyphicon glyphicon-triangle-top pull-right" ng-if="financialCollapsed"></span> 
          </a>
        </th>
			</tr>
    </tbody>
    <tbody id="financial-section" uib-collapse="!financialCollapsed">
      <tr>
				<th>Total Price / mt</th>
        <td ng-if="!order.in_house">
					<span ng-if="display.buy">
					<h4>US${{ display.buy.pivot.price | number }}</h4>
					from {{ order.buys.length }} Customers
					</span>
				</td>
        <td>
          <span ng-if="display.sell">
          <h4>US${{ display.sell.pivot.price | number }}</h4>
          from {{ order.sells.length }} Suppliers
          </span>
        </td>
			</tr>
      <tr ng-repeat="additional in order.additional" ng-show="order.additional && !order.companies">
				<th>{{additional.label}} / mt</th>
        <td>
          <span ng-show="order.additional && !order.companies">
          <h4>{{additional.company.company_name}}</h4>
          </span>
				</td>
        <td>
          <span ng-show="order.additional && !order.companies">
          <h4>US${{additional.cost | number}}</h4>
          </span>
        </td>
			</tr>
      <tr ng-repeat="additional in order.companies" ng-show="!order.additional && order.companies">
        <th>{{additional.pivot.label}} / mt</th>
        <td colspan="{{ order.in_house ? '1' : '2' }}">
          <span ng-show="!order.additional && order.companies">
            US${{additional.pivot.cost | number}} ( {{additional.company_name}} )
          </span>
        </td>
      </tr>
      <tr>
				<th>Coal Price</th>
        <td ng-if="!order.in_house">
					<span ng-if="display.buy">
					<h3>US${{ (totalSelfSell + totalSelfAdditionalBuy) / totalVolumeSell | number }}</h3>
					from {{ order.buys.length }} Customers
					</span>
				</td>
        <td>
          <span ng-if="display.sell">
          <h3>US${{ (totalSelfBuy + totalSelfAdditionalSell) / totalVolumeBuy | number }}</h3>
          from {{ order.sells.length }} Suppliers
          </span>
        </td>
			</tr>
			<tr ng-if="display.buy && display.sell">
				<td ng-if="(((totalSelfSell + totalSelfAdditionalBuy) / totalVolumeSell) - ((totalSelfBuy + totalSelfAdditionalSell) / totalVolumeBuy)) >= 0" colspan=3 style="text-align:center; "><h3 style="color: green">Expected Margin / mt: US${{ ((totalSelfSell + totalSelfAdditionalBuy) / totalVolumeSell) - 
        ((totalSelfBuy + totalSelfAdditionalSell) / totalVolumeBuy) | number }}</h3></td>
				<td ng-if="(((totalSelfSell + totalSelfAdditionalBuy) / totalVolumeSell) - ((totalSelfBuy + totalSelfAdditionalSell) / totalVolumeBuy)) < 0" colspan=3 style="text-align:center; "><h3 style="color: red">Expected Margin / mt: US${{ ((totalSelfBuy + totalSelfAdditionalSell) / totalVolumeBuy) - ((totalSelfSell + totalSelfAdditionalBuy) / totalVolumeSell) | number }}</h3></td>
			</tr>
		</tbody>
	</table>
	</div>
</section>