<div class="row">
  <div class="col-sm-3" style="padding-right:10px">
    <div class="info-box" ng-class="step === 1 ? 'bg-aqua' : 'bg-default'">
      <span class="info-box-icon">
        <i>1</i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Reason to Finalize</span>
      </div>
    </div>
  </div>

  <div class="col-sm-3" style="padding-right:10px">
    <div class="info-box" ng-class="step === 2 ? 'bg-aqua' : 'bg-default'">
      <span class="info-box-icon">
        <i>2</i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Contract Planning</span>
      </div>
    </div>
  </div>

  <div class="col-sm-3" style="padding-right:10px">
    <div class="info-box" ng-class="step === 3 ? 'bg-aqua' : 'bg-default'">
      <span class="info-box-icon">
        <i>3</i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Shipment Planning</span>
      </div>
    </div>
  </div>

  <div class="col-sm-3" style="padding-right:10px">
    <div class="info-box" ng-class="step === 4 ? 'bg-aqua' : 'bg-default'">
      <span class="info-box-icon">
        <i class="fa fa-check"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Confirmation</span>
      </div>
    </div>
  </div>
</div>