<form ng-submit="ok()">
  <div class="modal-header" ng-switch="status">
    <h3 class="modal-title" id="modal-title" ng-switch-when="f">Finalize Order</h3>
    <h3 class="modal-title" id="modal-title" ng-switch-when="p">Request for Approval</h3>
    <h3 class="modal-title" id="modal-title" ng-switch-default>Cancel Order</h3>
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">x</button>
  </div>

  <div class="modal-body" ng-focus="find()" id="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <label ng-switch="status">Are you sure you want to 
          <span ng-switch-when="f">Finalize Order</span>
          <span ng-switch-when="p">Request for Approval</span>
          <span ng-switch-default>Cancel Order</span>? Please enter the reason below.
        </label>
        <textarea ng-model="reason" class="form-control" placeholder="Enter your reason here..." required>
        </textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-switch="status">
    <button class="btn btn-default pull-left hidden-xs" type="button" ng-click="cancel()">Cancel</button>

    <span ng-switch-when="f">
      <button class="btn btn-primary" type="submit">Finalize Order</button>
    </span>
    
    <span ng-switch-when="p">
      <button class="btn btn-primary" type="submit">Request For Approval</button>
    </span>

    <span ng-switch-default>
      <button class="btn btn-primary" type="submit">Cancel Order</button>
    </span>
  </div>
</form>