<section class="row" ng-controller="CreateOrderController">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="panel panel-default col-md-12">
          <h1>Buy Order</h1>
          <section class="row">
            <div class="form-group col-md-12">
              <button ng-click="openCreateBuyOrderModal()" class="col-md-12 btn btn-primary">+ Create Buy Order</button>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default col-md-12">
          <h1>Sell Order</h1>
          <section class="row">
            <div class="form-group col-md-12">
              <button ng-click="openCreateSellOrderModal()" class="col-md-12 btn btn-primary">+ Create Sell Order</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>