<div ng-controller="OrderSellerController">
    <table class="table table-striped" ng-init="find()">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Contact Person</th>
                <th>Telephone</th>
                <th>Quantity</th>
                <th>Volume</th>
                <th>Moisture</th>
                <th>Sulphur</th>
                <th>Ash</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
            <tbody>
                <tr ng-repeat="orderSeller in orderSellers">
                    <td>{{ orderSeller.created_at }}</td>
                    <td>{{ orderSeller.order.contact }}</td>
                    <td>{{ orderSeller.order.phone }}</td>
                    <td>{{ orderSeller.tonnage }} tonnes</td>
                    <td>{{ orderSeller.order.caloric_min }} kCal - {{ orderSeller.order.caloric_max }} kCal</td>
                    <td>{{ orderSeller.order.moisture_min }} % - {{ orderSeller.order.moisture_max }} %</td>
                    <td>{{ orderSeller.order.sulphur_min }} % - {{ orderSeller.order.sulphur_max }} %</td>
                    <td>{{ orderSeller.order.ash_min }} % - {{ orderSeller.order.ash_max }} %</td>
                    <td ng-if="orderSeller.status == 'o'" style="background-color: gray;" class="text-center">
                        Open
                    </td>
                    <td ng-if="orderSeller.status == 'p'" style="background-color: yellow;" class="text-center">
                        On Process
                    </td>
                    <td ng-if="orderSeller.status == 'f'" style="background-color: lime;" class="text-center">
                        Finished
                    </td>
                    <td ng-if="orderSeller.status == 'c'" style="background-color: red;" class="text-center">
                        Cancelled
                    </td>
                    <td>
                        <a ng-click="attendTransaction(orderSeller)" class="btn btn-default">ATTEND</a>
                    </td>
                    <td>
                        <a ng-click="deliverTransaction(orderSeller)" class="btn btn-default">DELIVER</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>