<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label>Name of Map Details:</label>
      <input type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Type:</label>
      <select class="form-control">
        <option value="Road">Road</option>
        <option value="River">River</option>
        <option value="HTI">HTI</option>
        <option value="HPH">HPH</option>
      </select>
    </div>
  </div>

  <div class="col-lg-6">
    <label>Upload DBF File:</label></br>
    <input type="file" name="fileToUpload" id="fileToUpload" class="form-control">
    </br><label>Upload SHP File:</label></br>
    <input type="file" name="fileToUpload" id="fileToUpload" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Submit</button>

</div>