<div ng-controller="ProductController">
  <h1>Sell Order History</h1>
  <hr/>
  
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-body">
          <h2>Filters</h2>
          <hr/>
          <div class="row">
            <div class="col-md-12">
              <h4>Seller</h4>
              <p class="input-group">
                <input type="text" class="form-control" ng-model="fSellerName" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Trader</h4>
              <p class="input-group">
                <input type="text" class="form-control" ng-model="fTrader" />
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Status</h4>
              <p class="input-group">
                <select class="form-control" ng-model="fTrader" >
                  <option value="">ALL</option>
                  <option value="">Finished</option>
                  <option value="">Cancelled</option>
                  <option value="">Rejected</option>
                </select>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Min Date</h4>
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtMin" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <div class="col-md-6">
              <h4>Max Date</h4>
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dtMax" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
          <div class="row">
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-9">
      <section ng-include="'/angular/views/product/table.view.html'" ng-init="find()"></section>
    </div>
  </div>
</div>

<!--section ng-controller="ProductController" ng-init="findOne()"> 
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>  Caloric :
        <span class="pull-right">{{ product.caloric_min | number }} - {{ product.caloric_max | number }} kcal/kg</span>
    </li>
    <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Moist :
        <span class="pull-right">{{ product.moisture_min }}% - {{ product.moisture_max }}%</span>
    </li>
    <li class="list-group-item list-group-item-warning">
        <span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Sulphur :
        <span class="pull-right">{{ product.sulphur_min }}% - {{ product.sulphur_max }}%</span>
    </li>
    <li class="list-group-item list-group-item-success">
        <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Ash :
        <span class="pull-right">{{ product.ash_min }}% - {{ product.ash_max }}%</span>
    </li>
  </ul>

  <div class="caption">
    <h3>{{ product.tonnage | number:2 }}</h3>
    <p>tonnes available</p>
    <p class="btn-group">
        <a  ui-sref="product.add({ id: product.id })" class="btn btn-primary" role="button">
          <i class="glyphicon glyphicon-plus"></i> Production
        </a>
        <a ui-sref="product.opname({ id: product.id })" class="btn btn-default" role="button" title="stock opname">
          <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a ui-sref="product.update({ id: product.id })" class="btn btn-default" role="button" title="edit">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <button ng-click="delete(product.id)" class="btn btn-default" role="button" title="delete">
          <i class="glyphicon glyphicon-trash"></i>
        </button>

    </p>
  </div>

  <table class="table table-striped">
  	<thead><tr>
  		<th>Date</th>
      <th>Tonnage</th>
  		<th>Desc</th>
  	</tr></thead>
  	<tbody>
  		<tr ng-repeat="production in product.production">
  			<td>{{ production.created_at | date }}</td>		
        <td>{{ production.tonnage | number }}</td>    
  			<td>{{ production.description }}</td>		
  		</tr>
  	</tbody>
  </table>

</section-->