<div class="row" ng-controller="ProductController" ng-init="findOne()">
  <div class="col-sm-12">
      <div class="thumbnail">
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger">
              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>  Caloric :
              <span class="pull-right">{{ product.caloric_min | number }} - {{ product.caloric_max | number }} kcal/kg</span>
          </li>
          <li class="list-group-item list-group-item-info">
              <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Moist :
              <span class="pull-right">{{ product.moisture_min }}% - {{ product.moisture_max }}%</span>
          </li>
          <li class="list-group-item list-group-item-warning">
              <span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Sulphur :
              <span class="pull-right">{{ product.sulphur_min }}% - {{ product.sulphur_max }}%</span>
          </li>
          <li class="list-group-item list-group-item-success">
              <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Ash :
              <span class="pull-right">{{ product.ash_min }}% - {{ product.ash_max }}%</span>
          </li>
        </ul>
        <p>{{ product.label }}</p>
        <h3>{{ product.tonnage | number:2 }}</h3>
        <p>tonnes available</p>
      </div>
      <div class="caption">
        <div class="caption">
          <h3>Possible Match Orders</h3>
          <table class="table table-striped" ng-init="matchProduct(product.id)">
            <thead>
                <tr>
                    <th>Ordered By</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Caloric</th>
                    <th>Moisture</th>
                    <th>Sulphur</th>
                    <th>Ash</th>
                    <th>Distance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="m in match">
                    <td>{{ m.contact }}</td>
                    <td>{{ m.phone }}</td>
                    <td>{{ m.pickup_location }}</td>
                    <td >{{ m.caloric_min }} kCal - {{ m.caloric_max }} kCal</td>
                    <td >{{ m.moisture_min }} % - {{ m.moisture_max }} %</td>
                    <td >{{ m.sulphur_min }} % - {{ m.sulphur_max }} %</td>
                    <td >{{ m.ash_min }} % - {{ m.ash_max }} %</td>
                    <td >{{ m.posdif * 111.32 | number }} km</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>