<h3 style="text-align: center;">Your IUP Overview</h3></br>
<section ng-controller="BizdevController">

  <div class=" col-xs-6">

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Proposal Status</h3>
      </div>
      <div class="box-body">
        <table class="table table-striped table-bordered">
          <thead>
              <tr>
                <th style="min-width: 200px;"></th>
                <th style="text-align: center;">2014</th>
                <th style="text-align: center;">2015</th>
                <th style="text-align: center;">2016</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>Offer Rejected</td>
              <td style="text-align: center;">19</td>
              <td style="text-align: center;">25</td>
              <td style="text-align: center;">26</td>
            </tr>
            <tr>
              <td>Offer Approved to Level 2</td>
              <td style="text-align: center;">12</td>
              <td style="text-align: center;">15</td>
              <td style="text-align: center;">20</td>
            </tr>
            <tr>
              <td>On Progress</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">5</td>
            </tr>
            <tr>
              <td style="text-align: right;"><b>Total</b></td>
              <td style="text-align: center;">34</td>
              <td style="text-align: center;">44</td>
              <td style="text-align: center;">51</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Data Status</h3>
      </div>
      <div class="box-body">
        <table class="table table-striped table-bordered">
          <thead>
              <tr>
                <th style="min-width: 200px;"></th>
                <th style="text-align: center;">2014</th>
                <th style="text-align: center;">2015</th>
                <th style="text-align: center;">2016</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>Offer with Sufficient Data</td>
              <td style="text-align: center;">27</td>
              <td style="text-align: center;">35</td>
              <td style="text-align: center;">39</td>
            </tr>
            <tr>
              <td>Offer Insufficient Data</td>
              <td style="text-align: center;">7</td>
              <td style="text-align: center;">9</td>
              <td style="text-align: center;">12</td>
            </tr>
            <tr>
              <td style="text-align: right;"><b>Total</b></td>
              <td style="text-align: center;">34</td>
              <td style="text-align: center;">44</td>
              <td style="text-align: center;">51</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Reason to Reject</h3>
      </div>
      <div class="box-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th style="min-width: 200px;"></th>
              <th style="text-align: center;">2014</th>
              <th style="text-align: center;">2015</th>
              <th style="text-align: center;">2016</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Data License</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">6</td>
            </tr>
            <tr>
              <td>Infrastructure</td>
              <td style="text-align: center;">2</td>
              <td style="text-align: center;">2</td>
              <td style="text-align: center;">3</td>
            </tr>
            <tr>
              <td>Land Use</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">5</td>
              <td style="text-align: center;">5</td>
            </tr>
            <tr>
              <td>Geological</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">8</td>
            </tr>
            <tr>
              <td>Others</td>
              <td style="text-align: center;">5</td>
              <td style="text-align: center;">8</td>
              <td style="text-align: center;">4</td>
            </tr>
            <tr>
              <td style="text-align: right;"><b>Total</b></td>
              <td style="text-align: center;">19</td>
              <td style="text-align: center;">25</td>
              <td style="text-align: center;">26</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Proposed Location</h3>
      </div>
      <div class="box-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th style="min-width: 200px;"></th>
              <th style="text-align: center;">2014</th>
              <th style="text-align: center;">2015</th>
              <th style="text-align: center;">2016</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>South Sumatra</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">7</td>
            </tr>
            <tr>
              <td>Jambi</td>
              <td style="text-align: center;">5</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">9</td>
            </tr>
            <tr>
              <td>Bengkulu</td>
              <td style="text-align: center;">5</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">4</td>
            </tr>
            <tr>
              <td>West Sumatra</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">2</td>
            </tr>
            <tr>
              <td>East Kalimantan</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">8</td>
              <td style="text-align: center;">9</td>
            </tr>
            <tr>
              <td>West Kalimantan</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">7</td>
            </tr>
            <tr>
              <td>South Kalimantan</td>
              <td style="text-align: center;">3</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">6</td>
            </tr>
            <tr>
              <td>North Kalimantan</td>
              <td style="text-align: center;">4</td>
              <td style="text-align: center;">6</td>
              <td style="text-align: center;">7</td>
            </tr>
            <tr>
              <td style="text-align: right;"><b>Total</b></td>
              <td style="text-align: center;">34</td>
              <td style="text-align: center;">44</td>
              <td style="text-align: center;">51</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class=" col-xs-6">

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Year to Year Proposal Status</h3>
      </div>
      <div class="box-body">
        <canvas id="bar" class="chart chart-bar"
          chart-data="data1" chart-labels="labels1" chart-series="series1" style="max-height: 185px; max-width: 100%; padding: 0 30px; background-color: white;">
        </canvas>
      </div>
    </div>

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">2016 Proposal Review Status</h3>
      </div>
      <div class="box-body">
        <canvas id="bar" class="chart chart-bar"
          chart-data="data2" chart-labels="labels2" chart-series="series2" style="max-width: 100%; padding: 0 30px; background-color: white;">
        </canvas>
      </div>
    </div>

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Proposal Reject Factors in 2016</h3>
      </div>
      <div class="box-body">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data3" chart-labels="labels3" chart-options="options3" style="max-width: 265px; max-height: 265px; margin-left: 12vw;" >
        </canvas>
      </div>
    </div>

    <div class="box box-info" >
      <div class="box-header with-border">
        <h3 class="box-title">Proposal by Location in 2016</h3>
      </div>
      <div class="box-body">
        <canvas id="pie" class="chart chart-pie"
        chart-data="data4" chart-labels="labels4" chart-options="options4" style="max-width: 265px; max-height: 265px; margin-left: 12vw;" >
        </canvas>
      </div>
    </div>
    
  </div>
</section>
