<div class="form-group">
  <label for="concession_name">Name:</label>
  <input type="text" class="form-control" id="concession_name" ng-model="concession.concession_name">
</div>

<div class="form-group">
  <label for="reserves">Owner:</label>
  <input type="text" class="form-control" id="owner" ng-model="concession.owner">
</div>

<div class="form-group">
  <label for="reserves">Address:</label>
  <input type="text" class="form-control" id="address" ng-model="concession.address">
</div>

<div class="form-group">
  <div class="input-group col-md-12" style="margin-bottom: 5px;">
    <span class="input-group-addon" style="width: 200px;">City</span>
    <input type="text" class="form-control" placeholder="City" ng-model="concession.city">
    <span class="input-group-addon">Country</span>
    <input type="text" class="form-control" placeholder="Country" ng-model="concession.country">
  </div>
</div>

<div class="form-group">
  <div class="input-group col-md-12" style="margin-bottom: 5px;">
    <div class="col-md-6">
      <label for="reserves">Resources:</label>
      <input type="text" class="form-control" id="resource" ng-model="concession.resource">
    </div>
    <div class="col-md-6">
      <label for="reserves">Mineable Reserves:</label>
      <input type="text" class="form-control" id="reserves" ng-model="concession.reserves">
    </div>
  </div>
</div>

<div class="form-group">
  <label for="stripping_ratio">Stripping Ratio:</label>
  <input type="text" class="form-control" id="stripping_ratio" ng-model="concession.stripping_ratio">
</div>

<div class="form-group">
  <label for="size">Size:</label>
  <input type="text" class="form-control" id="size" ng-model="concession.size">
</div>

<div class="form-group">
    <label>Volumes</label>
    <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <span class="input-group-addon" style="width: 200px;">Contracted</span>
        <input type="text" class="form-control" placeholder="Contracted Volume" ng-model="concession.contracted_volume">
        <span class="input-group-addon">Remaining</span>
        <input type="text" class="form-control" placeholder="Remaining Volume" ng-model="concession.remaining_volume">
    </div>
</div>

<div class="form-group">
    <label>Port Location</label>
    <div class="input-group col-md-12" style="margin-bottom: 5px;">
        <span class="input-group-addon" style="width: 200px;">Latitude</span>
        <input type="text" class="form-control" placeholder="Latitude" ng-model="concession.latitude">
        <span class="input-group-addon">Longitude</span>
        <input type="text" class="form-control" placeholder="Longitude" ng-model="concession.longitude">
    </div>
</div>

<div class="form-group">
  <label for="polygon">Polygon: </label>
  <textarea class="form-control" ng-model="polygon"></textarea>
  <button type="button" class="btn btn-default" ng-click="updatePolygon()">Update Polygon</button>
  <button type="button" class="btn btn-danger" ng-click="resetPolygon()">Clear Polygon</button>
  <!--ng-map zoom="4" center="Indonesia" on-click="addMarkerAndPath()"-->
  <ng-map zoom="4" center="Indonesia">
    <!--shape name="polygon" id="foo"
      path="{{polygon}}"
      stroke-color="#FF0000"
      stroke-opacity="1.0"
      stroke-weight="3">
    </shape-->
    <drawing-manager
      on-overlaycomplete="onMapOverlayCompleted()"
      drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon']}"
      drawingControl="true"
      drawingMode="null"
      markerOptions="{icon:'www.example.com/icon'}"
      rectangleOptions="{fillColor:'red'}"
      circleOptions="{fillColor: '#FFFF00',fillOpacity: 1,strokeWeight: 5,clickable: false,zIndex: 1,editable: true}" >
    </drawing-manager>
  </ng-map>
</div>

<div class="form-group">
  <label>Ports</label>
  <div class="input-group col-md-12" style="margin-bottom: 5px;">
      <span class="input-group-addon" style="width: 200px;">Name</span>
      <input type="text" class="form-control" id="port_name" ng-model="concession.port_name">
      <span class="input-group-addon">Distance</span>
      <input type="text" class="form-control" id="port_distance" ng-model="concession.port_distance">
  </div>
</div>

<div class="form-group">
  <label>Roads</label>
  <div class="input-group col-md-12" style="margin-bottom: 5px;">
    <!--span class="input-group-addon" style="width: 200px;">Hauling Road Name</span-->
    <input type="text" class="form-control" placeholder="Hauling Road Name" ng-model="concession.hauling_road_name">
  </div>
</div>

<div class="form-group">
  <div class="input-group col-md-12" style="margin-bottom: 5px;">
    <span class="input-group-addon" style="width: 200px;">Annual Production</span>
    <input type="text" class="form-control" placeholder="Annual Production" ng-model="concession.annual_production">
    <span class="input-group-addon">Stockpile Distance</span>
    <input type="text" class="form-control" placeholder="Stockpile Distance" ng-model="concession.stockpile_distance">
  </div>
</div>

<div class="form-group">
  <div class="input-group col-md-12" style="margin-bottom: 5px;">
      <span class="input-group-addon" style="width: 200px;">Accessibility</span>
      <input type="text" class="form-control" placeholder="Accessibility" ng-model="concession.road_accessibility">
      <span class="input-group-addon">Capacity</span>
      <input type="text" class="form-control" placeholder="Capacity" ng-model="concession.road_capacity">
  </div>
</div>

<div class="form-group">
  <label for="river_capacity">River Capacity:</label>
  <input type="text" class="form-control" id="river_capacity" ng-model="concession.river_capacity">
</div>

<div class="form-group">
  <label>License</label>
  <div class="input-group col-md-12" style="margin-bottom: 5px;">
      <span class="input-group-addon" style="width: 200px;">Type</span>
      <input type="text" class="form-control" placeholder="Type" ng-model="concession.license_type">
      <span class="input-group-addon">Expiry Date</span>
      <input type="date" class="form-control" placeholder="Expiry Date" ng-model="concession.license_expiry_date">
  </div>
</div>

<div class="form-group">
  <label ng-show="error" class="alert alert-danger">{{error}}</label>
</div>

<button type="submit" class="btn btn-default">Submit</button>