<div class="box box-info" ng-controller="ConcessionController">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: 25px">Update Concession {{ concession.concession_name }}</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-primary" ng-click="goBack()">
		        <i class="glyphicon glyphicon-arrow-left"></i> Back
		    </button>
          </div>
        </div>
        <div class="box-body">
         <section ng-init="findOne(concessionId)" >

		  <form role="form" ng-submit="update()" ng-show="!success">
		    <div ng-include="'/angular/lead/views/concession/form.view.html'"></div>
		  </form>
		</section>
        </div>
</div>


