<section ng-controller="PostshipmentController" class="content" style="padding: 0px;" >
  
  <div class="col-lg-12">

    <div class="box box-info">
      <div class="box-header with-border" style="text-align: center;">
        <h3 class="box-title">CONTRACT0010</h3>
      </div>
      <div class="box-body">
        <table class="table table-striped">
          <thead> 
            <tr>
              <th>To-Do</th>
              <th>Deadline</th>
              <th>Status</th>
              <th>Upload Date</th>
              <th>Approval Date</th>              
              <th>Remarks</th>           
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>COA</td>
              <td style="color: red;">1 November 2016</td> 
              <td style="text-align: center;"><i class="fa fa-check"></i></td> 
              <td>17 Agustust 2016</td>
              <td style="color: green;">29 Agustust 2016</td>
              <td>Data Approved</td>
            </tr>
            <tr>
              <td>BAST</td>
              <td style="color: orange;">21 January 2017</td> 
              <td style="text-align: center;"><i class="fa fa-times"></i></td> 
              <td>20 November 2016</td>
              <td style="color: red;">17 November 2016</td>
              <td>Data Rejected</td>
            </tr>
            <tr>
              <td>Invoice</td>
              <td>31 January 2017</td> 
              <td style="text-align: center;"><i class="fa fa-clock-o"></i></td> 
              <td>25 September 2016</td>
              <td></td>
              <td>Data in Process</td>
            </tr>    
          </tbody>
        </table>
      </div>
    </div>
  </div> 

</section>